.table-elements {
  margin: 0 auto;
}
/**********************
     =sv-aside-nav
**********************/
/*Remax*/
.elements-nav-wrapper {
  padding-left: 10px;
  margin-left: 15px;
}
.search-tabs-wrapper {
  padding-right: 10px;
}
.search-tabs-wrapper li a {
  font-size: 1em;
}
/*Template*/
.left-sidebar {
  background-color: #f3f3f3;
  padding-right: 0px;
  padding-left: 0px;
}
/*------------------------------------------------*/
/*	Aside Navigation
/*------------------------------------------------*/
/* aside menu */
.aside-menu {
  padding-left: 0;
  border-bottom: #dedede 1px solid;
  list-style-type: none;
  line-height: 30px;
}
.aside-menu li a {
  display: block;
  position: relative;
  padding: 10px 0 10px 15px;
  color: #3c3c3c;
  background-color: #ebebeb;
  border-top: #dedede 1px solid;
}
.aside-menu li a:hover,
.aside-menu li a:active,
.aside-menu li a:focus {
  border-top: #dedede 1px solid;
  background-color: #f3f3f3;
  text-decoration: none;
}
.aside-menu > li:first-child > a {
  border-top: none;
}
.aside-menu li a .text {
  padding-left: 8px !important;
}
.aside-menu .fa {
  width: 14px;
  text-align: center;
}
.aside-menu .toggle-icon {
  font-size: 14px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: 13px;
  text-shadow: none;
}
.sub-menu li a .text {
  padding-left: 20px !important;
}
/**********************
     =sv-aside-panel
**********************/
.sidebar-content {
  padding: 0 10px;
}
.sidebar-content .text-panel {
  padding-left: 5px;
}
/* tips panel */
.app-tips {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.app-tips .panel-heading {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #f2f2f2 !important;
}
.app-tips .panel-body {
  background-color: #fbfbfb !important;
}
.app-tips .panel-body p {
  font-size: 12px;
}
.app-tips .panel-heading h5 {
  margin: 0;
}
/* info panel */
h5.label-default-head {
  padding: 10px 15px;
  background-color: #777;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  display: block;
  font-size: 0.9em;
  text-align: left;
  margin-bottom: 0;
}
.list-info-sidebar {
  padding: 5px 10px;
  border: 1px solid #c9c9c9;
}
.list-info-sidebar li {
  font-size: 10px;
  margin-bottom: 0;
}
.list-info-sidebar span {
  display: block;
  vertical-align: middle;
  vertical-align: auto;
  padding: 5px;
  line-height: 15px;
}
.list-info-sidebar .info-name {
  width: 100%;
  background-color: transparent;
  color: #ababab !important;
  font-size: 11px;
  vertical-align: top;
}
.list-info-sidebar .info-value {
  padding-left: 10px;
}
.your-element-form-wrapper {
  padding: 10px;
  display: block;
}
.label-text {
  padding-left: 5px;
  display: inline-block;
}
