@import 'nib'
@import 'functions'

/**********************
     =sv-aside-nav
**********************/

.left-sidebar
  padding-right 0px
  padding-left 0px

/*------------------------------------------------*/
/*	Aside Navigation
/*------------------------------------------------*/

/* aside menu */
.aside-menu
  padding-left 0
  border-bottom border-app-light
  list-style-type none

.aside-menu
  li
    a
      display block
      position relative
      padding 10px 0 10px 15px
      color color-app
      background-color color-darken
      border-top border-app-light
      &:hover
      &:active
      &:focus
        border-top border-app-light
        background-color color-content
        text-decoration none

.aside-menu > li:first-child > a
  border-top none

.aside-menu
  li
    a
      .text
        padding-left 8px !important
  .fa
    width 14px
    text-align center
  .toggle-icon
    font-size 14px
    width 10px
    position absolute
    right 10px
    top 13px
    text-shadow none

.sub-menu
  li
    a
      .text
        padding-left 20px !important

/**********************
     =sv-aside-panel
**********************/

.app-info
  background-color lighten(color-skin, 95%) !important

h5.label-default-custom
  padding 10px
  background-color lighten(color-skin, 37%)
  border-radius 0px

/* info panel */

.text-panel
  padding-left 5px

.sidebar-content {
  padding: 0 10px;
  margin-top: 30px;
}

.sidebar-content .panel-heading h5 {
  margin: 0;
}

.sidebar-content p {
  font-size: 0.85em;
}

.sidebar-content > h5 {
  display: block;
  font-size: 0.9em;
  text-align: left;
  margin-bottom: 0;
}

.sidebar-content .list-info-sidebar {
  border: 1px solid #ccc;
}

.sidebar-content .list-info-sidebar li {
  font-size: 12px;
}

.sidebar-content .list-info-sidebar .data-name {
  width: 100%;
  background-color: transparent;
}

.sidebar-content .list-info-sidebar .progress {
  margin-bottom: 0;
}

.left-sidebar.minified .sidebar-content {
  display: none;
}

/* 2 column data presentation */
.data-row {
  margin-bottom: 0;
}

.data-row .data-name
.data-row .data-value {
  display: block;
  vertical-align: middle;
  vertical-align: auto;
  padding: 5px;
}

.data-row .data-name {
  width: 12em;
  line-height 15px
  background-color: #ececec;
  color: #b9b9b9;
  font-size: 0.9em;
  vertical-align: top;
}

.data-row .data-value {
  padding-left: 10px;
}

