/**********************
     =sv-aside-nav
**********************/
.left-sidebar {
  padding-right: 0px;
  padding-left: 0px;
}
/*------------------------------------------------*/
/*	Aside Navigation
/*------------------------------------------------*/
/* aside menu */
.aside-menu {
  padding-left: 0;
  border-bottom: #beffbe 1px solid;
  list-style-type: none;
}
.aside-menu li a {
  display: block;
  position: relative;
  padding: 10px 0 10px 15px;
  color: #008000;
  background-color: #d9ffd9;
  border-top: #beffbe 1px solid;
}
.aside-menu li a:hover,
.aside-menu li a:active,
.aside-menu li a:focus {
  border-top: #beffbe 1px solid;
  background-color: #e8ffe8;
  text-decoration: none;
}
.aside-menu > li:first-child > a {
  border-top: none;
}
.aside-menu li a .text {
  padding-left: 8px !important;
}
.aside-menu .fa {
  width: 14px;
  text-align: center;
}
.aside-menu .toggle-icon {
  font-size: 14px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: 13px;
  text-shadow: none;
}
.sub-menu li a .text {
  padding-left: 20px !important;
}
/**********************
     =sv-aside-panel
**********************/
.sidebar-content {
  padding: 0 10px;
}
.sidebar-content .text-panel {
  padding-left: 5px;
}
/* tips panel */
.app-tips {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.app-tips .panel-heading {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #f2f2ff !important;
}
.app-tips .panel-body p {
  font-size: 12px;
}
.app-tips .panel-heading h5 {
  margin: 0;
}
/* info panel */
h5.label-default-custom {
  padding: 10px 15px;
  background-color: #5e5eff;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  display: block;
  font-size: 0.9em;
  text-align: left;
  margin-bottom: 0;
}
.list-info-sidebar {
  padding: 5px 10px;
  border: 1px solid #bfbfff;
}
.list-info-sidebar li {
  font-size: 10px;
  margin-bottom: 0;
}
.list-info-sidebar span {
  display: block;
  vertical-align: middle;
  vertical-align: auto;
  padding: 5px;
  line-height: 15px;
}
.list-info-sidebar .info-name {
  width: 100%;
  background-color: transparent;
  color: #5bff5b !important;
  font-size: 11px;
  vertical-align: top;
}
.list-info-sidebar .info-value {
  padding-left: 10px;
}
