/**********************
     =sv-aside-nav
**********************/
.aside-nav,
.list-aside-nav {
  margin-bottom: 10px;
}
/**********************
     =sv-aside-panel
**********************/
.panel-info {
  background-color: rgba(0,195,255,0.09);
  border-color: rgba(0,151,197,0.09);
  padding: 15px;
  font-size: 14px;
  line-height: 26px;
}
.custom-panel {
  -webkit-border-radius: ;
  -moz-border-radius: argument;
  border: 2px #8d8d8d solid;
}
.custom-panel:hover {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
