/**********************
     =sv-aside-nav
**********************/
.left-sidebar {
  padding-right: 0px;
  padding-left: 0px;
}
/*------------------------------------------------*/
/*	Aside Navigation
/*------------------------------------------------*/
/* aside menu */
.aside-menu {
  padding-left: 0;
  border-bottom: #dedede 1px solid;
  list-style-type: none;
}
.aside-menu li a {
  display: block;
  position: relative;
  padding: 10px 0 10px 15px;
  color: #3c3c3c;
  background-color: #ebebeb;
  border-top: #dedede 1px solid;
}
.aside-menu li a:hover,
.aside-menu li a:active,
.aside-menu li a:focus {
  border-top: #dedede 1px solid;
  background-color: #f3f3f3;
  text-decoration: none;
}
.aside-menu > li:first-child > a {
  border-top: none;
}
.aside-menu li a .text {
  padding-left: 8px !important;
}
.aside-menu .fa {
  width: 14px;
  text-align: center;
}
.aside-menu .toggle-icon {
  font-size: 14px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: 13px;
  text-shadow: none;
}
.sub-menu li a .text {
  padding-left: 20px !important;
}
/**********************
     =sv-aside-panel
**********************/
.app-info {
  background-color: #f5f6f6 !important;
}
h5.label-default-custom {
  padding: 10px;
  background-color: #848994;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/* info panel */
.text-panel {
  padding-left: 5px;
}
.sidebar-content {
  padding: 0 10px;
  margin-top: 30px;
}
.sidebar-content .panel-heading h5 {
  margin: 0;
}
.sidebar-content p {
  font-size: 0.85em;
}
.sidebar-content > h5 {
  display: block;
  font-size: 0.9em;
  text-align: left;
  margin-bottom: 0;
}
.sidebar-content .list-info-sidebar {
  border: 1px solid #ccc;
}
.sidebar-content .list-info-sidebar li {
  font-size: 12px;
}
.sidebar-content .list-info-sidebar .data-name {
  width: 100%;
  background-color: transparent;
}
.sidebar-content .list-info-sidebar .progress {
  margin-bottom: 0;
}
.left-sidebar.minified .sidebar-content {
  display: none;
}
/* 2 column data presentation */
.data-row {
  margin-bottom: 0;
}
.data-row .data-name,
.data-row .data-value {
  display: block;
  vertical-align: middle;
  vertical-align: auto;
  padding: 5px;
}
.data-row .data-name {
  width: 12em;
  line-height: 15px;
  background-color: #ececec;
  color: #b9b9b9;
  font-size: 0.9em;
  vertical-align: top;
}
.data-row .data-value {
  padding-left: 10px;
}
