.fire-bg {
  background-color: #f8a1a0;
}
.hard-wood-bg {
  background-color: #bc8f8f;
}
.soft-wood-bg {
  background-color: #deb887;
}
.water-bg {
  background-color: #b0c4de;
}
.soft-metal-bg {
  background-color: #d3d3d3;
}
.hard-metal-bg {
  background-color: #a9a9a9;
}
.mountain-earch-bg {
  background-color: #90ee90;
}
.mother-earth-bg {
  background-color: #98fb98;
}
