@import 'functions'

.element5
  background-color #009900

.fire-bg
  hover-element(fire, 70%)

.water-bg
  hover-element(water, 55%)

.hard-wood-bg
  hover-element(hard-wood, 55%)

.soft-wood-bg
  hover-element(soft-wood, 55%)

.soft-metal-bg
  hover-element(soft-metal, 75%)

.hard-metal-bg
  hover-element(hard-metal, 55%)

.mountain-earth-bg
  hover-element(mountain-earth, 55%)

.mother-earth-bg
  hover-element(mother-earth, 55%)

