@import 'functions'
@import 'fenelements'

.fire-bg
  transition(4s)
  background-color color-darken
  hover-color(#D26C6C)!important

.hard-wood-bg
  background-color: rosybrown

.soft-wood-bg
  background-color: burlywood

.water-bg
  background-color: lightsteelblue

.soft-metal-bg
  background-color: lightgrey

.hard-metal-bg
  background-color: #a9a9a9

.mountain-earch-bg
  background-color: lightgreen

.mother-earth-bg
  background-color: palegreen
