.table-elements {
  margin: 0 auto;
}
/*Remax*/
.elements-wrapper {
  padding: 15px;
}
/*Template Styles*/
.element-1 {
  background-color: #faeae6;
  border-top: 1px #f5d5cc solid;
  border-right: 1px #f5d5cc solid;
  border-left: 1px #f5d5cc solid;
  border-bottom: 1px #f5d5cc solid;
  border-radius: 0px;
}
.element-2 {
  background-color: #f0f4fd;
  border-top: 1px #e0eafb solid;
  border-right: 1px #e0eafb solid;
  border-left: 1px #e0eafb solid;
  border-bottom: 1px #e0eafb solid;
  border-radius: 0px;
}
.element-3 {
  background-color: #f1f6f1;
  border-top: 1px #e3ede4 solid;
  border-right: 1px #e3ede4 solid;
  border-left: 1px #e3ede4 solid;
  border-bottom: 1px #e3ede4 solid;
  border-radius: 0px;
}
.element-4 {
  background-color: #eaf3f3;
  border-top: 1px #d6e7e7 solid;
  border-right: 1px #d6e7e7 solid;
  border-left: 1px #d6e7e7 solid;
  border-bottom: 1px #d6e7e7 solid;
  border-radius: 0px;
}
.element-5 {
  background-color: #fef9f2;
  border-top: 1px #fdf2e5 solid;
  border-right: 1px #fdf2e5 solid;
  border-left: 1px #fdf2e5 solid;
  border-bottom: 1px #fdf2e5 solid;
  border-radius: 0px;
}
.element-6 {
  background-color: #f3f6f8;
  border-top: 1px #e7edf1 solid;
  border-right: 1px #e7edf1 solid;
  border-left: 1px #e7edf1 solid;
  border-bottom: 1px #e7edf1 solid;
  border-radius: 0px;
}
.element-7 {
  background-color: #fbf9f3;
  border-top: 1px #f7f2e7 solid;
  border-right: 1px #f7f2e7 solid;
  border-left: 1px #f7f2e7 solid;
  border-bottom: 1px #f7f2e7 solid;
  border-radius: 0px;
}
.element-8 {
  background-color: #f4f0ef;
  border-top: 1px #e9e2df solid;
  border-right: 1px #e9e2df solid;
  border-left: 1px #e9e2df solid;
  border-bottom: 1px #e9e2df solid;
  border-radius: 0px;
}
.element-post-1 {
  background-color: #fcf2f0;
  border-right: 1px #f5d5cc solid;
  border-left: 1px #f5d5cc solid;
  border-bottom: 1px #f5d5cc solid;
  border-top: 0px;
  border-radius: 0px;
}
.element-post-2 {
  background-color: #f6f9fe;
  border-right: 1px #e0eafb solid;
  border-left: 1px #e0eafb solid;
  border-bottom: 1px #e0eafb solid;
  border-top: 0px;
  border-radius: 0px;
}
.element-post-3 {
  background-color: #f7f9f7;
  border-right: 1px #e3ede4 solid;
  border-left: 1px #e3ede4 solid;
  border-bottom: 1px #e3ede4 solid;
  border-top: 0px;
  border-radius: 0px;
}
.element-post-4 {
  background-color: #f3f8f8;
  border-right: 1px #d6e7e7 solid;
  border-left: 1px #d6e7e7 solid;
  border-bottom: 1px #d6e7e7 solid;
  border-top: 0px;
  border-radius: 0px;
}
.element-post-5 {
  background-color: #fefbf7;
  border-right: 1px #fdf2e5 solid;
  border-left: 1px #fdf2e5 solid;
  border-bottom: 1px #fdf2e5 solid;
  border-top: 0px;
  border-radius: 0px;
}
.element-post-6 {
  background-color: #f8fafb;
  border-right: 1px #e7edf1 solid;
  border-left: 1px #e7edf1 solid;
  border-bottom: 1px #e7edf1 solid;
  border-top: 0px;
  border-radius: 0px;
}
.element-post-7 {
  background-color: #fdfbf8;
  border-right: 1px #f7f2e7 solid;
  border-left: 1px #f7f2e7 solid;
  border-bottom: 1px #f7f2e7 solid;
  border-top: 0px;
  border-radius: 0px;
}
.element-post-8 {
  background-color: #f8f6f5;
  border-right: 1px #e9e2df solid;
  border-left: 1px #e9e2df solid;
  border-bottom: 1px #e9e2df solid;
  border-top: 0px;
  border-radius: 0px;
}
.info {
  color: #272727 !important;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  top: -7px;
}
/*.elements-nav-wrapper*/
/*padding-right 10px*/
/*padding-left 10px*/
/*margin-left 15px*/
.elements-nav {
  padding: 5px 0px;
}
.fen-element-wrapper {
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}
.fen-element {
  text-align: center;
  position: relative;
}
.fen-element span {
  color: false;
  text-shadow: 1px 0px #505050;
  font-size: 12px;
}
.fen-element-cover {
  padding-top: 0px;
  height: 32px !important;
  border-radius: 3px;
  width: 128px;
  relative: 0px;
  background-color: #fbfbfb;
  opacity: 0.8;
}
.vertical-alignment,
.vertical-alignment-cover {
  font-family: font-family 'Karma', serif !important;
  top: 10%;
  position: absolute;
  width: 100%;
  text-align: center;
}
.vertical-alignment span,
.vertical-alignment-cover span {
  text-transform: uppercase;
  color: #fff;
}
.vertical-alignment-cover {
  top: 40%;
}
ul.fen-elements {
  margin: 0 auto;
}
ul.fen-elements li {
  position: relative;
  display: inline-block !important;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 150px !important;
  height: 150px !important;
}
.slide-up {
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.slide-up {
  top: -27.586206896551726px;
}
.slide-up.ng-hide {
  top: 0px;
}
.fire {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-image: url("../images/elements/fire-bw.png");
}
.fire-hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-image: url("../images/elements/fire.png") !important;
}
.water {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-image: url("../images/elements/water-bw.png") !important;
}
.water-hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-image: url("../images/elements/water.png") !important;
}
.soft-wood {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-image: url("../images/elements/soft-wood-bw.png");
}
.soft-wood-hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-image: url("../images/elements/soft-wood.png") !important;
}
.hard-wood {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-image: url("../images/elements/hard-wood-bw.png") !important;
}
.hard-wood-hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-image: url("../images/elements/hard-wood.png") !important;
}
.soft-metal {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #777;
  background-image: url("../images/elements/soft-metal-bw.png") !important;
}
.soft-metal-hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #777;
  background-image: url("../images/elements/soft-metal.png") !important;
}
.hard-metal {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #777;
  background-image: url("../images/elements/hard-metal-bw.png") !important;
}
.hard-metal-hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #777;
  background-image: url("../images/elements/hard-metal.png") !important;
}
.mountain-earth {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #777;
  background-image: url("../images/elements/mountain-earth-bw.png") !important;
}
.mountain-earth-hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #777;
  background-image: url("../images/elements/mountain-earth.png") !important;
}
.mother-earth {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #777;
  background-image: url("../images/elements/mother-earth-bw.png") !important;
}
.mother-earth-hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #777;
  background-image: url("../images/elements/mother-earth.png") !important;
}
