.table-elements {
  margin: 0 auto;
}
.article-wrapper {
  border-radius: 10px;
}
.element-1 {
  background-color: #ae4022;
}
.element-2 {
  background-color: #6495ed;
}
.element-3 {
  background-color: #74a377;
}
.element-4 {
  background-color: #447373;
}
.element-5 {
  background-color: #f4bf7f;
}
.element-6 {
  background-color: #88a6bb;
}
.element-7 {
  background-color: #d8be86;
}
.element-8 {
  background-color: #8f6d60;
}
.info {
  color: #43464d !important;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  top: -7px;
}
.elements-nav-wrapper {
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 15px;
}
.elements-nav {
  padding: 5px 0px;
}
.fen-element-wrapper {
  width: 128px;
  height: 80px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}
.fen-element {
  width: 128px;
  height: 80px;
  text-align: center;
  position: relative;
}
.fen-element span {
  color: false;
  text-shadow: 1px 0px #505050;
  font-size: 12px;
}
.fen-element-cover {
  padding-top: 0px;
  height: 32px !important;
  border-radius: 3px;
  width: 128px;
  position: relative;
  background-color: #fbfbfb;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
.vertical-alignment,
.vertical-alignment-cover {
  font-family: font-family 'Karma', serif !important;
  top: 10%;
  position: absolute;
  width: 100%;
  text-align: center;
}
.vertical-alignment span,
.vertical-alignment-cover span {
  text-transform: uppercase;
  color: #fff;
}
.vertical-alignment-cover {
  top: 40%;
}
ul.fen-elements {
  margin: 0 auto;
  margin: 5px 15px;
  margin: 0.32rem 0.94rem;
  padding-left: 1rem;
}
ul.fen-elements li {
  list-style-type: disc;
  padding: 2px 0;
  padding: 0.125rem;
}
ul.fen-elements li {
  position: relative;
  display: inline-block !important;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 150px !important;
  height: 150px !important;
}
.slide-up {
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.slide-up {
  top: -27.586206896551726px;
}
.slide-up.ng-hide {
  top: 0px;
}
.fire {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-image: url("../images/elements/fire-bw.png");
}
.fire-hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-image: url("../images/elements/fire.png") !important;
}
.water {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-image: url("../images/elements/water-bw.png") !important;
}
.water-hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-image: url("../images/elements/water.png") !important;
}
.soft-wood {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-image: url("../images/elements/soft-wood-bw.png");
}
.soft-wood-hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-image: url("../images/elements/soft-wood.png") !important;
}
.hard-wood {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-image: url("../images/elements/hard-wood-bw.png") !important;
}
.hard-wood-hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-image: url("../images/elements/hard-wood.png") !important;
}
.soft-metal {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #848994;
  background-image: url("../images/elements/soft-metal-bw.png") !important;
}
.soft-metal-hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #848994;
  background-image: url("../images/elements/soft-metal.png") !important;
}
.hard-metal {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #848994;
  background-image: url("../images/elements/hard-metal-bw.png") !important;
}
.hard-metal-hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #848994;
  background-image: url("../images/elements/hard-metal.png") !important;
}
.mountain-earth {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #848994;
  background-image: url("../images/elements/mountain-earth-bw.png") !important;
}
.mountain-earth-hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #848994;
  background-image: url("../images/elements/mountain-earth.png") !important;
}
.mother-earth {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #848994;
  background-image: url("../images/elements/mother-earth-bw.png") !important;
}
.mother-earth-hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #848994;
  background-image: url("../images/elements/mother-earth.png") !important;
}
