.center-auto
  margin 0 auto  !important
  display inline-block !important
  background-color green

.r
  margin 3px
  cursor pointer

.el1
  square-custom(indianred)

.el1-more
  square-custom(lighten(#CD5C5C, 35%))
  color color-app !important
  top 180px

.el2
  background-color #D8BE86 !important
  border-radius 5px
  size(180px)
  color white
  text-align center
  position relative
  overflow hidden

.el2-more
  @extend .el1
  background-color lighten(#CD5C5C, 15%) !important
  position: relative
  top 180px

.el3
  background-color #6D9E70
  border-radius 5px
  size(180px)
  color white
  text-align center
  position relative
  overflow hidden

.el3-more
  @extend .el1
  background-color lighten(#CD5C5C, 15%) !important
  position: relative
  top 180px

.el4
  background-color cornflowerblue
  border-radius 5px
  size(180px)
  color white
  text-align center
  position relative
  overflow hidden

.el4-more
  @extend .el1
  background-color lighten(#CD5C5C, 15%) !important
  position: relative
  top 180px

.el5
  background-color #88A6BB !important
  size(180px)
  border-radius 5px
  color white
  text-align center
  position relative
  overflow hidden

.el5-more
  @extend .el1
  background-color lighten(#CD5C5C, 15%) !important
  position: relative
  top 180px

.el6
  background-color #F4BF7F
  border-radius 5px
  size(180px)
  color white
  text-align center
  position relative
  overflow hidden

.el6-more
  @extend .el1
  background-color lighten(#CD5C5C, 15%) !important
  position: relative
  top 180px

.el7
  background-color darkslategrey
  border-radius 5px
  size(180px)
  color white
  text-align center
  position relative
  overflow hidden

.el7-more
  @extend .el1
  background-color lighten(#CD5C5C, 15%) !important
  position: relative
  top 180px

.el8
  background-color #86665A !important
  border-radius 5px
  size(180px)
  color white
  text-align center
  position relative
  overflow hidden

.el8-more
  @extend .el1
  background-color lighten(#CD5C5C, 15%) !important
  position: relative
  top 180px

.va
  font-family font-family 'Karma', serif !important
  top 40%
  position absolute
  width 100%
  text-align center

/*z-index -99*/

.green
  background-color green

.blue
  background-color blue

.black
  background-color black
  color white

.cursor-p
  cursor pointer

.full-height
  height 100%
  color #ffffff
  text-align center
  margin 5px
  box-shadow 10px 10px 5px #88Update-Database -Force
  8888
  border-radius 15px
  position: relative

/*overflow hidden*/

ul.fen-elements
  margin 0 auto
  ul(style = disc)
  li
    position: relative
    display: inline-block !important
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    width 150px !important
    height 150px !important

.element-info
  position relative
  bottom -100%
  background-color darkseagreen
  height 100%


