@import 'functions'

width = 128px
height = 80px

.info
  color water !important

.elements-nav-wrapper
  padding-right 10px
  padding-left 10px
  margin-left 15px

.elements-nav
  padding 5px 0px

.fen-element-wrapper
  size(width, height) !important
  border-radius 3px
  cursor pointer
  overflow hidden

.fen-element
  size(width, height)
  text-align center
  position relative
  span
    color color-light
    text-shadow 1px 0px lighten(color-app, 10%)
    font-size 12px

.fen-element-cover
  height 30px !important
  border-radius 3px
  width width
  relative 0px
  background-color #FBFBFB
  color darkblue
  opacity .6
  font-size 1em !important

.vertical-alignment
  font-family font-family 'Karma', serif !important
  top 40%
  position absolute
  width 100%
  text-align center
  span
    color white

ul.fen-elements
  margin 0 auto
  ul(style = disc)
  li
    position: relative
    display: inline-block !important
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    width 150px !important
    height 150px !important

.slide-up
  position: relative
  transition(1s)

.slide-up
  top - (height/2.9)

.slide-up.ng-hide
  top 0px;

.fire
  transition(1s)
  background-image url("../images/elements/fire-bw.png")

.fire-hover
  transition(1s)
  background-image url("../images/elements/fire.png") !important

.soft-wood
  transition(1s)
  background-color label-default-background
  hover-color(soft-wood)!important

.hard-wood
  transition(1s)
  background-color label-default-background
  hover-color(hard-wood)!important

.water
  transition(1s)
  background-color label-default-background
  hover-color(water)!important

.soft-metal
  transition(1s)
  background-color label-default-background
  hover-color(soft-metal)!important

.hard-metal
  transition(1s)
  background-color label-default-background
  hover-color(hard-metal)!important

.mountain-earth
  transition(1s)
  background-color label-default-background
  hover-color(mountain-earth)!important

.mother-earth
  transition(1s)
  background-color label-default-background
  hover-color(mother-earth)!important

