.el1,
.el1-more,
.el2-more,
.el3-more,
.el4-more,
.el5-more,
.el6-more,
.el7-more,
.el8-more {
  background-color: #b44326;
  width: 180px;
  height: 180px;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.el1-more {
  background-color: #808080;
  position: relative;
  top: 180px;
}
.el2 {
  background-color: #f2a34f;
  width: 180px;
  height: 180px;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.el2-more {
  background-color: #808080;
  position: relative;
  top: 180px;
}
.el3 {
  background-color: #7fc028;
  width: 180px;
  height: 180px;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.el3-more {
  background-color: #89ffa3;
  position: relative;
  top: 180px;
}
.el4 {
  background-color: #6495ed;
  width: 180px;
  height: 180px;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.el4-more {
  background-color: #808080;
  position: relative;
  top: 180px;
}
.el5 {
  background-color: #b0c4de;
  width: 180px;
  height: 180px;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.el5-more {
  background-color: #808080;
  position: relative;
  top: 180px;
}
.el6 {
  background-color: #cd5c5c;
  width: 180px;
  height: 180px;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.el6-more {
  background-color: #808080;
  position: relative;
  top: 180px;
}
.el7 {
  background-color: #2f4f4f;
  width: 180px;
  height: 180px;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.el7-more {
  background-color: #808080;
  position: relative;
  top: 180px;
}
.el8 {
  background-color: #d3d3d3;
  width: 180px;
  height: 180px;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.el8-more {
  background-color: #808080;
  position: relative;
  top: 180px;
}
.va {
  top: 50%;
  position: absolute;
  width: 100%;
  text-align: center;
}
/*z-index -99*/
.green {
  background-color: #7fc028;
}
.blue {
  background-color: #00a6fc;
}
.black {
  background-color: #272727;
  color: #fff;
}
.cursor-p {
  cursor: pointer;
}
.full-height {
  height: 100%;
  color: #fff;
  text-align: center;
  margin: 5px;
  box-shadow: 10px 10px 5px #888 Update-Database -Force;
  border-radius: 15px;
  position: relative;
}
/*overflow hidden*/
ul.fen-elements {
  margin: 0 auto;
  margin: 5px 15px;
  margin: 0.32rem 0.94rem;
  padding-left: 1rem;
}
ul.fen-elements li {
  list-style-type: disc;
  padding: 2px 0;
  padding: 0.125rem;
}
ul.fen-elements li {
  position: relative;
  display: inline-block !important;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 150px !important;
  height: 150px !important;
}
.element-info {
  position: relative;
  bottom: -100%;
  background-color: #8fbc8f;
  height: 100%;
}
