.center-auto
  margin 0 auto !important
  display inline-block !important
  background-color green

.r
  margin 3px
  cursor pointer

.el1
  square-custom(lighten(#CD5C5C, 10%))

.el2
  square-custom(#D8BE86)

.el3
  square-custom(lighten(#6D9E70, 5%))

.el4
  square-custom(cornflowerblue)

.el5
  square-custom(#88A6BB)

.el6
  square-custom(#F4BF7F)

.el7
  square-custom(lighten(darkslategrey, 15%))

.el8
  square-custom(lighten(#86665A, 5%))

.el1-more
.el2-more
.el3-more
.el4-more
.el5-more
.el6-more
.el7-more
.el8-more
  square-hover()

.va
  font-family font-family 'Karma', serif !important
  top 40%
  position absolute
  width 100%
  text-align center

/*z-index -99*/

.green
  background-color green

.blue
  background-color blue

.black
  background-color black
  color white

.cursor-p
  cursor pointer

.full-height
  height 100%
  color #ffffff
  text-align center
  margin 5px
  box-shadow 10px 10px 5px #88 Update-Database -Force
  8888
  border-radius 15px
  position: relative

/*overflow hidden*/

ul.fen-elements
  margin 0 auto
  ul(style = disc)
  li
    position: relative
    display: inline-block !important
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    width 150px !important
    height 150px !important

.element-info
  position relative
  bottom -100%
  background-color darkseagreen
  height 100%


