.table-elements {
  margin: 0 auto;
}
.fen-element-wrapper {
  width: 180px;
  height: 180px;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}
.fen-element {
  width: 180px;
  height: 180px;
  text-align: center;
  position: relative;
  color: #f5f5f5;
}
.fen-element span {
  font-size: 17px;
}
.fen-element-cover {
  width: 180px;
  height: 60px;
  position: relative;
  background-color: #b2b2b2;
  color: #00008b;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.vertical-alignment {
  font-family: font-family 'Karma', serif !important;
  top: 40%;
  position: absolute;
  width: 100%;
  text-align: center;
}
ul.fen-elements {
  margin: 0 auto;
  margin: 5px 15px;
  margin: 0.32rem 0.94rem;
  padding-left: 1rem;
}
ul.fen-elements li {
  list-style-type: disc;
  padding: 2px 0;
  padding: 0.125rem;
}
ul.fen-elements li {
  position: relative;
  display: inline-block !important;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 150px !important;
  height: 150px !important;
}
.slide-up {
  position: relative;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.slide-up {
  top: -60px;
}
.slide-up.ng-hide {
  top: 0px;
}
.hard-wood {
  -webkit-transition: background-color 1s ease;
  background-color: #43464d;
}
.hard-wood:hover {
  background-color: #00a6fc;
}
.soft-wood {
  -webkit-transition: background-color 1s ease;
  background-color: #43464d;
}
.soft-wood:hover {
  background-color: #7fc028;
}
