.center-auto {
  margin: 0 auto !important;
  display: inline-block !important;
  background-color: #7fc028;
}
.r {
  margin: 3px;
  cursor: pointer;
}
.el1-more {
#df9595
  color: color-app !important;
  top: 180px;
}
.el2 {
  background-color: #d8be86 !important;
  border-radius: 5px;
  width: 180px;
  height: 180px;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.el2-more {
#df9595
  color: color-app !important;
  top: 180px;
}
.el3 {
  background-color: #6d9e70;
  border-radius: 5px;
  width: 180px;
  height: 180px;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.el3-more {
#df9595
  color: color-app !important;
  top: 180px;
}
.el4 {
  background-color: #6495ed;
  border-radius: 5px;
  width: 180px;
  height: 180px;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.el4-more {
#df9595
  color: color-app !important;
  top: 180px;
}
.el5 {
  background-color: #88a6bb !important;
  width: 180px;
  height: 180px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.el5-more {
#df9595
  color: color-app !important;
  top: 180px;
}
.el6 {
  background-color: #f4bf7f;
  border-radius: 5px;
  width: 180px;
  height: 180px;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.el6-more {
#df9595
  color: color-app !important;
  top: 180px;
}
.el7 {
  background-color: #2f4f4f;
  border-radius: 5px;
  width: 180px;
  height: 180px;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.el7-more {
#df9595
  color: color-app !important;
  top: 180px;
}
.el8 {
  background-color: #86665a !important;
  border-radius: 5px;
  width: 180px;
  height: 180px;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.el8-more {
#df9595
  color: color-app !important;
  top: 180px;
}
.va {
  font-family: font-family 'Karma', serif !important;
  top: 40%;
  position: absolute;
  width: 100%;
  text-align: center;
}
/*z-index -99*/
.green {
  background-color: #7fc028;
}
.blue {
  background-color: #00a6fc;
}
.black {
  background-color: #272727;
  color: #fff;
}
.cursor-p {
  cursor: pointer;
}
.full-height {
  height: 100%;
  color: #fff;
  text-align: center;
  margin: 5px;
  box-shadow: 10px 10px 5px #888 Update-Database -Force;
  border-radius: 15px;
  position: relative;
}
/*overflow hidden*/
ul.fen-elements {
  margin: 0 auto;
  margin: 5px 15px;
  margin: 0.32rem 0.94rem;
  padding-left: 1rem;
}
ul.fen-elements li {
  list-style-type: disc;
  padding: 2px 0;
  padding: 0.125rem;
}
ul.fen-elements li {
  position: relative;
  display: inline-block !important;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 150px !important;
  height: 150px !important;
}
.element-info {
  position: relative;
  bottom: -100%;
  background-color: #8fbc8f;
  height: 100%;
}
