@import 'nib'
@import 'functions'

/**********************
    =footer
***********************/

.footer
  background-color lighten(color-skin, 25%)
  height 60px
  span, a
    color color-lighten

.footer-content
  padding-top 15px
  padding-bottom 15px

.copyright
  display inline-block
  margin-top 10px


