.form-group {
  margin-bottom: 10px;
}
label {
  margin-bottom: 0px;
}
.table-elements {
  margin: 0 auto;
}
/**********************
    =footer
***********************/
.footer-container {
  background-color: #dfdfdf;
}
.footer-container hr {
  margin-top: 0px;
  margin-bottom: 5px;
}
.footer-container ul li {
  font-size: 11px;
}
.footer-container h5 {
  font-size: 11px;
}
.footer-container p {
  font-size: 11px;
}
.footer-wrapper {
  padding: 10px;
}
.footer {
  background-color: #5d5d5d;
  height: 60px;
}
.footer p {
  color: #fbfbfb;
}
.footer-content {
  padding-top: 15px;
  padding-bottom: 15px;
}
.copyright {
  display: inline-block;
  margin-top: 10px;
}
.properties-footer h5 {
  color: #396c95;
  text-shadow: app-text-shadow;
}
.properties-footer p a {
  color: #659ac4;
  text-shadow-blue: app-text-shadow;
}
