/**********************
    =footer
***********************/
.footer {
  background-color: #6e727e;
  height: 60px;
}
.footer span {
  color: #f9f9f9 !important;
}
.footer a {
  cursor: pointer;
  color: #f9f9f9 !important;
}
.footer a:hover,
.footer a:active,
.footer a:focus {
  color: #ababab !important;
}
.footer-content {
  padding-top: 15px;
  padding-bottom: 15px;
}
.copyright {
  display: inline-block;
  margin-top: 10px;
}
