@import 'nib'
@import 'functions'

/**********************
    =footer
***********************/

.footer
	background-color rgb(245, 245, 245)
	height 60px

.footer-content
	padding-top 15px
	padding-bottom 15px

.copyright
	display inline-block
	margin-top 10px


