/**********************
      =Variables
***********************/
/*colors*/
color-app = #555555
color-border-light = lighten(color-app, 83%)
color-border-dark = lighten(color-app, 73%)

border-app-light = color-border-light 1px solid
border-app-dark = color-border-dark 1px solid
font-size-custom = 14px
font-app = font-size-custom "Helvetica Neue", Helvetica, Arial, sans-serif

/**********************
      =Mixins
***********************/

simple-radius(n)
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n

custom-radius()
	-webkit-border-radius arguments
	-moz-border-radius argument
	border-radius argument
	border 2px border-default solid unless @border

/*striped table*/
stripe(even = #fff, odd = #eee)
	tr
		background-color odd
		&.even
		&:nth-child(even)
			background-color even

/*comma-list*/
inline-list()
	li
		display inline

comma-list()
	inline-list()
	li
		&:after
			content ','
		&:last-child:after
			content ''

link-custom()
	color #494949 !important
	font-size 12px unless @font-size
	&:hover
	&:active
	&:focus
		color #a7a7a7
