/**********************
      =Variables
***********************/

color-skin = #272727
color-app = #3C3C3C
color-white = lighten(color-app, 98%)

water = #6495ED
fire = lighten(#A13B1F, 5%)
soft-wood = #74A377
hard-wood = #447373
soft-metal = #F4BF7F
hard-metal = #88A6BB
mountain-earth = #d8be86
mother-earth = #8F6D60
color-off-white = #F7F7F4;
color-blue = #396C95

colorNavPanel = #393939
colorButtonBackground = #428CB9
colorLogoWrapper = #F6F6F6
colorFontGray = #525252
colorGray = #4B4F54
colorSlash = #AAAAAA
copyrightBackgroundColor = #3F3F3F
colorRed = lighten(#B92025, 10%)
myTextShadow = #FFFFFF 1px 1px 0px
myTextShadow2 = #FFFFFF 2px 2px 0px
myBorderGray = 1px solid darken(#F2F2F2, 5%) !important

color-danger = lighten(red, 30%)
color-content = lighten(color-app, 94%)
color-lighten = lighten(color-app, 98%)
color-light = light(color-app, 70%)
color-darken = lighten(color-app, 90%)
color-border-light = lighten(color-app, 83%)
color-border-dark = lighten(color-app, 73%)
label-default-background = lighten(color-skin, 37%)

border-app-light = color-border-light 1px solid
border-app-dark = color-border-dark 1px solid
font-size-custom = 14px
font-app = font-size-custom "Helvetica Neue", Helvetica, Arial

/*Bootstrap classes*/
.form-group
  margin-bottom 10px

label
  margin-bottom 0px

/**********************
      =Mixins
***********************/
/*Remax*/
font-main()
  font-family Helvetica Neue, Helvetica, Arial
  font-size 1em !important
  line-height 2em !important

btn-primary()
  color color-off-white !important
  font-size: 13px !important;
  letter-spacing: 1px;
  background-color: lighten(color-blue, 15%) !important;
  border-color: lighten(color-blue, 15%) !important;
  margin-top: 10px !important;
  &:hover
  &:focus
  &:active
    background-color: lighten(color-blue, 5%) !important;
    color color-off-white !important

/*Template*/
hover-element(color, amount)
  hover-color(lighten(color, amount))
  transition(5s)
  background-color color-darken

hover-editable(color, amount)
  hover-color(lighten(color, amount))

simple-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

custom-radius()
  -webkit-border-radius arguments
  -moz-border-radius argument
  border-radius argument
  border 2px border-default solid unless @border

/*comma-list*/
inline-list()
  li
    display inline

comma-list()
  inline-list()
  li
    &:after
      content ','
    &:last-child:after
      content ''

link-custom()
  cursor pointer
  font-size 14px unless @font-size
  color color-app unless @color
  &:hover
  &:active
  &:focus
    color lighten(color-app, 40%)

link-light()
  font-size 14px unless @font-size
  cursor pointer
  color lighten(color-app, 97%) !important
  &:hover
  &:active
  &:focus
    color lighten(color-app, 57%) !important

label-default-head()
  padding 10px 15px
  background-color label-default-background
  border-radius 0px
  display block
  font-size 0.9em unless @font-size
  text-align left
  margin-bottom 0

post-time(n)
  font-size n
  color lighten(color-app, 35%)
  line-height 24px
  margin-bottom 0px

.table-elements
  margin 0 auto

post-style(n)
  background-color lighten(n, 90%)
  border-top 1px lighten(n, 80%) solid
  border-right 1px lighten(n, 80%) solid
  border-left 1px lighten(n, 80%) solid
  border-bottom 1px lighten(n, 80%) solid
  border-radius 0px

post-comment-style(n)
  background-color lighten(n, 94%)
  border-right 1px lighten(n, 80%) solid
  border-left 1px lighten(n, 80%) solid
  border-bottom 1px lighten(n, 80%) solid
  border-top 0px
  border-radius 0px

transition(n)
  -webkit-transition all n ease
  -moz-transition all n ease
  -ms-transition all n ease
  -o-transition all n ease
  transition all n ease
