/**********************
     =top-navbar
***********************/
.logo-text {
  margin-top: 10px;
  margin-bottom: 15px;
}
.navbar-custom ul {
  margin-top: 5px;
}
.navbar-custom ul li a {
  font-size: 18px;
}
.img-fb {
  width: 25px;
  height: 25px;
  display: inline-block;
  float: left;
  margin-right: 5px;
  margin-top: -3.125px;
}
.fb-name {
  display: inline-block;
  padding-top: 5px;
}
