.form-group {
  margin-bottom: 10px;
}
label {
  margin-bottom: 0px;
}
.table-elements {
  margin: 0 auto;
}
/**********************
     =header
***********************/
.text-center {
  text-align: center;
}
.header-container {
  padding-right: 15px;
  padding-left: 15px;
  background-color: #d4d4d4;
}
.header-wrapper {
  padding: 10px;
}
.logo-content {
  position: relative;
  padding: 0px;
}
.logo-content img {
  display: inline-block;
  position: relative;
  left: -10px;
}
@media screen and (max-width: 992px) {
  .logo-content img {
    position: relative;
    display: block !important;
    width: 120px;
    margin: 0 auto;
  }
}
.slogan-text {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.slogan-text p {
  color: #396c95;
  font-family: 'Noto Serif', serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom: 0px;
  text-shadow: #fff 1px 1px 0px;
}
.ul-call-us {
  margin: 0px 0px 10px 0px;
}
@media screen and (min-width: 992px) {
  .ul-call-us {
    margin-top: 0px;
    padding-top: 10px !important;
  }
}
.callUsContent {
  width: 28px;
}
.call-us {
  color: #d2242a;
  text-shadow: #f7f7f4 1px 1px 0px;
  font-size: 26px;
  font-weight: bold;
  margin-left: 5px !important;
}
.one-stop-service {
  padding: 0px;
  margin-bottom: 10px;
}
.one-stop-service img {
  display: block !important;
  width: 399px;
  margin: 0 auto;
}
/*Social Media*/
.social-div {
  position: relative;
  padding-left: 5px;
}
.social-div ul {
  position: relative;
  margin-bottom: 0px;
}
.social-div ul li {
  padding: 2px;
  display: inline-block;
}
@media screen and (min-width: 992px) {
  .social-div ul {
    text-align: right;
  }
}
.social-media {
  position: relative;
  height: auto;
  padding: 0px;
}
.social-img {
  display: inline-block;
}
.custom-aligns {
  position: relative;
  text-align: right !important;
}
.icons-wrapper {
  padding-right: 0px;
}
.ul-icons {
  position: relative;
  margin-bottom: 0px;
}
.ul-icons li {
  padding-right: 0px;
}
@media screen and (min-width: 992px) {
  .ul-icons {
    bottom: -60px;
    padding-right: 15px;
  }
}
