@import 'nib'

@import 'functions'

/**********************
     =top-navbar
***********************/

.navbar-app
  margin-bottom 0px
  border-radius 0px
  background-color color-skin !important
  li
    a
      .text
        padding-left 5px

.span-top-nav
  display inline-block
  padding-left 5px
  padding-right 5px
  font-family 'Raleway', sans-serif

.brand-name
  font-size 20px

.brand-name
.btn-search
.fb-name
  margin-left 5px

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
  background-color inherit

.img-fb
  width 20px
  height 20px
  margin-right (@width / 4) !important

/**********************
			=Search
***********************/



