@import 'nib'

@import 'functions'

/**********************
     =header
***********************/
.text-center
  text-align center

.header-container
  padding-top 10px
  padding-bottom 10px

.logo-content
  position: relative;
  img

    @media screen and (max-width: 992px)
      center-it(120px)

.slogan-text
  padding-right: 0px !important;
  padding-left: 0px !important;
  p
    color color-blue
    font-family 'Noto Serif', serif
    font-size 16px
    font-weight 700
    letter-spacing 1px
    line-height 30px
    margin-bottom 0px
    text-shadow my-text-shadow

.ul-call-us
  margin 0px 0px 10px 0px

  @media screen and (min-width: 992px)
    margin-top 0px
    padding-top 10px !important

.callUsContent
  width 28px

.call-us
  color color-red
  text-shadow color-off-white 1px 1px 0px
  font-size 26px
  font-weight bold
  margin-left 5px !important

.one-stop-service
  margin-bottom 10px
  img
    center-it(340px)

/*Social Media*/

.social-div
  ul
    display block
    li
      padding 3px
      display inline-block

    @media screen and (min-width: 992px)
      text-align rigth

.social-media
  position relative
  height auto
  padding 0px

.social-img
  display inline-block

.custom-aligns
  position relative
  text-align right !important

.ul-icons
  display inline-block
  width 74px
  position relative
  right 0px

  @media screen and (min-width: 992px)
    bottom -60px

