//@import '../bower_components/foundation/scss/foundation';

.browsehappy {
  margin: 0.2em 0;
  background: red;
  color: #f57a6b;
}

.panel {
  margin-top: 50px;
  background-color: #f53431;
}

.th {
  width: 100%;
  height: 200px;

  img.right {
    width: 50px;
  }
}
