@import 'nib'
@import 'header'
@import 'footer'
@import 'aside'
@import 'functions'
@import 'practicing'

html
  -webkit-font-smoothing antialized

body
  background-color rgb(255, 255, 255)
  color rgb(51, 51, 51)
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size 14px
  position relative
  line-height 30px
  font-size 17px

/**********************
     =main content
**********************/
.error input, .error textarea, .error select
  margin-bottom 16px

.btn-wrapper
  margin-bottom 25px

.content-wrapper
  height 100%
  min-height 1000px

.article-img
  float right

/**********************
    =contact us
***********************/

.contact-address
  font-size 18px
  width 300px
  padding 15px

.business-name
  font-size 18px
  font-weight 700
  margin-bottom 5px !important
  display inline-block

