.table-elements {
  margin: 0 auto;
}
.table-elements {
  margin: 0 auto;
}
.post-content {
  border-bottom: 0px;
  background-color: inherit !important;
}
.post-comment {
  background-color: #fbfbfb;
}
.post-content,
.post-comment {
  margin-bottom: 0px;
  line-height: 24px;
  padding: 10px 15px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.comment-input textarea {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ul-comment {
  font-size: 12px;
}
.p-comment {
  margin-bottom: 0px;
  line-height: 20px;
  font-size: 12px;
}
.p-post-time {
  font-size: 12px;
  color: #808080;
  line-height: 24px;
  margin-bottom: 0px;
}
.p-comment-time {
  font-size: 11px;
  color: #808080;
  line-height: 24px;
  margin-bottom: 0px;
}
.user-name-comment {
  font-weight: 700;
  font-size: 12px;
  font-weight: bold !important;
}
.panel-comment {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.editable {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0px;
  line-height: 1.2em;
  border-bottom: dashed 1px #08c !important;
}
.popover-title {
  color: #505050 !important;
}
.color-danger {
  color: #db7156;
  cursor: pointer;
}
.color-danger:hover {
  color: #b44326;
}
.color-edit {
  color: #62b1ff;
  cursor: pointer;
}
.color-edit:hover {
  color: #007cf7;
}
.editable-form textarea {
  position: relative;
  font-size: 12px;
  margin-bottom: 10px;
}
.btn-save {
  margin-right: 10px;
}
.btn-cancel {
  color: #8a8a8a;
}
.btn-cancel:hover,
.btn-cancel:active,
.btn-cancel:focus {
  color: #636363;
}
.btn-remove {
  background-color: #f2a34f;
}
.btn-remove:hover {
  background-color: #b44326;
}
.popover-wide {
  max-width: 300px !important;
}
.table-elements {
  margin: 0 auto;
}
.navbar-app {
  margin-bottom: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #43464d !important;
}
.navbar-app li a .text {
  padding-left: 5px;
  display: inline-block;
}
.navbar-app li a .fa-angle-down {
  margin-left: 5px !important;
}
.span-top-nav {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Raleway', sans-serif;
}
.brand-name {
  font-size: 20px;
}
.brand-name,
.btn-search,
.fb-name {
  margin-left: 5px;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: inherit;
}
.img-fb {
  width: 20px;
  height: 20px;
  margin-right: 5px !important;
}
.table-elements {
  margin: 0 auto;
}
.footer {
  background-color: #6e727e;
  height: 60px;
}
.footer span {
  color: #fbfbfb;
}
.footer-content {
  padding-top: 15px;
  padding-bottom: 15px;
}
.copyright {
  display: inline-block;
  margin-top: 10px;
}
.table-elements {
  margin: 0 auto;
}
.left-sidebar {
  padding-right: 0px;
  padding-left: 0px;
}
.aside-menu {
  padding-left: 0;
  border-bottom: #dedede 1px solid;
  list-style-type: none;
  line-height: 30px;
}
.aside-menu li a {
  display: block;
  position: relative;
  padding: 10px 0 10px 15px;
  color: #3c3c3c;
  background-color: #ebebeb;
  border-top: #dedede 1px solid;
}
.aside-menu li a:hover,
.aside-menu li a:active,
.aside-menu li a:focus {
  border-top: #dedede 1px solid;
  background-color: #f3f3f3;
  text-decoration: none;
}
.aside-menu > li:first-child > a {
  border-top: none;
}
.aside-menu li a .text {
  padding-left: 8px !important;
}
.aside-menu .fa {
  width: 14px;
  text-align: center;
}
.aside-menu .toggle-icon {
  font-size: 14px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: 13px;
  text-shadow: none;
}
.sub-menu li a .text {
  padding-left: 20px !important;
}
.sidebar-content {
  padding: 0 10px;
}
.sidebar-content .text-panel {
  padding-left: 5px;
}
.app-tips {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.app-tips .panel-heading {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #f3f4f5 !important;
}
.app-tips .panel-body {
  background-color: #fbfbfb !important;
}
.app-tips .panel-body p {
  font-size: 12px;
}
.app-tips .panel-heading h5 {
  margin: 0;
}
h5.label-default-head {
  padding: 10px 15px;
  background-color: #848994;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  display: block;
  font-size: 0.9em;
  text-align: left;
  margin-bottom: 0;
}
.list-info-sidebar {
  padding: 5px 10px;
  border: 1px solid #ced0d4;
}
.list-info-sidebar li {
  font-size: 10px;
  margin-bottom: 0;
}
.list-info-sidebar span {
  display: block;
  vertical-align: middle;
  vertical-align: auto;
  padding: 5px;
  line-height: 15px;
}
.list-info-sidebar .info-name {
  width: 100%;
  background-color: transparent;
  color: #ababab !important;
  font-size: 11px;
  vertical-align: top;
}
.list-info-sidebar .info-value {
  padding-left: 10px;
}
.your-element-form-wrapper {
  padding: 10px;
  display: block;
}
.label-text {
  padding-left: 5px;
  display: inline-block;
}
.table-elements {
  margin: 0 auto;
}
.info {
  color: #6495ed !important;
}
.elements-nav-wrapper {
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 15px;
}
.elements-nav {
  padding: 5px 0px;
}
.fen-element-wrapper {
  width: 128px;
  height: 80px;
!important
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
}
!important
.fen-element {
  width: 128px;
  height: 80px;
  text-align: center;
  position: relative;
}
.fen-element span {
  color: false;
  text-shadow: 1px 0px #505050;
  font-size: 12px;
}
.fen-element-cover {
  height: 30px !important;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 128px;
  position: relative;
  0: 0;
  background-color: #fbfbfb;
  color: #00008b;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=)";
  filter: alpha(opacity=);
  font-size: 1em !important;
}
.vertical-alignment {
  font-family: font-family 'Karma', serif !important;
  top: 40%;
  position: absolute;
  width: 100%;
  text-align: center;
}
.vertical-alignment span {
  color: #fff;
}
ul.fen-elements {
  margin: 0 auto;
  margin: 5px 15px;
  margin: 0.32rem 0.94rem;
  padding-left: 1rem;
}
ul.fen-elements li {
  list-style-type: disc;
  padding: 2px 0;
  padding: 0.125rem;
}
ul.fen-elements li {
  position: relative;
  display: inline-block !important;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 150px !important;
  height: 150px !important;
}
.slide-up {
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.slide-up {
  top: -27.586206896551726px;
}
.slide-up.ng-hide {
  top: 0px;
}
.fire {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #848994;
!important
}
.fire:hover {
  background-color: #ae4022;
}
!important
.soft-wood {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #848994;
!important
}
.soft-wood:hover {
  background-color: #74a377;
}
!important
.hard-wood {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #848994;
!important
}
.hard-wood:hover {
  background-color: #447373;
}
!important
.water {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #848994;
!important
}
.water:hover {
  background-color: #6495ed;
}
!important
.soft-metal {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #848994;
!important
}
.soft-metal:hover {
  background-color: #f4bf7f;
}
!important
.hard-metal {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #848994;
!important
}
.hard-metal:hover {
  background-color: #88a6bb;
}
!important
.mountain-earth {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #848994;
!important
}
.mountain-earth:hover {
  background-color: #d8be86;
}
!important
.mother-earth {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #848994;
!important
}
.mother-earth:hover {
  background-color: #8f6d60;
}
!important
.table-elements {
  margin: 0 auto;
}
.fire-bg {
  -webkit-transition: all 5s ease;
  -moz-transition: all 5s ease;
  -ms-transition: all 5s ease;
  -o-transition: all 5s ease;
  transition: all 5s ease;
  background-color: #ebebeb;
}
.fire-bg:hover {
  background-color: #f0c0b3;
}
.water-bg {
  -webkit-transition: all 5s ease;
  -moz-transition: all 5s ease;
  -ms-transition: all 5s ease;
  -o-transition: all 5s ease;
  transition: all 5s ease;
  background-color: #ebebeb;
}
.water-bg:hover {
  background-color: #b9cff7;
}
.hard-wood-bg {
  -webkit-transition: all 5s ease;
  -moz-transition: all 5s ease;
  -ms-transition: all 5s ease;
  -o-transition: all 5s ease;
  transition: all 5s ease;
  background-color: #ebebeb;
}
.hard-wood-bg:hover {
  background-color: #a3c8c8;
}
.soft-wood-bg {
  -webkit-transition: all 5s ease;
  -moz-transition: all 5s ease;
  -ms-transition: all 5s ease;
  -o-transition: all 5s ease;
  transition: all 5s ease;
  background-color: #ebebeb;
}
.soft-wood-bg:hover {
  background-color: #c0d6c2;
}
.soft-metal-bg {
  -webkit-transition: all 5s ease;
  -moz-transition: all 5s ease;
  -ms-transition: all 5s ease;
  -o-transition: all 5s ease;
  transition: all 5s ease;
  background-color: #ebebeb;
}
.soft-metal-bg:hover {
  background-color: #fcefdf;
}
.hard-metal-bg {
  -webkit-transition: all 5s ease;
  -moz-transition: all 5s ease;
  -ms-transition: all 5s ease;
  -o-transition: all 5s ease;
  transition: all 5s ease;
  background-color: #ebebeb;
}
.hard-metal-bg:hover {
  background-color: #c9d7e0;
}
.mountain-earth-bg {
  -webkit-transition: all 5s ease;
  -moz-transition: all 5s ease;
  -ms-transition: all 5s ease;
  -o-transition: all 5s ease;
  transition: all 5s ease;
  background-color: #ebebeb;
}
.mountain-earth-bg:hover {
  background-color: #ede2c9;
}
.mother-earth-bg {
  -webkit-transition: all 5s ease;
  -moz-transition: all 5s ease;
  -ms-transition: all 5s ease;
  -o-transition: all 5s ease;
  transition: all 5s ease;
  background-color: #ebebeb;
}
.mother-earth-bg:hover {
  background-color: #cebdb6;
}
/**********************

     Variables
***********************/
body {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 103.36%;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: auto;
}
* {
  margin: 0;
}
html {
  -webkit-font-smoothing: antialized;
  font-size: 0.8em;
}
body {
  color: #3c3c3c;
  font: font-custom !important;
  font-size: 1em;
  background-color: #ebebeb;
}
hr {
  border-color: #cacaca;
}
h1,
h2,
h3,
h4,
h5,
h6,
legend {
  color: #3c3c3c;
}
h6 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px !important;
  margin-top: 5px;
}
.menu-link a {
  font-family: 'Hind', sans-serif;
}
.btn-link-dark {
  font-size: 14px;
  color: #3c3c3c;
}
.btn-link-dark:hover,
.btn-link-dark:active,
.btn-link-dark:focus {
  color: #8a8a8a;
}
.btn-link-light {
  font-size: 14px;
  cursor: pointer;
  color: #f9f9f9 !important;
}
.btn-link-light:hover,
.btn-link-light:active,
.btn-link-light:focus {
  color: #ababab !important;
}
.btn-primary {
  background-color: #848994;
  border-color: #8a8f99;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #969ba4;
  border-color: #90959f;
}
/**********************
    =form
***********************/
textarea,
input {
  background-color: #f9f9f9 !important;
  color: #717171 !important;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus {
  background-color: #fbfbfb !important;
  color: #3c3c3c !important;
}
/**********************
     =main content
**********************/
.main-content {
  border-left: #dedede 1px solid;
  border-right: #dedede 1px solid;
}
.error input,
.error textarea,
.error select {
  margin-bottom: 16px;
}
.btn-wrapper {
  margin-bottom: 25px;
}
.content-wrapper {
  background-color: #f3f3f3;
  border-left: #dedede 1px solid;
  padding-left: 30px;
  min-height: 1200px;
}
/**********************
      =Post
***********************/
.article-img {
  float: right;
}
/**********************
      =about
***********************/
.custom-list li {
  display: inline;
}
.custom-list li:after {
  content: ',';
}
.custom-list li:last-child:after {
  content: '';
}
table td {
  padding: 4px 10px;
}
table#users {
  stripe: #6d6d6d #505050;
}
table#users td,
table#users th {
  color: #fbfbfb;
}
/**********************
    =contact us
***********************/
.contact-address {
  -webkit-border-radius: 15px;
  -moz-border-radius: argument;
  border: 1px solid #dedede 1px solid;
  width: 300px;
  padding: 15px;
}
.slide-view {
  z-index: 999;
}
/*GreenSock practicing*/
#demo {
  width: 792px;
  height: 150px;
  background-color: #333;
  padding: 8px;
}
#bar {
  background-color: #91e500;
  color: #272727;
  position: relative;
  width: 5px;
  height: 90px;
}
#logo {
  position: relative;
  top: -38px !important;
  left: -10px;
  width: 60px !important;
  height: 60px !important;
}
.datepicker.dropdown-menu {
  width: 250px;
  height: 290px;
}
.datepicker.dropdown-menu button {
  outline: none;
  border: 0px;
}
.datepicker.dropdown-menu tbody {
  height: 180px;
}
.datepicker.dropdown-menu tbody button {
  padding: 0px;
  width: 20px;
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button,
.datepicker.dropdown-menu.datepicker-mode-2 tbody button {
  height: 65px;
}
.img-bagua {
  display: block;
  margin: 0 auto !important;
}
