@import 'nib'

@import 'header'
@import 'footer'
@import 'aside'
@import 'functions'

/**********************
     Variables
***********************/
* {
	margin: 0;
}

html
	-webkit-font-smoothing antialized

body
	color color-app
	font font-app
	line-height 30px
	background-color lighten(color-app, 90%)
	position relative

hr
	border-color color-border-app

/**********************

     =main content
**********************/

.error input, .error textarea, .error select
	margin-bottom 16px

.btn-wrapper
	margin-bottom 25px

.content-wrapper
	background-color lighten(color-app, 94%)
	border-left border-app-light
	padding-left 30px
	min-height 1200px

.push
	background-color #F1F1F1

.article-img
	float right

/**********************
      =About
***********************/
.custom-list
	comma-list()

table
	stripe()
	td
		padding 4px 10px

table#users
	stripe #303030 #494848
	td, th
		color white

/**********************
    =contact us
***********************/

.contact-address
	custom-radius 15px
	border 1px lightgray solid
	font-size 18px
	width 300px
	padding 15px

.business-name
	font-size 18px
	font-weight 700
	margin-bottom 5px !important
	display inline-block

/**********************
    =form
***********************/
textarea
input
	inp-app()

