@import 'nib'

html
  -webkit-font-smoothing antialized

body
  font 12px Helvetica, Arial, sans-serif

.browsehappy
  margin 0.2em 0
  background red
  color #f57a6b

.panel
  margin-top 50px
  background-color rgba(0, 195, 255, 0.09)
  border-color rgba(0, 151, 197, 0.09)

.th
  width 100%
  height 200px

  img.right
    width 50px

.error input, .error textarea, .error select
  margin-bottom 16px

.btn-wrapper
  margin-bottom 25px

.pull-right
  text-align right

