.top-nav-wrapper {
  padding: 0px;
}
.top-menu {
  padding: 3px;
}
.top-menu .container ul li a {
  cursor: pointer;
  color: #f5f5f5;
}
.btn-search {
  margin-left: 5px;
}
.ul-top-menu {
  margin-bottom: 0px !important;
}
.logo-text {
  margin-top: 10px;
  margin-bottom: 15px;
}
.navbar-app {
  margin-bottom: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #555;
}
.navbar-app a {
  color: #ddd !important;
  cursor: pointer;
}
.navbar-app span {
  color: #ddd !important;
}
.img-fb {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.img-admin {
  width: 18px;
  height: 18px;
  margin-right: 4.5px;
}
.fb-name {
  color: #494949 !important;
  font-size: 15px;
  display: inline-block;
}
.fb-name:hover,
.fb-name:active,
.fb-name:focus {
  color: #a7a7a7;
}
.form-header {
  width: 280px;
  display: inline-block;
  margin-left: 15px;
}
.avatar {
  display: inline-block;
  position: relative;
  top: -2px;
  left: -5px;
}
.top-nav-wrapper {
  padding: 0px;
}
.top-menu {
  padding: 3px;
}
.top-menu .container ul li a {
  cursor: pointer;
  color: #f5f5f5;
}
.btn-search {
  margin-left: 5px;
}
.ul-top-menu {
  margin-bottom: 0px !important;
}
.logo-text {
  margin-top: 10px;
  margin-bottom: 15px;
}
.navbar-app {
  margin-bottom: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #555;
}
.navbar-app a {
  color: #ddd !important;
  cursor: pointer;
}
.navbar-app span {
  color: #ddd !important;
}
.img-fb {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.img-admin {
  width: 18px;
  height: 18px;
  margin-right: 4.5px;
}
.fb-name {
  color: #494949 !important;
  font-size: 15px;
  display: inline-block;
}
.fb-name:hover,
.fb-name:active,
.fb-name:focus {
  color: #a7a7a7;
}
.form-header {
  width: 280px;
  display: inline-block;
  margin-left: 15px;
}
.avatar {
  display: inline-block;
  position: relative;
  top: -2px;
  left: -5px;
}
.footer {
  background-color: #f5f5f5;
  bottom: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 60px;
  line-height: 20px;
  position: relative;
  width: 100%;
}
.copyright {
  display: inline-block;
  margin-top: 10px;
}
.aside-nav,
.list-aside-nav {
  margin-bottom: 10px;
}
.panel-info {
  background-color: rgba(0,195,255,0.09);
  border-color: rgba(0,151,197,0.09);
  padding: 5px 7px;
  font-size: 14px;
  line-height: 26px;
}
.label-default-custom {
  padding: 10px;
  background-color: #999;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.text-panel {
  padding-left: 5px;
}
.main-nav-toggle {
  float: left;
  color: #fff;
}
.main-nav-toggle .fa {
  font-size: 28px;
}
.main-nav-toggle:hover,
.main-nav-toggle:focus {
  color: #ddd;
}
.breadcrumb li + li:before {
  font-family: FontAwesome;
  font-size: 14px;
  content: "\f105";
  color: #b2b6bf;
  margin-right: 2px;
  padding: 0 5px 0 2px;
  position: relative;
  top: 1px;
}
ul.main-menu {
  padding-left: 0;
  border-bottom: 1px #dfdfdf solid;
  list-style-type: none;
}
ul.main-menu > li a {
  display: block;
  position: relative;
  padding: 10px 0 10px 15px;
  color: #555;
  background-color: #ececec;
  border-top: 1px solid #dfdfdf;
}
ul.main-menu > li a:hover {
  text-decoration: none;
  background-color: #f1f1f1;
}
ul.main-menu > li.active > a {
  font-weight: 700;
  background-color: #dfdfdf;
}
ul.main-menu > li:first-child > a {
  border-top: none;
}
ul.main-menu > li .fa {
  width: 14px;
  text-align: center;
}
ul.main-menu > li .text {
  padding-left: 8px;
  font-size: 0.9em;
}
ul.main-menu > li .toggle-icon {
  font-size: 14px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: 13px;
  text-shadow: none;
}
ul.main-menu .sub-menu {
  position: relative;
  display: none;
  padding-left: 0;
}
ul.main-menu .sub-menu li a {
  padding-left: 33px;
}
ul.main-menu .sub-menu li.active a {
  font-weight: 700;
}
ul.main-menu .sub-menu.open {
  overflow: hidden;
  display: block;
}
.left-sidebar {
  padding-right: 0;
  padding-left: 0;
}
.main-content {
  border-left: 1px #e4e4e4 solid;
  border-right: 1px #e4e4e4 solid;
}
.left-sidebar.minified {
  width: 40px;
  margin-right: -40px;
  z-index: 9;
}
.left-sidebar.minified .main-menu > li {
  position: relative;
}
.left-sidebar.minified .main-menu > li .fa {
  width: 40px;
}
.left-sidebar.minified .main-menu > li .toggle-icon {
  display: none;
}
.left-sidebar.minified .main-menu > li > a {
  padding-left: 0;
}
.left-sidebar.minified .main-menu > li > a > .text {
  position: absolute;
  display: none;
}
.left-sidebar.minified .main-menu > li:hover > a > .text {
  position: absolute;
  display: block;
  left: 40px;
  top: 0;
  min-width: 200px;
  z-index: 9999;
  padding: 10px;
  border: 1px solid #ccc;
  line-height: 1.5;
  background: #ccc;
  font-weight: 700;
}
.left-sidebar.minified .main-menu > li:hover > ul.sub-menu {
  display: block !important;
  min-width: 200px;
  position: absolute;
  margin-left: 40px;
  z-index: 9999;
  border: 1px solid #e4e4e4;
  border-top: none;
}
.left-sidebar.minified .main-menu > li:hover > ul.sub-menu > li > a {
  padding-left: 10px;
}
.sidebar-content {
  padding: 0 10px;
  margin-top: 30px;
}
.sidebar-content .panel-heading h5 {
  margin: 0;
}
.sidebar-content p {
  font-size: 0.85em;
}
.sidebar-content > h5 {
  display: block;
  font-size: 0.9em;
  text-align: left;
  margin-bottom: 0;
}
.sidebar-content .list-info-sidebar {
  border: 1px solid #ccc;
}
.sidebar-content .list-info-sidebar li {
  font-size: 12px;
}
.sidebar-content .list-info-sidebar .data-name {
  width: 100%;
  background-color: transparent;
}
@media screen and (min-width: 1366px) {
  .sidebar-content .list-info-sidebar .data-name {
    width: 10em;
  }
}
@media screen and (min-width: 1850px) {
  .sidebar-content .list-info-sidebar .data-name {
    width: 15em;
  }
}
.sidebar-content .list-info-sidebar .progress {
  margin-bottom: 0;
}
.left-sidebar.minified .sidebar-content {
  display: none;
}
.data-row {
  margin-bottom: 0;
}
.data-row .data-name,
.data-row .data-value {
  display: block;
  vertical-align: middle;
  vertical-align: auto;
  padding: 5px;
}
.data-row .data-name {
  width: 12em;
  line-height: 15px;
  background-color: #ececec;
  color: #b9b9b9;
  font-size: 0.9em;
  vertical-align: top;
}
.data-row .data-value {
  padding-left: 10px;
}
/**********************
     Variables
***********************/
html {
  -webkit-font-smoothing: antialized;
}
body {
  color: #555;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  line-height: 30px;
  background-color: #ececec;
}
hr {
  border-color: #dfdfdf;
}
/**********************

     =main content
**********************/
.error input,
.error textarea,
.error select {
  margin-bottom: 16px;
}
.btn-wrapper {
  margin-bottom: 25px;
}
.content-wrapper {
  height: 100%;
  min-height: 1000px;
  background-color: #f1f1f1;
  border-left: 1px #e4e4e4 solid;
  padding-left: 30px;
}
.article-img {
  float: right;
}
/**********************
      =About
***********************/
.custom-list li {
  display: inline;
}
.custom-list li:after {
  content: ',';
}
.custom-list li:last-child:after {
  content: '';
}
table tr {
  background-color: #eee;
}
table tr.even,
table tr:nth-child(even) {
  background-color: #fff;
}
table td {
  padding: 4px 10px;
}
table#users tr {
  background-color: #494848;
}
table#users tr.even,
table#users tr:nth-child(even) {
  background-color: #303030;
}
table#users td,
table#users th {
  color: #fff;
}
/**********************
    =contact us
***********************/
.contact-address {
  -webkit-border-radius: 15px;
  -moz-border-radius: argument;
  border: 1px #d3d3d3 solid;
  font-size: 18px;
  width: 300px;
  padding: 15px;
}
.business-name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px !important;
  display: inline-block;
}
/**********************
    =form
***********************/
textarea,
input {
  color: #a7a7a7 !important;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus {
  color: #000 !important;
}
