html {
  -webkit-font-smoothing: antialized;
}
body {
  background-color: #fff;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  position: relative;
  line-height: 30px;
  font-size: 17px;
}
.browsehappy {
  margin: 0.2em 0;
  background: #f00;
  color: #f57a6b;
}
.panel-info {
  background-color: rgba(0,195,255,0.09);
  border-color: rgba(0,151,197,0.09);
  padding: 15px;
  font-size: 14px;
  line-height: 26px;
}
.th {
  width: 100%;
  height: 200px;
}
.th img.right {
  width: 50px;
}
.error input,
.error textarea,
.error select {
  margin-bottom: 16px;
}
.btn-wrapper {
  margin-bottom: 25px;
}
.content-wrapper {
  height: 100%;
  min-height: 1000px;
}
.footer {
  background-color: #f5f5f5;
  bottom: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 60px;
  line-height: 20px;
  position: relative;
  width: 100%;
}
.copyright {
  display: inline-block;
  margin-top: 10px;
}
