.form-group {
  margin-bottom: 10px;
}
label {
  margin-bottom: 0px;
}
.table-elements {
  margin: 0 auto;
}
/**********************
    =manage-listing
***********************/
.listing-label {
  font-size: 13px !important;
  font-weight: 700;
}
.content-info {
  font-size: 13px !important;
}
.listing-basic-info-wrap {
  padding-top: 10px;
}
.ul-basic-info {
  margin-bottom: 0px;
  margin-top: 5px;
}
.ul-basic-info li {
  color: #505050;
  font-size: 13px;
  font-style: italic;
}
@media screen and (max-width: 992px) {
  .ul-basic-info {
    font-size: 12px;
    text-align: center;
  }
}
.price-style {
  color: #417cab;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: right;
}
.price-style:hover,
.price-style:active,
.price-style:focus {
  color: #396c95;
  text-decoration: none;
}
@media screen and (max-width: 992px) {
  .price-style {
    text-align: center;
  }
}
.listing-header-container .inline-info-container {
  padding-top: 5px;
  padding-bottom: 5px;
}
.listing-header-container .alert-address {
  margin-top: 5px;
  padding: 15px;
}
.listing-header-container .alert-address h4 {
  margin-bottom: 0px;
  font-weight: 700;
  color: #505050;
}
.address-basic {
  color: #3c3c3c;
  display: block;
  height: 100%;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px false;
}
.address-basic:hover,
.address-basic:active,
.address-basic:focus {
  color: #505050;
  text-decoration: none;
}
@media screen and (max-width: 992px) {
  .address-basic {
    text-align: center;
  }
}
.listing-navigation-container {
  background-color: #f5f5f5;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.listing-navigation-container ul {
  padding-top: 3px;
  margin-bottom: 0px;
}
.breadcrumb-app {
  background: none;
  margin-bottom: 0px;
}
.breadcrumb-app li.active {
  color: #767676;
  font-size: 12px;
}
.breadcrumb-app li a {
  color: color-info;
  font-size: 12px;
}
.breadcrumb-app li a:hover,
.breadcrumb-app li a:active,
.breadcrumb-app li a:focus {
  color: #505050;
  text-decoration: none;
}
.ul-basic-social {
  margin-bottom: 0px;
  margin-top: 5px;
}
.ul-basic-social li a {
  color: #767676;
  font-size: 12px;
}
.ul-basic-social li a:hover,
.ul-basic-social li a:active,
.ul-basic-social li a:focus {
  color: #505050;
  text-decoration: none;
}
@media screen and (max-width: 992px) {
  .ul-basic-social {
    text-align: center;
  }
}
.prop-type {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 15px;
  font-weight: 400;
}
@media screen and (max-width: 992px) {
  .prop-type {
    text-align: center;
  }
}
.sale-type {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: right;
}
.sale-type h5 {
  font-size: 14px;
}
@media screen and (max-width: 992px) {
  .sale-type {
    text-align: center;
  }
}
.head-panel {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px #ddd solid;
}
.head-panel h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.head-panel ul {
  margin-bottom: 0px;
}
.panel-listing {
  padding: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: 0px !important;
  margin-bottom: 10px;
}
.panel-basic-info {
  padding: 10px;
}
.panel-basic-info hr {
  margin-top: 0px;
  margin-bottom: 10px;
}
.add-property button,
.add-property .btn-sm,
.add-property input {
  width: 100%;
}
.txt-group label {
  color: #686868;
  font-size: 12px;
}
.txt-group .form-control {
  height: 30px;
  padding: 5px;
  font-size: 12px;
}
.listing-form h5 {
  font-size: 13px;
  font-weight: 700;
}
.listing-form h4 {
  font-weight: 700;
  font-size: 16px;
  margin: 0px;
}
.listing-form .form-group label {
  color: #686868;
  font-size: 12px;
}
.listing-form .form-group input {
  height: 30px;
  padding: 5px;
  font-size: 12px;
}
.basic-info-short {
  font-size: 12px;
}
.ul-data-just li span {
  font-size: 13px;
  display: inline-block;
}
.ul-data-just li span:first-child {
  font-weight: 700;
  width: 145px;
}
@media screen and (max-width: 992px) {
  .ul-data-just li span {
    font-size: 12px;
  }
}
.gallery-wrapper {
  margin-bottom: 10px;
}
.stripe-dark {
  background-color: #f2f2f2;
}
.cursor-p {
  cursor: pointer;
}
.error {
  border: 1px solid #f00 !important;
}
.error-note {
  color: #f00;
}
/**********************
    Drafts
 ***********************/
.drafts-container {
  padding: 10px;
}
.draft-info-container {
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn-draft {
  padding-left: 5px;
  padding-left: 5px;
  font-size: 11px;
}
.draft-sm-container hr {
  margin-bottom: 10px;
  margin-top: 5px;
}
.draft-sm-container h4 {
  color: #767676;
}
.draft-sm-container h3,
.draft-sm-container h4,
.draft-sm-container h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0px;
  margin-top: 0px;
}
.draft-sm-container ul li {
  line-height: 1.5;
}
.draft-sm-container ul li p {
  line-height: 1.5;
  margin-bottom: 0px;
}
