.form-group {
  margin-bottom: 10px;
}
label {
  margin-bottom: 0px;
}
.table-elements {
  margin: 0 auto;
}
/**********************
    =manage-listing
***********************/
.head-panel {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px #ddd solid;
}
.head-panel ul {
  margin-bottom: 0px;
}
.panel-listing {
  padding: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: 0px !important;
}
.panel-basic-info {
  padding: 10px;
}
.panel-basic-info hr {
  margin-top: 0px;
  margin-bottom: 10px;
}
.new-listing-form h5 {
  font-size: 13px;
  font-weight: 700;
}
.new-listing-form h4 {
  font-weight: 700;
  font-size: 16px;
  margin: 0px;
}
.new-listing-form .form-group label {
  color: ligh;
  font-size: 12px;
}
.new-listing-form .form-group input {
  height: 25px;
  padding: 5px;
  font-size: 12px;
}
.basic-info-short {
  font-size: 12px;
}
