@import 'nib'
@import 'functions'

.img-contain
  border 1px #000000 solid
  height 150px
  background url("../images/houses/4.jpg") no-repeat
  background-size cover
  position relative
  background-position center
