@import 'nib'
@import 'functions'

.img-gallery-wrapper
  overflow hidden


.main-gal-img
  width 700px
  height 480px

  @media screen and (max-width: 375px)
    width 330px
    height 240px


.slider-container


.slider-wrapper
  display block
  position absolute
  left 42px
  width 640px
  height 120px
  overflow hidden
  background-color white

.btn-slide
  position: relative !important
  -webkit-transform: translateY(35%) !important
  -ms-transform: translateY(35%);
  transform: translateY(35%);
  cursor pointer

.align-r
  text-align rigth

.nav-image
  margin 5px
  display block

.number
  display block
  float left
  margin 3px
  width 20px
  height 20px
  background blue
  border-radius 50%
  text-align center
  color white
  cursor pointer

.pic-th
  display block
  float left
  margin 3px
  width 70px
  text-align center
  cursor pointer
  background-color white
  border 1px white solid

