@import 'nib'
@import 'functions'

.slider-wrapper
  position relative

.nav-image
  height 50px
  width 50px
  border 2px green solid

.number
  display block
  float left
  margin 3px
  width 20px
  height 20px
  background blue
  border-radius 50%
  text-align center
  color white
  cursor pointer

.pic-th
  display block
  float left
  margin 3px
  width 70px
  text-align center
  cursor pointer
  background-color white
  border 1px white solid

