@import 'nib'

@import 'functions'

/**********************
     =sv-article
***********************/

.ul-comment
  line-height 20px
  font-size 12px

.p-comment
  margin-bottom 0px
  font-size 12px
  margin-top 5px

.p-post-time
  font-size 11px
  color lighten(color-app, 35%)
  margin-bottom 0px

span.user-name-comment
  font-weight 12px
  font-weight bold !important


.editable
  dashed 1px #0088cc;
  text-display: none;
