/**********************
     =sv-article
***********************/
.ul-comment {
  font-size: 12px;
}
.p-comment {
  margin-bottom: 0px;
  line-height: 20px;
  font-size: 12px;
}
.p-post-time {
  font-size: 11px;
  color: #808080;
  line-height: 20px;
  margin-bottom: 0px;
}
.user-name-comment {
  font-weight: 700;
  font-size: 12px;
  font-weight: bold !important;
}
.editable {
  dashed: 1px #08c;
  text-display: none;
}
