.table-elements {
  margin: 0 auto;
}
/**********************
     =sv-article
***********************/
.post-article {
  margin-bottom: 15px !important;
}
.post-content {
  border-bottom: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
.post-comment {
  margin-bottom: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
.post-content,
.post-comment {
  margin-bottom: 0px !important;
  line-height: 24px;
  padding: 10px 15px;
}
.img-thumb-container {
  position: relative;
  width: 54px;
  height: 54px;
  overflow: hidden;
}
.comment-user-pic {
  float: left;
}
.img-fb-comment {
  position: relative;
  top: -40%;
  height: 90px;
  display: block;
}
.img-fb-comment-sm {
  width: 42px;
  height: 42px;
  margin-right: 10.5px !important;
  display: block;
  float: left;
}
.comment-input textarea {
  background-color: transparent !important;
  margin-top: 0px;
  margin-bottom: 10px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.ul-comment {
  font-size: 12px;
}
.p-comment {
  margin-bottom: 0px;
  line-height: 20px;
  font-size: 11px;
}
.p-post-time {
  font-size: 12px;
  color: #808080;
  line-height: 24px;
  margin-bottom: 0px;
}
.p-comment-time {
  font-size: 11px;
  color: #808080;
  line-height: 24px;
  margin-bottom: 0px;
}
.user-name-comment {
  font-size: 12px;
  font-weight: bold !important;
}
.panel-comment {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.editable {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0px;
  border-bottom: dashed 1px #08c !important;
}
.popover-title {
  color: #505050 !important;
}
.color-danger {
  color: #db7156;
  cursor: pointer;
}
.color-danger:hover {
  color: #b44326;
}
.color-edit {
  color: #62b1ff;
  cursor: pointer;
}
.color-edit:hover {
  color: #007cf7;
}
.editable-form textarea {
  position: relative;
  font-size: 12px;
  margin-bottom: 10px;
}
.btn-save {
  margin-right: 10px;
}
.btn-cancel {
  color: #8a8a8a;
}
.btn-cancel:hover,
.btn-cancel:active,
.btn-cancel:focus {
  color: #636363;
}
.btn-remove {
  background-color: #f2a34f;
}
.btn-remove:hover {
  background-color: #b44326;
}
.popover-wide {
  max-width: 300px !important;
}
