@import 'nib'
@import 'functions'

/**********************
     =sv-article
***********************/

.post-article
  margin-bottom 15px !important

.post-content
  border-bottom 0px !important
  border-top-left-radius 0px !important
  border-top-right-radius 0px !important

.post-comment
  margin-bottom 0px !important
  border-top-left-radius 0px !important
  border-top-right-radius 0px !important

.post-content
.post-comment
  margin-bottom 0px !important
  line-height 24px
  padding 10px 15px

.img-thumb-container
  position relative
  width 54px
  height 54px
  overflow hidden

.comment-user-pic
  float left

.img-fb-comment
  position relative
  top -40%
  height 90px
  display block

.img-fb-comment-sm
  width 42px
  height 42px
  margin-right (@width / 4) !important
  display block
  float left


.comment-input
  textarea
    background-color transparent !important
    margin-top 0px
    margin-bottom 10px
    border-radius 0px

.ul-comment
  font-size 12px

.p-comment
  margin-bottom 0px
  line-height 20px
  font-size 11px

.p-post-time
  post-time(12px)

.p-comment-time
  post-time(11px)

.user-name-comment
  font-size 12px
  font-weight bold !important

.panel-comment
  border-radius 0px

.editable
  text-decoration none
  cursor pointer
  display inline-block
  padding 0px
  border-bottom dashed 1px #0088cc !important;

.popover-title
  color lighten(color-app, 10) !important

.color-danger
  color color-danger
  hover-color(red)
  cursor pointer

.color-edit
  color lighten(dodgerblue, 30)
  cursor pointer
  hover-darken(30)

.editable-form
  textarea
    position relative
    font-size 12px
    margin-bottom 10px

.btn-save
  margin-right 10px

.btn-cancel
  color lighten(color-app, 40)
  &:hover
  &:active
  &:focus
    color lighten(color-app, 20)

.btn-remove
  background-color orange
  hover-color(red)

.popover-wide
  max-width 300px !important

