@import 'nib'

@import 'functions'

/**********************
     =sv-article
***********************/

.p-comment
  font-size 12px

.p-post-time
  font-size 11px
  margin-bottom 0px

span.user-name-comment
  font-weight bold !important
