@import 'nib'

@import 'functions'

/**********************
     =profile
***********************/
.nav-profile-container
  padding 10px

.nav-profile
  margin-bottom 10px
  li
    a
      color lighten(color-app, 20%)
      font-weight 700
      &:hover
      &:active
      &:focus
        color lighten(color-app, 10%)

.add-new-listing
  color lighten(color-blue, 20%) !important

