.form-group {
  margin-bottom: 10px;
}
label {
  margin-bottom: 0px;
}
.table-elements {
  margin: 0 auto;
}
/**********************
     =profile
***********************/
.add-container {
  padding: 10px;
}
@media screen and (min-width: 992px) {
  .btn-add-listing {
    float: right;
  }
}
.header-cteate-account {
  background-color: #414141 !important;
  padding: 10px;
}
.h-logo-mod {
  font-size: 17px !important;
  font-weight: 700;
  color: #f7f7f4 !important;
  margin-top: 10px;
}
.user-nav-container {
  margin-bottom: 15px;
}
.nav-profile {
  margin-bottom: 10px;
}
.nav-profile li a {
  color: #6f6f6f;
  font-weight: 700;
}
.nav-profile li a:hover,
.nav-profile li a:active,
.nav-profile li a:focus {
  color: #565656;
}
.add-new-listing {
  color: #6d9fc7 !important;
}
.app-form .form-group {
  margin-bottom: 5px !important;
}
.save-profile-changes {
  padding-top: 15px;
}
.btn-delete-account {
  color: #db3136;
}
