@require 'functions.styl'
color-skin =#272727
color-app = #3C3C3C
color-white = lighten(color-app, 98)
color-blue = #396C95
color-lighten = lighten(color-app, 98)
color-light = light(color-app, 70)
color-link = lighten(color-app, 30)
color-link-hover = lighten(color-app, 10)
color-nav = lighten(color-app, 20)
shadow-blue = lighten(color-blue, 88)
text-shadow-blue = shadow-blue 1px 1px 0px;
/**********************
     =profile
***********************/

.add-container
  padding 10px

.btn-add-listing

  @media screen and (min-width: 992px)
    float right

.header-cteate-account
  background-color lighten(color-skin, 10) !important
  padding 10px

.h-logo-mod
  font-size 17px !important
  font-weight 700
  color color-off-white !important
  margin-top 10px

.broker-nav-container
  margin-bottom 15px

.nav-profile
  margin-bottom 10px
  li
    a
      color color-nav
      font-weight 700
      &:hover
      &:active
      &:focus
        color color-link-hover

.add-new-listing
  color lighten(color-blue, 20) !important

.app-form
  .form-group
    margin-bottom 5px !important


