@import 'nib'

@import 'functions'

/**********************
     =profile
***********************/

.add-container
  padding 10px

.btn-add-listing

  @media screen and (min-width: 992px)
    float right

.header-cteate-account
  background-color lighten(color-skin, 10%) !important
  padding 10px

.h-logo-mod
  font-size 17px !important
  font-weight 700
  color color-off-white !important
  margin-top 10px

.user-nav-container
  margin-bottom 15px

.nav-profile
  margin-bottom 10px
  li
    a
      color color-nav
      font-weight 700
      &:hover
      &:active
      &:focus
        color color-link-hover

.add-new-listing
  color lighten(color-blue, 20%) !important

.app-form
  .form-group
    margin-bottom 5px !important


