/*Remax*/
.elements-wrapper {
  padding: 15px;
}
/*Template Styles*/
.article-wrapper {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.info {
  color: #272727 !important;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  top: -7px;
}
/*.elements-nav-wrapper*/
/*padding-right 10px*/
/*padding-left 10px*/
/*margin-left 15px*/
.elements-nav {
  padding: 5px 0px;
}
.fen-element-wrapper {
  width: 128px;
  height: 80px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}
.fen-element {
  width: 128px;
  height: 80px;
  text-align: center;
  position: relative;
}
.fen-element span {
  color: false;
  text-shadow: 1px 0px #565656;
  font-size: 12px;
}
.fen-element-cover {
  padding-top: 0px;
  height: 32px !important;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 128px;
  position: relative;
  0: 0;
  background-color: #fbfbfb;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.vertical-alignment,
.vertical-alignment-cover {
  font-family: font-family 'Karma', serif !important;
  top: 10%;
  position: absolute;
  width: 100%;
  text-align: center;
}
.vertical-alignment span,
.vertical-alignment-cover span {
  text-transform: uppercase;
  color: #fff;
}
.vertical-alignment-cover {
  top: 40%;
}
ul.fen-elements {
  margin: 0 auto;
}
ul.fen-elements li {
  position: relative;
  display: inline-block !important;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 150px !important;
  height: 150px !important;
}
.slide-up {
  position: relative;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}
.slide-up {
  top: -27.586206896551726px;
}
.slide-up.ng-hide {
  top: 0px;
}
.fire {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  background-image: url("../images/elements/fire-bw.png");
}
.fire-hover {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  background-image: url("../images/elements/fire.png") !important;
}
.water {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  background-image: url("../images/elements/water-bw.png") !important;
}
.water-hover {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  background-image: url("../images/elements/water.png") !important;
}
.soft-wood {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  background-image: url("../images/elements/soft-wood-bw.png");
}
.soft-wood-hover {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  background-image: url("../images/elements/soft-wood.png") !important;
}
.hard-wood {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  background-image: url("../images/elements/hard-wood-bw.png") !important;
}
.hard-wood-hover {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  background-image: url("../images/elements/hard-wood.png") !important;
}
.soft-metal {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  background-color: label-default-background;
  background-image: url("../images/elements/soft-metal-bw.png") !important;
}
.soft-metal-hover {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  background-color: label-default-background;
  background-image: url("../images/elements/soft-metal.png") !important;
}
.hard-metal {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  background-color: label-default-background;
  background-image: url("../images/elements/hard-metal-bw.png") !important;
}
.hard-metal-hover {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  background-color: label-default-background;
  background-image: url("../images/elements/hard-metal.png") !important;
}
.mountain-earth {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  background-color: label-default-background;
  background-image: url("../images/elements/mountain-earth-bw.png") !important;
}
.mountain-earth-hover {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  background-color: label-default-background;
  background-image: url("../images/elements/mountain-earth.png") !important;
}
.mother-earth {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  background-color: label-default-background;
  background-image: url("../images/elements/mother-earth-bw.png") !important;
}
.mother-earth-hover {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  background-color: label-default-background;
  background-image: url("../images/elements/mother-earth.png") !important;
}
