.form-group {
  margin-bottom: 10px;
}
label {
  margin-bottom: 0px;
}
.table-elements {
  margin: 0 auto;
}
/**********************
     =shapes
***********************/
.octagon {
  height: 350px;
  width: 350px;
  border-top: 175px solid #c66;
  border-bottom: 175px solid #6c6;
  border-left: 175px solid #66c;
  border-right: 175px solid #cc6;
}
