@import 'nib'

html
  -webkit-font-smoothing: antialized;

body
  font: 12px Helvetica, Arial, sans-serif;

a.button
  border-radius:8px
  transition: all 2s ease;
  box-shadow: #123456 0 0 10px;


button
  overflow: ellipsis;


