.table-elements {
  margin: 0 auto;
}
/**********************
     =top-nav
***********************/
.h-logo {
  font-size: 17px !important;
  font-weight: 700;
  color: #fbfbfb !important;
  margin: 0px !important;
}
