sv-search-property(is-rent='false')
hr
.text-center.aside-browse-buttons.app-container-10
  .form-group
    button.btn.btn-default.bnt-lg.btn-block(ui-sref='app.all-sale-homes') BROWSE ALL LISTINGS FOR SALE
  .form-group
    button.btn.btn-default.bnt-lg.btn-block(ui-sref='app.single-family-homes') SINGLE FAMILY HOMES FOR SALE
  .form-group
    button.btn.btn-default.bnt-lg.btn-block(ui-sref='app.condos-sale-homes') CONDOS FOR SALE

