sv-search-property-rent
hr
.text-center.aside-browse-buttons.app-container-10
  .form-group.text-center
    button.btn.btn-default.bnt-lg.btn-block(type="button") BROWSE ALL LISTINGS FOR RENT
  .form-group.text-center
    button.btn.btn-default.bnt-lg.btn-block(type="button") APARTMENTS
  .form-group.text-center
    button.btn.btn-default.bnt-lg.btn-block(type="button") HOUSES
