sv-search-sale-property(is-rent='true')
hr
.text-center.aside-browse-buttons.app-container-10
  .form-group.text-center
    button.btn.btn-default.bnt-lg.btn-block(ui-sref='app.structure.all-rental-homes') BROWSE ALL LISTINGS FOR RENT
  .form-group.text-center
    button.btn.btn-default.bnt-lg.btn-block(ui-sref='app.structure.all-rental-apartments') APARTMENTS
  .form-group.text-center
    button.btn.btn-default.bnt-lg.btn-block(ui-sref='app.structure.all-rental-houses') HOUSES
