.panel.panel-default.app-tips
  .panel-heading
    h5
      i.fa.fa-lightbulb-o
      span.text-panel Tip of the day
  .panel-body
    p.
      At vero eos et accusamus et iusto odio dignissimos ducimus


