form(method='post', name='form-add-article', id='form-add-article')
	.form-group
		input.form-control(type='text' placeholder='Blog Post Title')
	.form-group
		input.form-control(type='text' placeholder='Written By')
	.form-group
		textarea.add-article.form-control(class='add-article form-control' rows='10' placeholder='Add your article...')
	button.btn.btn-default.pull-right Post

