h3 New Listing
hr
form.new-listing-form(name="form" id="form" novalidate='novalidate')
  sv-listing-add-slider(title='Property Description' open='true' form='form' save='saveDescription()')
    .row
      .col-md-4
        sv-txt(title='Street' open='open' is-saved='isSaved' )
      .col-md-4
        sv-txt(title='City' r='true' open='open' is-saved='isSaved' )
      .col-md-4
        sv-txt(title='State' r='true' open='open' is-saved='isSaved' )
      .col-md-4
        sv-txt(title='Zip'  r='true' open='open' is-saved='isSaved' )
    .row
      .col-md-12
        sv-area(title='Property Details' r='true' open='open' is-saved='isSaved' )
    .row
      .col-md-4
        sv-txt(title='Property Type' open='open' is-saved='isSaved' )
      .col-md-4
        sv-txt(title='Year of Build' open='open' is-saved='isSaved' )
      .col-md-4
        sv-txt(title='MLS #' open='open' is-saved='isSaved' )
    .row
      .col-sm-3
        sv-checkbox(title='Short Sale')
      .col-sm-3
        sv-checkbox(title='Foreclosure')
      .col-sm-3
        sv-checkbox(title='Bank Owned')
    .row
      .col-sm-12
        sv-btn-save(save='save()' title='Save description' form='form')

  sv-listing-add-slider(title='Bedrooms')
    .row
      .col-sm-3
        sv-txt(title='Bedrooms Number' is-saved='isSaved')
    .row
      .col-sm-3
        sv-btn-add-feature(title='Add bedroom')

  sv-listing-add-slider(title='Bathrooms')
    .row
      .col-sm-3
        sv-txt(title='Full Bathrooms Number' )
      .col-sm-3
        sv-txt(title='Half Bathrooms Number' )
    .row
      .col-sm-3
        sv-btn-add-feature(title='Add full bathroom')
      .col-sm-3
        sv-btn-add-feature(title='Add half bathroom')

  sv-listing-add-slider(title='Dining Room')
    .row
      .col-sm-3
        sv-txt(title='Dining Room Size' )
      .col-sm-3
        sv-txt(title='Dining Room Type' )
      .col-sm-3
        sv-txt(title='Dining Room Flooring' )
    .row
      .col-sm-12
        sv-area(title='Dining Room Description' )

  sv-listing-add-slider(title='Kitchen')
    .row
      .col-sm-3
        sv-txt(title='Kitchen Size' )
      .col-sm-3
        sv-txt(title='Kitchen Type' )
      .col-sm-3
        sv-txt(title='Kitchen Flooring' )
    .row
      .col-sm-12
        sv-area(title='Kitchen Description' )

  sv-listing-add-slider(title='Living Room')
    .row
      .col-sm-3
        sv-txt(title='Living Room Size' )
      .col-sm-3
        sv-txt(title='Living Room Type' )
      .col-sm-3
        sv-txt(title='Living Room Flooring' )
    .row
      .col-sm-12
        sv-area(title='Living Room Description' )

  sv-listing-add-slider(title='Other Rooms')
    .row
      .col-sm-3
        sv-btn-add-feature(title='Add other room')

  sv-listing-add-slider(title='Basement')
    .row
      .col-sm-3
        sv-txt(title='Basement Size' )
      .col-sm-3
        sv-txt(title='Basement Type' )
      .col-sm-3
        sv-txt(title='Basement Flooring' )
    .row
      .col-sm-12
        sv-area(title='Basement Description' )

  sv-listing-add-slider(title='Parking')
    .row
      .col-sm-3
        sv-txt(title='Parking Type' )
      .col-sm-3
        sv-txt(title='Garage Type' )
      .col-sm-3
        sv-txt(title='Number of Garage Spaces' )
    .row
      .col-sm-12
        sv-area(title='Additional Features' )

  sv-listing-add-slider(title='Property Features')
    .row
      .col-sm-3
        sv-txt(title='Heating Type' )
      .col-sm-3
        sv-txt(title='Cooling Type' )
    .row
      .col-sm-6
        sv-area(title='Home Features' placeholder='Tv-cable, fire-sprinklers etc'  )
      .col-sm-6
        sv-area(title='Exterior and Lot Features' placeholder='Lot dimensions, driveway etc' )

  sv-listing-add-slider(title='Bulding and Construction')
    .row
      .col-sm-3
        sv-txt(title='House Style:' )
      .col-sm-3
        sv-txt(title='Levels or Stories' )
      .col-sm-3
        sv-txt(title='Roof Type' )
      .col-sm-3
        sv-txt(title='Foundation' )
    .row
      .col-sm-6
        sv-txt(title='Exterior Building Type' placeholder='Tv-cable, fire-sprinklers etc'  )
      .col-sm-6
        sv-area(title=' Building and Construction Description' placeholder='Lot dimensions, driveway etc' )

  sv-listing-add-slider(title='Utilities')
    .row
      .col-sm-3
        sv-txt(title='Water' )
      .col-sm-3
        sv-txt(title='Sewer' )

  sv-listing-add-slider(title='Amenities and Communities Features')
    .row
      .col-md-3
        sv-checkbox(title='Elevator')
      .col-md-3
        sv-checkbox(title='Storage')
      .col-md-3
        sv-checkbox(title='Sundeck')
      .col-md-3
        sv-checkbox(title='Bike Room')
    .row
      .col-sm-12
        sv-btn-add-feature(title='Add feature')
  sv-listing-add-slider(title='Appliances')
    .row
      .col-md-2
        sv-checkbox(title='Oven/Range')
      .col-md-2
        sv-checkbox(title='Dishwasher')
      .col-md-2
        sv-checkbox(title='Washer')
      .col-md-2
        sv-checkbox(title='Dryer')
      .col-md-2
        sv-checkbox(title='Microwave')
      .col-md-2
        sv-checkbox(title='Refrigerator')
    .row
      .col-sm-12
        sv-btn-add-feature(title='Add more appliances')

  sv-btn-add-feature(title='Save Listing')

