.article-wrapper
  .row
    .col-lg-12
      article
        h3 {{post.title}}
          h5  {{post.time | date:'short'}}
        .row
          .col-lg-12
            p {{post.body}}
            ul.list-unstyled
              li(ng-repeat='c in post.comments')
                div {{c.user}}
                div {{c.time| date:'short'}}
                div {{c.comment}}
                hr

  form(role='form', ng-show='auth.user')
    .row
      .col-sm-12.form-group
        textarea.form-control.textarea(placeholder='Write a comment', ng-model='comment.val')
        br
        button.btn.btn-info(ng-click='addComment(post.$id, comment.val, userName, userPic)') Post

