.article-wrapper
  article
    .row
      .col-lg-12
        .post-content.well
          h3 {{post.title}}
          p.p-post-time  {{post.time | date:'short'}}
          p {{post.body}}
    .row
      .col-lg-12
        .post-comment.panel.panel-default
          ul.list-unstyled.ul-comment
            li(ng-repeat='c in post.comments')
              img.img-fb(ng-src="{{c.userPic}}")
              span.user-name-comment {{c.userName}}
              p.p-comment-time {{c.time| date:'short'}}
              p.p-comment(ng-hide='isAdmin || userName==c.userName') {{c.comment}}
              p.p-comment.editable(ng-show='isAdmin || userName==c.userName') {{c.comment}}
              hr


  form(role='form', ng-show='auth.user')
      .form-group.comment-input
        textarea.form-control.textarea(placeholder='Write a comment', ng-model='comment.val')
        button.btn.btn-default(ng-click='addComment(post.$id, comment.val, userName, userPic)') Post

