div
  button.btn.btn-default(ng-click='showAddFields()' ng-show='!isStateAdded') Add New Property
  div(ng-show='isStateAdded')
    div.row
      div.col-sm-3
        input(type='text' placeholder='Property name' ng-model='newFieldName.val').form-control
      div.col-sm-7.form-group
        button.btn.btn-default.btn-sm(ng-model='selectedType', data-html='1', placeholder='Property Type', ng-options='feature.value as feature.label for feature in features | areaRemove:isAreaHidden', bs-select='types') Field Type
          span.caret
    div
      button.btn.btn-sm.btn-default(ng-click='cancelNewField()' ) Cancel
      button.btn.btn-sm.btn-default(ng-click='addNewField()' ng-disabled='!newFieldName.val || !selectedType' ) Save Property
