nav.aside-nav
  ul.aside-menu
    li
      a(ui-sref='app.admin')
        i.fa.fa-gears.fa-fw
        span.text Админ
    li
      a(ng-click='showSub1()' ui-sref='app.about-fengshui')
        i.fa.fa-arrows.fa-fw
        span.text Концепция Фэн-шуй
        i.toggle-icon.fa.fa-angle-left
      ul.sub-menu.list-unstyled.toggle(ng-show='sub1Shown')
        li
          a(ui-sref='app.about-fengshui')
            span.text Что такое Фэн-шуй?
        li
        li
          a(ui-sref='app.yin-yang')
            span.text Инь и Янь
        li
          a(ui-sref='app.wu-xing-elements')
            span.text Пять стихий. Теория У-син.
        li
          a(ui-sref='app.qi-energy')
            span.text Энергия Ци
        li
          a(ui-sref='app.bagua')
            span.text Багуа
    li
      a(ui-sref='app.secrets-fengshui')
        i.fa.fa-bookmark-o.fa-fw
        span.text Секреты Фэн-шуй
    li
    li
      a(ui-sref='app.remax-articles')
        i.fa.fa-newspaper-o.fa-fw
        span.text Статьи
    li
      a(ui-sref='app.audiobooks')
        i.fa.fa-headphones.fa-fw
        span.text Приобрести аудиокниги
    li
      a(ui-sref='app.education')
        i.fa.fa-graduation-cap.fa-fw
        span.text Обучение Фэн-шуй

