.article-wrapper
  article.post-article
    .row
      .col-lg-12
        .post-content.well(class='element-{{post.fenelement}}')
          sv-del-conform(ng-show='isAdmin' post-key='post.$id' remove-post='remove' ).pull-right
          sv-post-edit(ng-show='isAdmin' post-key='post.$id' post='post.body')
          h3 {{post.title}}
          p.p-post-time  {{post.time | date:'short'}}
          p {{post.body}}
        .well.post-comment(class='element-post-{{post.fenelement}}')
          ul.list-unstyled.ul-comment(ng-show='post.comments')
            li(ng-repeat='(commentKey,c) in post.comments')
              sv-del-conform(ng-show='isAdmin || userName==c.userName' comment-key='commentKey' post-key='post.$id')
              ul.list-unstyled
                li
                  a.btn-link-dark(ui-sref='')
                    img.img-fb(ng-src="{{c.userPic}}" ng-if='c.userPic!="Admin"')
                    i.fa.fa-user.fa-lg(ng-if='c.userPic=="Admin"') &nbsp;
                    span.user-name-comment {{c.userName}}
                li
                  p.p-comment(ng-hide='isAdmin || userName==c.userName') {{c.comment}}
                  sv-comment-popover(ng-show='isAdmin || userName==c.userName', c='c' comment-key='commentKey' post-key='post.$id')
                  p.p-comment-time {{c.time| date:'short'}}
              hr
          form.row(role='form', ng-show='auth.user')
            .col-xs-1
              .img-thumb-container
                img.img-fb-comment(ng-src="{{userPic}}")
            .form-group.comment-input.col-xs-11
              textarea.form-control(placeholder='Kомментарий...', ng-model='comment.val')
              .text-right
                button.btn.btn-primary(ng-click='addComment(post.$id, comment.val, userName, userPic);comment.val=""') Добавить комментарий


