.panel.panel-default.app-tips
  .panel-heading
    h5
      i.fa.fa-lightbulb-o
      span.text-panel Мудрость Дня
  .panel-body
    p.
      "Пока вы не научитесь управлять веслами, бесполезно менять  лодку"


