.sidebar-content
  .panel.panel-default.app-tips
    .panel-heading
      h5
        i.fa.fa-lightbulb-o
        span.text-panel Tips
    .panel-body
      p.
        You can do live search to the widget at search box located at top bar. It's very useful if your dashboard is full of widget.


  h5.label.label-default-custom
    i.fa.fa-info-circle
    span.text-panel Any Info
  ul.list-unstyled.list-info-sidebar
    li
      span.info-name Info Name
      span.info-value Info Value
    li
      span.info-name Info Name
      span.info-value Info Value
    li
      span.info-name Info Name
      span.info-value Info Value
    li
      span.info-name Info Name
      span.info-value Info Value
    li
      span.info-name Info Name
      span.info-value Info Value
    li
      span.info-name Info Name
      span.info-value Info Value
