form (role="form" #add-article-form name="add-article-form)
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Blog Post Title"/>
	</div>
	<div class="form-group">
		<textarea class="add-article form-control" rows="10" placeholder="Add your article..."></textarea>
	</div>
	<button class="btn btn-default pull-right" href="">Post</button>

