h3 New Listing
hr
form.new-listing-form(name="add-listing-form" id="add-listing-form")
  .head-panel
    .row
      .col-xs-11
        ul.list-inline
          li
            h4.text-info Property Description
          li
            a(href="")
              i.fa.fa-save.fa-fw
      .col-xs-1.text-right
        a(href="")
          i.fa.fa-angle-double-down.fa-fw
  .panel.panel-default.panel-listing
    .row
      .col-md-4
        .form-group
          label Street:
          input.form-control(type='text' name='street' id='street' )
      .col-md-4
        .form-group
          label City
          input.form-control(type='text' name='city' id='city' )
      .col-md-2
        .form-group
          label State
          input.form-control(type='text' name='state' id='state' )
      .col-md-2
        .form-group
          label Zip
          input.form-control(type='text' name='zip' id='zip' )
    .row
      .col-md-12
        .form-group
          label Property Details
          textarea.form-control(type='text' name='property-details' id='property-details' rows='10' )
    .row
      .col-sm-4
        .form-group
          label Property Type:
          input.form-control(type='text' name='property-type' id='property-type' required)
      .col-sm-4
        .form-group
          label Year of Build
          input.form-control(type='text' name='property-type' id='property-type' required)
      .col-sm-4
        .form-group
          label MLS #
          input.form-control(type='text' name='property-type' id='property-type' required)
    .row
      .col-sm-3
        sv-checkbox(title='Short Sale')
      .col-sm-3
        sv-checkbox(title='Foreclosure')
      .col-sm-3
        sv-checkbox(title='Bank Owned')

  sv-listing-add-slider(title='Bedrooms')
    .row
      .col-sm-3
        sv-txt(title='Bedrooms Number' r='true')
    .row
      .col-sm-3
        .form-group
          button.btn.btn-primary.btn-sm
            i.fa.fa-plus.fa-fw
            | Add Bedroom

  sv-listing-add-slider(title='Bathrooms')
    .row
      .col-sm-3
        sv-txt(title='Full Bathrooms Number' r='true')
      .col-sm-3
        sv-txt(title='Half Bathrooms Number' r='true')
    .row
      .col-sm-3
        .form-group
          button.btn.btn-primary.btn-sm
            i.fa.fa-plus.fa-fw
            | Add Full Bathroom
      .col-sm-3
        .form-group
          button.btn.btn-primary.btn-sm
            i.fa.fa-plus.fa-fw
            | Add Half Bathroom

  sv-listing-add-slider(title='Dining Room')
    .row
      .col-sm-3
        sv-txt(title='Dining Room Size' r='true')
      .col-sm-3
        sv-txt(title='Dining Room Type' r='true')
      .col-sm-3
        sv-txt(title='Dining Room Flooring' r='true')
    .row
      .col-sm-12
        sv-area(title='Dining Room Description' r='true')

  sv-listing-add-slider(title='Kitchen')
    .row
      .col-sm-3
        sv-txt(title='Kitchen Size' r='true')
      .col-sm-3
        sv-txt(title='Kitchen Type' r='true')
      .col-sm-3
        sv-txt(title='Kitchen Flooring' r='true')
    .row
      .col-sm-12
        sv-area(title='Kitchen Description' r='true')

  sv-listing-add-slider(title='Living Room')
    .row
      .col-sm-3
        sv-txt(title='Living Room Size' r='true')
      .col-sm-3
        sv-txt(title='Living Room Type' r='true')
      .col-sm-3
        sv-txt(title='Living Room Flooring' r='true')
    .row
      .col-sm-12
        sv-area(title='Living Room Description' r='true')

  sv-listing-add-slider(title='Other Rooms')
    .row
      .col-sm-3
        .form-group
          button.btn.btn-primary.btn-sm
            i.fa.fa-plus.fa-fw
            | Add Other Room

  sv-listing-add-slider(title='Basement')
    .row
      .col-sm-3
        sv-txt(title='Basement Size' r='true')
      .col-sm-3
        sv-txt(title='Basement Type' r='true')
      .col-sm-3
        sv-txt(title='Basement Flooring' r='true')
    .row
      .col-sm-12
        sv-area(title='Basement Description' r='true')

  sv-listing-add-slider(title='Parking')
    .row
      .col-sm-3
        sv-txt(title='Parking Type' r='true')
      .col-sm-3
        sv-txt(title='Garage Type' r='true')
      .col-sm-3
        sv-txt(title='Number of Garage Spaces' r='true')
    .row
      .col-sm-12
        sv-area(title='Additional Features' r='true')

  sv-listing-add-slider(title='Property Features')
    .row
      .col-sm-3
        sv-txt(title='Heating Type' r='true')
      .col-sm-3
        sv-txt(title='Cooling Type' r='true')
    .row
      .col-sm-6
        sv-area(title='Home Features' placeholder='Tv-cable, fire-sprinklers etc'  r='true')
      .col-sm-6
        sv-area(title='Exterior and Lot Features' placeholder='Lot dimensions, driveway etc' r='true')

  sv-listing-add-slider(title='Bulding and Construction')
    .row
      .col-sm-3
        sv-txt(title='House Style:' r='true')
      .col-sm-3
        sv-txt(title='Levels or Stories' r='true')
      .col-sm-3
        sv-txt(title='Roof Type' r='true')
      .col-sm-3
        sv-txt(title='Foundation' r='true')
    .row
      .col-sm-6
        sv-txt(title='Exterior Building Type' placeholder='Tv-cable, fire-sprinklers etc'  r='true')
      .col-sm-6
        sv-area(title=' Building and Construction Description' placeholder='Lot dimensions, driveway etc' r='true')

  sv-listing-add-slider(title='Utilities')
    .row
      .col-sm-3
        sv-txt(title='Water' r='true')
      .col-sm-3
        sv-txt(title='Sewer' r='true')

  sv-listing-add-slider(title='Amenities and Communities Features')
    .row
      .col-md-3
        sv-checkbox(title='Elevator')
      .col-md-3
        sv-checkbox(title='Storage')
      .col-md-3
        sv-checkbox(title='Sundeck')
      .col-md-3
        sv-checkbox(title='Bike Room')
    .row
      .col-sm-12
        .form-group
          button.btn.btn-primary.btn-sm
            i.fa.fa-plus.fa-fw
            | Add Feature
  sv-listing-add-slider(title='Appliances')
    .row
      .col-md-2
        sv-checkbox(title='Oven/Range')
      .col-md-2
        sv-checkbox(title='Dishwasher')
      .col-md-2
        sv-checkbox(title='Washer')
      .col-md-2
        sv-checkbox(title='Dryer')
      .col-md-2
        sv-checkbox(title='Microwave')
      .col-md-2
        sv-checkbox(title='Refrigerator')
    .row
      .col-sm-12
        .form-group
          button.btn.btn-primary.btn-sm
            i.fa.fa-plus.fa-fw
            | Add Feature
