nav.aside-nav
  ul.aside-menu
    li
      a(ui-sref='app.admin')
        i.fa.fa-gears.fa-fw
        span.text Админ
    li
      a(ng-click='showSub1()')
        i.fa.fa-arrows.fa-fw
        span.text Концепция Фэншуй
        i.toggle-icon.fa.fa-angle-left
      ul.sub-menu.list-unstyled.toggle(ng-show='sub1Shown')
        li
          a(href="")
            span.text Инь и Янь
        li
          a(href="")
            span.text Пять стихий. Теория У-син.
        li
          a(href="")
            span.text Энергия Ци
        li
          a(href="")
            span.text Ло-шу
    li
      a(ui-sref='app.admin')
        i.fa.fa-eye.fa-fw
        span.text Ваш Фэншуй Элемент
    li
      a(ng-click='showSub2()')
        i.fa.fa-book.fa-fw
        span.text Приобрести литературу
        i.toggle-icon.fa.fa-angle-left
      ul.sub-menu.list-unstyled.toggle(ng-show='sub2Shown')
        li
          a(href="")
            span.text Огонь
        li
          a(href="")
            span.text Твердое Дерево
        li
          a(href="")
            span.text Мягкое Дерево
        li
          a(href="")
            span.text Вода
        li
          a(href="")
            span.text Твердый Металл
        li
          a(href="")
            span.text Мягкий Металл
        li
          a(href="")
            span.text Горная Земля
        li
          a(href="")
            span.text Мать Земля
    //li
    //  a(ui-sref='app.admin')
    //    i.fa.fa-clipboard.fa-fw
    //    span.text Link 4
    //li
    //  a(ng-click='showSub3()')
    //    i.fa.fa-clipboard.fa-fw
    //    span.text Link 5
    //    i.toggle-icon.fa.fa-angle-left
    //  ul.sub-menu.list-unstyled.toggle(ng-show='sub3Shown')
    //    li
    //      a(href="")
    //        span.text Text
    //    li
    //      a(href="")
    //        span.text Text
    //    li
    //      a(href="")
    //        span.text Text

//nav.aside-nav
//	ul.list-unstyled.list-aside-nav
//		li
//			a(href='#') What is Feng Shui?
//		li
//			a(href='#') Benefits of Feng Shui
//		li
//			a(href='#') Testimonials
