<div class="article-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <article>
                <h3>{{post.title}}<h5> {{post.time | date:'short'}}</h5></h3>
                <div class="row">
                    <div class="col-lg-12"><p>{{post.body}}</p>
                        <ul class="list-unstyled">
                            <li ng-repeat="c in post.comments"><img ng-src="{{c.userPic}}" class="img-fb"/><span
                                    class="user-name-comment">{{c.userName}}</span>

                                <p class="p-post-time">{{c.time| date:'short'}}</p>

                                <p ng-hide="isAdmin || userName==c.userName" class="p-comment">{{c.comment}}</p>

                                <p ng-show="isAdmin || userName==c.userName" class="p-comment editable">
                                    {{c.comment}}</p>
                                <hr/>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <form role="form" ng-show="auth.user">
        <div class="row">
            <div class="col-sm-12 form-group"><textarea placeholder="Write a comment" ng-model="comment.val"
                                                        class="form-control textarea"></textarea><br/>
                <button ng-click="addComment(post.$id, comment.val, userName, userPic)" class="btn btn-info">Post
                </button>
            </div>
        </div>
    </form>
</div>
