.article-wrapper
  article
    .row
      .col-lg-12
        .post-content.well(class='element-{{post.fenelement}}')
          sv-del-conform(ng-show='isAdmin' post-key='post.$id' remove-post='remove' ).pull-right
          sv-post-edit(ng-show='isAdmin' post-key='post.$id' post='post.body')
          h3 {{post.title}}
          p.p-post-time  {{post.time | date:'short'}}
          p {{post.body}}
    .row(ng-show='post.comments')
      .col-lg-12
        .panel.panel-default.post-comment
          ul.list-unstyled.ul-comment
            li(ng-repeat='(commentKey,c) in post.comments')
              sv-del-conform(ng-show='isAdmin || userName==c.userName' comment-key='commentKey' post-key='post.$id')
              div(ng-if='c.userPic!="Admin"'): img.img-fb(ng-src="{{c.userPic}}" )
              i.fa.fa-user.fa-lg(ng-if='c.userPic=="Admin"') &nbsp;
              span.user-name-comment {{c.userName}}
              p.p-comment-time {{c.time| date:'short'}}
              p.p-comment(ng-hide='isAdmin || userName==c.userName')  {{c.comment}}
              sv-comment-popover(ng-show='isAdmin || userName==c.userName', c='c' comment-key='commentKey' post-key='post.$id')
              hr

  form(role='form', ng-show='auth.user')
    .form-group.comment-input
      textarea.form-control.textarea(placeholder='Write a comment', ng-model='comment.val')
      button.btn.btn-default(ng-click='addComment(post.$id, comment.val, userName, userPic);comment.val=""') Добавить комментарий

