.sidebar-content
	.panel.panel-default
		.panel-heading
			h5
				i.fa.fa-lightbulb-o
				|Tips
		.panel-body
			p.
				You can do live search to the widget at search box located at top bar. It's very useful if your dashboard is full of widget.


	h5.label.label-default
		i.fa.fa-info-circle Any Info
	ul.list-unstyled.list-info-sidebar.bottom-30px
		li.data-row
			span.data-name Disk Space Usage
			span.data-value Some text
		li.data-row
			span.data-name Disk Space Usage
			span.data-value Some text
		li.data-row
			span.data-name Disk Space Usage
			span.data-value Some text
		li.data-row
			span.data-name Disk Space Usage
			span.data-value Some text
		li.data-row
			span.data-name Disk Space Usage
			span.data-value Some text
		li.data-row
			span.data-name Disk Space Usage
			span.data-value Some text
