.sidebar-content
  .panel.panel-default.app-tips
    .panel-heading
      h5
        i.fa.fa-lightbulb-o
        span.text-panel Совет Дня
    .panel-body
      p.
        "Пока вы не научитесь управлять веслами, бесполезно менять  лодку"


  h5.label.label-default-head
    i.fa.fa-info-circle
    span.text-panel Any Info
  ul.list-unstyled.list-info-sidebar
    li
      span.info-name Info Name
      span.info-value Info Value
    li
      span.info-name Info Name
      span.info-value Info Value
    li
      span.info-name Info Name
      span.info-value Info Value
    li
      span.info-name Info Name
      span.info-value Info Value
    li
      span.info-name Info Name
      span.info-value Info Value
    li
      span.info-name Info Name
      span.info-value Info Value
