.nav-profile-container
  .row
    .col-sm-9
      ul.nav.nav-pills.nav-profile
        li
          a(ui-sref='app.profile.broker-profile') Home
        li
          a(ui-sref='app.profile.listings') My Listings
        li
          a(ui-sref='app.profile.broker-profile') Account settings
    .col-sm-3
      .pull-right.add-new-listing
        a.text-info(ui-sref='app.profile.manage-listings')
          i.fa.fa-plus.fa-fw
          | Add New Listing
