.user-nav-container
  .row
    .col-sm-8
      ul.nav.navbar-nav
        li
          a.btn.btn-link(ui-sref='app.profile.broker-homes') My Listings
        li
          a.btn.btn-link(ui-sref='app.profile.drafts') Drafts
        li
          a.btn.btn-link(ui-sref='app.profile.saved-searches') Saved Searches
    .col-sm-2
      .add-container
        button.btn.btn-default-app.btn-sm.btn-add-listing
          i.fa.fa-plus.fa-fw
          | Listing for Rent
    .col-sm-2
      .add-container
        button.btn.btn-default-app.btn-sm.btn-add-listing(ui-sref='app.profile.add-home')
          i.fa.fa-plus.fa-fw
          | Listing for Sale
