.well
  form.form-horizontal(name="form" id="form" novalidate)
    .form-group
      label.col-sm-5(for='uName') User Name:
      .col-sm-7
        input.input-sm.input-sm.form-control(id="uName" placeholder="User Name"  required)

    .form-group
      .col-sm-5
        label First Name:
      .col-sm-7
        input.input-sm.form-control(id="fName" placeholder="First Name"  required)

    .form-group
      .col-sm-5
        label Last Name:
      .col-sm-7
        input.input-sm.form-control(id="lName" placeholder="Last Name" required)

    .form-group
      .col-sm-5
        label MLS Id:
      .col-sm-7
        input.input-sm.form-control(id="mls-id" placeholder="MLS Id" required)

    .form-group
      .col-sm-5
        label Website:
      .col-sm-7
        input.input-sm.form-control(id="website" placeholder="Website" required)

    .form-group
      .col-sm-5
        label Email:
      .col-sm-7
        input.input-sm.form-control(id="email" placeholder="Fb Email" required)

    .form-group
      .col-sm-5
        label Phone Number:
      .col-sm-7
        input.input-sm.form-control(id="phone" placeholder="Phone Number" required)

    .save-profile-changes
      button.btn.btn-info.btn-sm(ng-click='updateProfileInfo(uName, fName,lName,email,phone)' ng-disabled='form.$invalid')
        i.fa.fa-save.fa-fw
        | Save Changes
    hr
    .text-right
      sv-del-profile
