.row
  .col-sm-7
    ul.nav.navbar-nav
      li
        a.btn.btn-link(ui-sref='app.profile.user-profile') Home
      li
        a.btn.btn-link(ui-sref='app.profile.listings') My Listings
      li
        a.btn.btn-link(ui-sref='app.profile.user-profile') Account settings
  .col-sm-3
    .add-container
      button.btn.btn-link.text-info.btn-add-listing(ui-sref='app.profile.manage-listings') Add New Listing(OLD)
  .col-sm-2
    .add-container
      button.btn.btn-link.text-info.btn-add-listing(ui-sref='app.profile.add-listing') Add New Listing
