.user-nav-container
  .row
    .col-sm-10
      ul.nav.navbar-nav
        li
          a.btn.btn-link(ui-sref='app.profile.homes') My Home Listings
        li
          a.btn.btn-link(ui-sref='app.profile.drafts') Drafts
        li
          a.btn.btn-link(ui-sref='app.profile.saved-searches') Saved Searches
        li
          a.btn.btn-link(ui-sref='app.profile.wish-list') Wish List
    .col-sm-2
      .add-container
        button.btn.btn-link.text-info.btn-add-listing(ui-sref='app.profile.add-home') Add Home Listing
