.well
  form.form-horizontal(name="form" type='text' id="form" novalidate)
    .form-group
      .col-sm-5
        label First Name:
      .col-sm-7
        span.span-required(ng-if='form.fName.$invalid') Required
        input.input-sm.form-control(type='text' name="fName" id="fName"  ng-model='broker.firstName' placeholder="{{user.firstName}}"  required)


    sv-input-txt(input-name='lastName' input-model='broker.lastName' input-type='text' is-required='true'  input-class="col-sm-7"  label-class="col-sm-5" field-class="input-sm" )

    sv-input-txt(input-name='mls' input-model='broker.mls' input-type='number' is-required='true'  input-class="col-sm-7"  label-class="col-sm-5" field-class="input-sm" )

    sv-input-txt(input-name='website' input-model='broker.website' input-type='url' is-required='false'  input-class="col-sm-7"  label-class="col-sm-5" field-class="input-sm" )

    sv-input-txt(input-name='email' input-model='broker.email' input-type='email' is-required='true'  input-class="col-sm-7"  label-class="col-sm-5" field-class="input-sm" )

    sv-input-txt(input-name='mls' input-model='broker.mls' input-type='tel' is-required='true'  input-class="col-sm-7"  label-class="col-sm-5" field-class="input-sm" )

    .form-group
      .col-sm-5
        label Phone Number:
      .col-sm-7
        input.input-sm.form-control(type='text' name="phone" id="phone" ng-model='broker.phone' placeholder="Phone Number")
    .save-profile-changes
      sv-btn-save-profile-info(save-profile-info='saveProfileInfo(form)' form='form')
    hr
    .text-right
      sv-del-profile
