ul.nav.nav-pills
  li
    a(ui-sref='app.profile.broker-profile') Home
  li
    a(ui-sref='app.profile.listings') My Listings
  li
    a(ui-sref='app.profile.broker-profile') Account settings
  li.pull-right
    a.text-info(ui-sref='app.profile.manage-listings') Add New Listing
