ul.nav.navbar-nav
  li
    a.btn.btn-link(ui-sref='app.profile.user-profile') Home
  li
    a.btn.btn-link(ui-sref='app.profile.listings') My Listings
  li
    a.btn.btn-link.text-info(ui-sref='app.profile.manage-listings') Add New Listing
  li
    a.btn.btn-link(ui-sref='app.profile.user-profile') Account settings
