.well
  sv-spinner(ng-show='isDataLoading')
  form.form-horizontal(name="customerForm" id="customerForm" novalidate ng-hide='isDataLoading')
    .form-group
      .col-sm-5
        label First Name:
      .col-sm-7
        input.input-sm.form-control(id="last_name" placeholder="First Name" ng-model='customer.first_name' required)

    .form-group
      .col-sm-5
        label Last Name:
      .col-sm-7
        input.input-sm.form-control(id="lName" ng-model='customer.last_name' placeholder="Last Name" required)

    .form-group
      .col-sm-5
        label Email:
      .col-sm-7
        input.input-sm.form-control(type='email' id="email" ng-model='customer.email' placeholder="Fb Email" required)

    .form-group
      .col-sm-5
        label Phone Number:
      .col-sm-7
        input.input-sm.form-control(type='tel' id="phone" ng-model='customer.phone' placeholder="Phone Number" required)

    .save-profile-changes
      sv-btn-save-profile-info(save-profile-info='saveProfileInfo()')
    span(ng-show="!isLocal") Save your account locally
    hr
    .text-right
      sv-del-profile
