.popover.edit-comment-container(data-placement="top")
  .arrow
  h3.popover-title  Редактировать
  .popover-content
    form.form-inline.editable-form(name='form', id='form' novalidate)
      .form-group
        textarea.form-control.textarea-edit-post(ng-model='commentnew.val' rows=10 cols=35 required)
      .form-group
        button.btn.btn-primary.btn-sm.btn-save(ng-click='saveComment()' ng-disabled='form.$invalid || form.$pristine')
          i.fa.fa-check
        button.btn.btn-default.btn-sm.btn-cancel(ng-click='$hide()')
          i.fa.fa-times
