.user-nav-container
  .row
    .col-sm-12
      ul.nav.navbar-nav
        li
          a.btn.btn-link(ui-sref='app.profile.wish-list') Wish List
        li
          a.btn.btn-link(ui-sref='app.profile.saved-searches') Saved Searches
        li
          a.btn.btn-link(ui-sref='app.profile.user-profile') Profile Settings
