div
  form(id="form" type="text" name="form" novalidate)
    .row
      .col-md-6.col-sm-6.col-xs-12
        .form-group
          label First Name:
          input.form-control(type="text" name="firstName" id="firstName" ng-model='email.fname')
      .col-md-6.col-sm-6.col-xs-12
        .form-group
          label Last Name:
          input.form-control(type="text" name="lastName" id="lastName" ng-model='email.lname')
    .row
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          label Home Phone:
          input.form-control(type="text" name="homePhone" id="homePhone" placeholder="(***)***-****" ng-model='email.phone')
      .col-md-4.col-sm-4.col-xs-12
        .form-grou
          label Mobile Phones:
          input.form-control(type="text" name="mobilePhone" id="mobilePhone" placeholder="(***)***-****" ng-mode='email.mobile' )
      .col-md-4.col-sm-4.col-xs-12
        label Email:
        .form-group
          .input-group
            .input-group-addon @
            input.form-control(type="text" name="email" id="email" ng-model='email.from')
    .row
      .col-md-8.col-sm-8.col-xs-12
        .form-group
          label Subject:
          input.form-control(type="text" name="subject" id="subject" placeholder="Your subject" ng-model='email.subject' required)
    .row
      .col-md-8.col-sm-8.col-xs-12
        .form-group
          label Your Message:
          textarea.form-control(type="text" name="message" id="message" rows='10' placeholder="Your message" ng-model='email.body'  required)
    button.btn.bnt-radius.submit-search.btn-mob-dev(ng-click='sendMessage()')
      i.fa.fa-send.fa-fw
      | &nbspSend

