.popover.edit-comment-container(data-placement="top")
  .arrow
  h3.popover-title Edit your comment
  .popover-content
    form.form-inline.editable-form
      .form-group
        textarea.form-control.textarea-edit-post(ng-model='comment' rows=10 cols=35)
      .form-group
        button.btn.btn-primary.btn-sm.btn-save(type="submit")
          i.fa.fa-check
        button.btn.btn-default.btn-sm.btn-cancel(type="submit")
          i.fa.fa-times
