<div class="popover editable-container editable-popup fade right in" style="display: block; top: 272px; left: 506px;">
  <div class="arrow" style=""></div>
  <h3 class="popover-title">Enter your last name</h3>

  <div class="popover-content">
    <div>
      <div class="editableform-loading" style="display: none;"></div>
      <form class="form-inline editableform" style="">
        <div class="control-group form-group">
          <div>
            <div class="editable-input" style="position: relative;"><input type="text" class="form-control input-sm"
                                                                           placeholder="Required"
                                                                           style="padding-right: 24px;"> <span
              class="editable-clear-x"> </span></div>
            <div class="editable-buttons">
              <button type="submit" class="btn btn-primary btn-sm editable-submit"><i
                class="glyphicon glyphicon-ok"> </i></button>
              <button type="button" class="btn btn-default btn-sm editable-cancel"><i
                class="glyphicon glyphicon-remove"> </i></button>
            </div>
          </div>
          <div class="editable-error-block help-block" style="display: none;"></div>
        </div>
      </form>
    </div>
  </div>
</div>
