.popover.editable-container.editable-popup.fade.right.in.edit-comment-container
  .arrow
  h3.popover-title Enter your last name
  .popover-content
    .editableform-loading
    form.form-inline.editableform
      .control-group.form-group
        div
          .editable-input
            input.form-control.inpuh-sm(type="text" placeholder="Required" style="padding-right: 24px;")
            span(class = "editable-clear-x") {{comment}}
          .editable-buttons
            button.btn.btn-primary.btn-sm.editable-submit(type="submit")
            button.btn.btn-defaul.btn-sm.editable-cancel(type="submit")
        .editable-error-block.help-block(style="display: none;")
