.form-group
  button.btn.btn-default(
  ng-model='sectionProperty.value'
  trigger='click'
  ng-options='type.$value as type.$value for type in types',
  bs-select)
    span.caret.app-caret.text-right

