.row
  .col-sm-6.elements-nav
    sv-frame(title='ОГОНЬ', element-class='fire')
  .col-sm-6.elements-nav
    sv-frame(title='ВОДА', element-class='water')
.row
  .col-sm-6.elements-nav
    sv-frame(title='МЯГКОЕ ДЕРЕВО', element-class='soft-wood')
  .col-sm-6.elements-nav
    sv-frame(title='ТВЕРДОЕ ДЕРЕВО', element-class='hard-wood')

.row
  .col-sm-6.elements-nav
    sv-frame(title='МЯГКИЙ МЕТАЛЛ', element-class='soft-metal')
  .col-sm-6.elements-nav
    sv-frame(title='ТВЕРДЫЙ МЕТАЛЛ', element-class='hard-metal')
.row
  .col-sm-6.elements-nav
    sv-frame(title='МАТЬ ЗЕМЛЯ', element-class='mother-earth')
  .col-sm-6.elements-nav
    sv-frame(title='ГОРНАЯ ЗЕМЛЯ', element-class='mountain-earth')

