h3.bg-info.bg-custom Our selected property
.elements-wrapper
  .row
    .col-md-4.col-xs-12.elements-nav
      sv-frame(name='огонь', element-class='fire', fen-element-active='fenElementActive')
    .col-md-4.col-xs-12.elements-nav
      sv-frame(name='вода', element-class='water', fen-element-active='fenElementActive')
    .col-md-4.col-xs-12.elements-nav
      sv-frame(name='мягкое дерево', element-class='soft-wood', fen-element-active='fenElementActive')
    //.col-md-4.col-xs-12.elements-nav
    //  sv-frame(name='твердое дерево', element-class='hard-wood', fen-element-active='fenElementActive')
  .row
    .col-md-4.col-xs-12.elements-nav
      sv-frame(name='мягкий металл', element-class='soft-metal', fen-element-active='fenElementActive')
    .col-md-4.col-xs-12.elements-nav
      sv-frame(name='твердый металл', element-class='hard-metal', fen-element-active='fenElementActive')
    .col-md-4.col-xs-12.elements-nav
      sv-frame(name='горная земля', element-class='mountain-earth', fen-element-active='fenElementActive')
    //.col-md-4.col-xs-12.elements-nav
    //  sv-frame(name='мать земля', element-class='mother-earth', fen-element-active='fenElementActive')

