.well.text-center
  ul.fen-elements
    li: .red.full-height: .v-align Fire
    li: .more.red.full-height: .v-align Fire Info
    li: .blue.full-height: .v-align Water
    li: .green.full-height: .v-align Earth


