.row
  .col-sm-6.elements-nav
    sv-frame(element-class='fire')
  .col-sm-6.elements-nav
    sv-frame(element-class='hard-wood')
.row
  .col-sm-6.elements-nav
    sv-frame(element-class='soft-wood')
  .col-sm-6.elements-nav
    sv-frame(element-class='water')

.row
  .col-sm-6.elements-nav
    sv-frame(element-class='soft-metal')
  .col-sm-6.elements-nav
    sv-frame(element-class='hard-metal')
.row
  .col-sm-6.elements-nav
    sv-frame(element-class='mountain-earth')
  .col-sm-6.elements-nav
    sv-frame(element-class='mother-earth')

//.row
    sv-frame(element-class='mother-earth')
//  .col-sm-3
//    sv-frame(element-class='hard-wood')
//  .col-sm-3
//    sv-frame(element-class='soft-wood')
//  .col-sm-3
//    sv-frame(element-class='hard-wood')
//  .col-sm-3
//    sv-frame(element-class='hard-wood')
//
//.row
//  .col-sm-3
//    sv-frame(element-class='hard-wood')
//  .col-sm-3
//    sv-frame(element-class='soft-wood')
//  .col-sm-3
//    sv-frame(element-class='hard-wood')
//  .col-sm-3
//    sv-frame(element-class='hard-wood')
