.fen-element-wrapper(class='{{elementClass}}')
  .fen-element
    .vertical-alignment
      span {{title }}
  .fen-element-cover(ng-show='isInfoShown').slide-up.ng-hide
    .vertical-alignment
      span.info Больше
