.footer
  .container
    .footer-content
      span Created by chicagobusinessintelligence.net
      ul.list-inline.pull-right
        li
          a.btn.btn-link.btn-link-light(ui-sref='app.home') Home
        li
          a.btn.btn-link.btn-link-light(ui-sref='app.about') About
        li
          a.btn.btn-link.btn-link-light(ui-sref='app.contact') Contact Us
