.footer
	.container
		.footer-content
			span Created by chicagobusinessintelligence.net
			ul.list-inline.pull-right
				li
					a.btn.btn-link(ui-sref='app.home') Home
				li
					a.btn.btn-link(ui-sref='app.about') About
				li
					a.btn.btn-link(ui-sref='app.contact') Contact Us
