.footer
    .container
        .row
            .col-xs-12
                span © Copyright no one at all. Go to town.
                ul.list-inline.pull-right
                    li
                      a.btn.btn-link(ui-sref='app.home') Home
                    li
                      a.btn.btn-link(ui-sref='app.about') About
                    li
                      a.btn.btn-link(ui-sref='app.contact') Contact Us
