.footer
  .container
    .footer-content
      span Created by chicagobusinessintelligence.net
      ul.list-inline.pull-right
        li
          a.btn.btn-link.btn-link-light(ui-sref='app.home')
            span Главная
        li
          a.btn.btn-link.btn-link-light(ui-sref='app.contact') Обратная связь
