.footer
  .container
    .footer-content
      span
        a.btn.btn-link-light(href="http://www.fengshuiplaza.com") Совместно с www.fengshuiplaza.com
      ul.list-inline.pull-right
        li
          a.btn.btn-link.btn-link-light(ui-sref='app.home')
            span Главная
        li
          a.btn.btn-link.btn-link-light(ui-sref='app.contact') Обратная связь
