div
  div(ng-show='bothShown')
    .row
      .col-xs-6
        sv-home-panel()
      .col-xs-6
        sv-home-panel(is-rent='true')
  .row(ng-hide='bothShown')
    .col-xs-12
      sv-switch-book(is-rent='isRent')
      div(ng-show="!isRent")
        sv-home-panel(is-rent='false')
      div(ng-show="isRent")
        sv-home-panel(is-rent='true')
