div
  h1 Welcome to Remax 1st Class Realty
  hr
  p.p-home Remax 1st Class Realty is a &nbsp;
    em Real Estate Company &nbsp;
    | located in &nbsp;
    em Skokie, IL. &nbsp;
    | We offer a comprehensive service in real estate.
    | We can help to buy, sell or manage residential property,
    | assist in finding the best mortgage conditions as well as find professional attorneys to get all paper prepared.
    | We have successful experience in short sales and always have a great investment opportunities.
    | Our main price range is from 35k till 500k,
    | though we also have experience and listings in luxury market.
  h3.bg-info.bg-custom Our first line districts are:
  .row
    .col-md-3.col-xs-6
      ul.list-unstyled.ul-first-line
        li
          a(ui-sref='app.structure.city-homes({city:"Bensenville"})') Bensenville
        li
          a(ui-sref='app.structure.city-homes({city:"Des Plaines"})') Des Plaines
        li
          a(ui-sref='app.structure.city-homes({city:"Evanston"})') Evanston
        li
          a(ui-sref='app.structure.city-homes({city:"Glenview"})') Glenview
    .col-md-3.col-xs-6
      ul.list-unstyled.ul-first-line
        li
          a(ui-sref='app.structure.city-homes({city:"Highland Park"})') Highland Park
        li
          a(ui-sref='app.structure.city-homes({city:"Lake Forest"})') Lake Forest
        li
          a(ui-sref='app.structure.city-homes({city:"Lincolnwood"})') Lincolnwood
        li
          a(ui-sref='app.structure.city-homes({city:"Morton Grove"})') Morton Grove
    .col-md-3.col-xs-6
      ul.list-unstyled.ul-first-line
        li
          a(ui-sref='app.structure.city-homes({city:"Niles"})') Niles
        li
          a(ui-sref='app.structure.city-homes({city:"North Chicago"})') North Chicago
        li
          a(ui-sref='app.structure.city-homes({city:"Northbrook"})') Northbrook
        li
          a(ui-sref='app.structure.city-homes({city:"Northfield"})') Northfield
    .col-md-3.col-xs-6
      ul.list-unstyled.ul-first-line
        li
          a(ui-sref='app.structure.city-homes({city:"Park Ridge "})') Park Ridge
        li
          a(ui-sref='app.structure.city-homes({city:"Riverwoods"})') Riverwoods
        li
          a(ui-sref='app.structure.city-homes({city:"Skokie"})') Skokie
        li
          a(ui-sref='app.structure.city-homes({city:"Winnetka"})') Winnetka

