.listing-header-container
  div
    .listing-navigation-container(ng-if='!isTemplate')
      .row
        .col-sm-6
          ol.breadcrumb.breadcrumb-app
            li
              a.btn.btn-link.btn-back(sv-back)
                i.fa.fa-arrow-left.fa-fw
                | &nbsp Previous Page
    div(ng-if='isTemplate')
      ul.list-inline.text-right
        li
          sv-cancel-view
        li
          button.btn.btn-sm.btn-primary(ng-click='saveTemplate(homeForm)' ng-disabled="homeForm.$valid || homeForm.$pristine")
            i-i.fa.fa-save.fa-fw
            | Save Listing

  div(ng-if='!isTemplate')
    .row
      .col-sm-6.col-xs-12
        blockquote
          h3 {{home|showSectionProp:'price'| currency:"$":0}}
          h4.address-style {{home|showSectionProp:'street'}},
          h4.address-style
            | {{home|showSectionProp:'city'}},
            | {{home|showSectionProp:'state'}}
            | {{home|showSectionProp:'zip'}}
          h5.prop-type.text-info {{home|showSectionProp:'propertyType'}}

      .col-sm-6.col-xs-12
        sv-sale-type(home='home')

