ul.ul-basic-info.list-inline
  li
    i.fa.fa-check-circle-o.fa-fw
    | MLS# {{home|showSectionProp:'mls'}}
  li
    i.fa.fa-check-circle-o.fa-fw
    | {{home|showSectionProp:'bedrooms'}} beds
  li
    i.fa.fa-check-circle-o.fa-fw
    | {{home|showSectionProp:'fullBathrooms'}} full baths
  li
    i.fa.fa-check-circle-o.fa-fw
    | {{home|showSectionProp:'propertySize'}} sq ft
