form.form-inline.search-home-page(id="form", name="form", ng-submit="mainSearch()")
  .form-group
    select.btn.btn-default.text-right.select-home-search.dropcontainer(ng-model='property.value'
      ng-options='estateType.value as estateType.label for estateType in estateTypes') For Sale
      span.caret
  .form-group
    input.form-control.input-search(type="location", name="location" id="location", placeholder="City, State, Zip Code or #MLS", ng-model="query.location")
  .form-group
    button.btn.btn-primary.btn-search-home-page.btn-mob-dev(ng-click='mainSearch()')
      i.fa.fa-search.fa-fw
      |Search

