div(ng-if='true')
  fa-app(style='width:{{w}}px;height:{{h}}px')
    fa-modifier(ng-repeat='home in homes')
      fa-surface(fa-background-color="'green'" fa-size='[{{w}},{{h}}]')
        img(ng-src="images/houses/0{{$index+1}}.jpg")
