div
  .head-panel.cursor-p
    .row
      .col-xs-11
        ul.list-inline(ng-switch="user.profileType")
          li
            h4.text-info {{section.title | keyConversion}}
          li(ng-show='isVisible' ng-switch-when="broker")
            sv-btn-action(icon='fa-edit' action='editListing()' ng-hide='isEdit || isTemplate')
            sv-btn-action(icon='fa-save' action='saveSection()' ng-show='isEdit || isTemplate')
            sv-btn-action(icon='fa-remove' action='cancelEditListing()' ng-show='isEdit || isTemplate')
      .col-xs-1(ng-click='toggleShow()')
        .text-right(href="")
          i.fa.fa-angle-double-up.fa-fw(ng-show='isVisible')
          i.fa.fa-angle-double-down.fa-fw(ng-hide='isVisible')
  .panel.panel-default.panel-listing.info-slider(ng-show='isVisible')
    .row(ng-if="isSingleProp===1")
      .col-sm-12
        ul.ul-data-just.list-unstyled
          li.row(ng-repeat='property in section.content | orderBy:"order"')
            .col-xs-12(ng-if='!isEdit && !isTemplate') {{property.value}}
            //  edit
            .col-xs-12(ng-switch='property.type' ng-if='isEdit || isTemplate')
              sv-txt(max-len='maxLen' ng-switch-when='txt' section-property='property'  r='required.indexOf(property.title)>-1')
              sv-area(max-len='maxLen' ng-switch-when='area' section-property='property'  r='required.indexOf(property.title)>-1')
              sv-chbx(ng-switch-when='chbx' section-property='property'  r='required.indexOf(property.title)>-1')
              sv-drop-down(ng-switch-when='drdwn' section-property='property'  r='required.indexOf(property.title)>-1')
    .row(ng-if="isSingleProp>1")
      .col-sm-6.col-xs-12
        ul.ul-data-just.list-unstyled
          li.row(ng-repeat='property in section.content| orderBy:"order"' ng-show='$even')
            div.listing-label.col-sm-5.col-xs-6 {{property.title | keyConversion}}:
            div.content-info.col-sm-7.col-xs-6(ng-if='!isEdit && !isTemplate') {{property.value | boolToBinery}}
            div.content-info.col-sm-7.col-xs-6(ng-switch='property.type' ng-if='isEdit || isTemplate')
              sv-txt(max-len='maxLen' ng-switch-when='txt' section-property='property'  r='required.indexOf(property.title)>-1')
              sv-area(max-len='maxLen' ng-switch-when='area' section-property='property'  r='required.indexOf(property.title)>-1')
              sv-chbx(ng-switch-when='chbx' section-property='property'  r='required.indexOf(property.title)>-1')
              sv-drop-down(ng-switch-when='drdwn' section-property='property'  r='required.indexOf(property.title)>-1')
      .col-sm-6.col-xs-12
        ul.ul-data-just.list-unstyled
          li.row(ng-repeat='property in section.content| orderBy:"order"' ng-show='$odd')
            div.listing-label.col-sm-5.col-xs-6 {{property.title | keyConversion}}:
            div.content-info.col-sm-7.col-xs-6(ng-if='!isEdit && !isTemplate') {{property.value | boolToBinery}}
            div.content-info.col-sm-7.col-xs-6(ng-switch='property.type' ng-if='isEdit || isTemplate')
              sv-txt(max-len='maxLen' ng-switch-when='txt' section-property='property'  r='required.indexOf(property.title)>-1')
              sv-area(max-len='maxLen' ng-switch-when='area' section-property='property'  r='required.indexOf(property.title)>-1')
              sv-chbx(ng-switch-when='chbx' section-property='property'  r='required.indexOf(property.title)>-1')
              sv-drop-down(ng-switch-when='drdwn' section-property='property'  r='required.indexOf(property.title)>-1')
    sv-add-feature(section='section' save-section='saveSection()' ng-if='(isEdit || isTemplate) && isButtonShown')
