.one-stop-service
  .container
    .row
      .col-sm-7
        ul.list-unstyled
          li
            .remax-logo-container
              img.remax-first-class(ng-src="../images/home/remax-first-class-logo.png")
          li.pad-app
            sv-home-page-search
      .col-sm-5
        ul.list-unstyled
          li
            sv-one-stop
          li
            ul.list-inline.home-page-social.text-right
              li
                a(class="social-img" href="http://www.linkedin.com/profile/view?id=271875691&trk=nav_responsive_tab_profile" target="_blank" data-toggle="tooltip" data-placement="left" title="Our LinkedIn Page")
                  img(ng-src="../images/home/linkedin-36.png")
              li
                a(class="social-img" href="https://twitter.com/RemaxFirstClass" target="_blank" data-toggle="tooltip" data-placement="left" title="Our Twitter Page")
                  img(ng-src="../images/home/twitter.png")
              li
                a(class="social-img" href="https://www.facebook.com/pages/Remax-1st-CLASS/177448822432081" target="_blank" data-toggle="tooltip" data-placement="left" title="Our Facebook Page")
                  img(ng-src="../images/home/fb.png")
              li
                a(class="social-img" href="https://plus.google.com" target="_blank" data-toggle="tooltip" data-placement="left" title="Our GooglePlus Page")
                  img(ng-src="../images/home/google-plus.png")
