.one-stop-service
  .container
    fa-app( ng-style='myStyle' fa-perspective="1000")
      fa-modifier(fa-size='[2*{{wsm}}, undefined]' )
        fa-modifier( fa-rotate-x='angle.get()' fa-align="[1, 0.5]" fa-origin="[0, 0]" fa-translate='[0,20,0]')
          fa-scroll-view(fa-pipe-from='handler')
            fa-view(ng-repeat='home in homes')
              fa-modifier(fa-size='[{{wsm}},{{hsm}}]' )
                fa-surface(fa-pipe-to='handler' fa-size='[{{wsm}},{{hsm}}]' )
                  img.thumbnail(ng-src="{{home.image}}" style='width:{{wsm}}px;height:{{hsm}}px')
                fa-modifier(fa-size='[{{wsm}},{{hsm/5}}]' fa-origin="[0, 1]" fa-align="[0, 1]"  fa-opacity="opacityFooter.get()" )
                  fa-surface(fa-pipe-to='handler' fa-background-color="'grey'" )
                    ul.list-unstyled
                      li
                        .row
                          .col-sm-3
                            span {{home.city}}
                      li
                        .row
                          .col-sm-3
                            span {{home.price | currency}}

