.listing
  sv-home-sale-header(home-form-in='homeFormIn' is-template='isTemplate' save-template='saveTemplate()' draft='draft' del-draft='delDraft')
  .gallery-wrapper(ng-if='!isTemplate')
    .row
      .col-sm-12
        sv-photo-gallery
  form(name="homeForm" id="form" novalidate='novalidate')
    ul.list-unstyled
      li(ng-repeat='section in home|homeFilter:"brokers" |orderBy:"order"')
        sv-home-display-slider(section='section' is-template='isTemplate' update-house='updateHouse(sectionIndex,sectionContent)')

