.one-stop-service
  .container
    fa-app( ng-style='myStyle')
      fa-scroll-view(fa-pipe-from='handler')
        fa-view(ng-repeat='home in homes')
          fa-modifier(fa-size='[{{wsm}},{{hsm}}]' fa-align="[0, 0]" fa-origin="[0, 0]")
            fa-surface(fa-pipe-to='handler')

