.listing
  sv-spinner(ng-show='isDataLoading')
  div(ng-hide='isDataLoading')
    sv-home-rental-header(rent='rent' is-template='isTemplate' save-template='saveTemplate()' is-draft='isDraft' del-draft='delDraft')
    .gallery-wrapper(ng-if='!isTemplate')
      .row
        .col-sm-12
          sv-photo-gallery
    form(name="rentForm" id="form" novalidate='novalidate')
      ul.list-unstyled
        li(ng-repeat='section in rent|homeFilter:"brokers" |orderBy:"order"')
          sv-home-display-slider(section='section' is-template='isTemplate' update-home-section='updateHomeSection(section)')
