.one-stop-service
  .container
    .row
      .col-sm-7
        ul.list-unstyled
          li
            .remax-logo-container
              img.remax-first-class(ng-src="../images/home/remax-first-class-logo.png")
          li.pad-app
            sv-home-page-search
      .col-sm-5
        ul.list-unstyled
          li
            sv-one-stop
          li
            ul.list-inline.home-page-social.text-right
              li
                img(ng-src="../images/home/linkedin-36.png")

              li
                img(ng-src="../images/home/twitter.png")
              li
                img(ng-src="../images/home/fb.png")
              li
                img(ng-src="../images/home/google-plus.png")
