.well.draft-sm-container
  .row
    .col-sm-12
      ul.list-inline
        li
          h4 {{draft|showSectionDraft:'propertyType'}}
        li.pull-right
          h5 $&nbsp{{draft|showSectionDraft:'price'}}
  hr
  .row
    .col-sm-6
      a.thumbnail(ui-sref='app.profile.one-home-draft({mls:draft.$id})')
        sv-photo-thumb(img='../images/houses/1.jpg' height='120')
    .col-sm-6
      .draft-info-container
        ul.list-unstyled
          li
            h3 MLS#: {{draft|showSectionDraft:'mls'}}
          li
            h4
              | {{draft|showSectionDraft:'street'}}
              | {{draft|showSectionDraft:'city'}}
              | {{draft|showSectionDraft:'state'}}
              | {{draft|showSectionDraft:'zip'}}
          li
            ul.list-inline
              li
                p beds, &nbsp
              li
                p full baths

      .draft-info-container
        ul.list-inline
          li
            button.btn.btn-default.btn-sm.btn-draft(ng-click='postDraft({mls:draft.$id})')
              i.fa.fa-globe.fa-fw.fa-lg
              | Post
          li
            button.btn.btn-default.btn-sm.btn-draft(ng-click='removeDraft({mls:draft.$id})')
              i.fa.fa-trash.fa-fw.fa-lg
              | Delete

