div
  fa-app(ng-style='myStyle' fa-perspective="500")
    fa-scroll-view(fa-pipe-from='handler' fa-start-index='0' id='scrollView' fa-options="options.homePageScroll")
      fa-modifier(ng-repeat='home in homes' fa-size='[{{wsm}},{{hsm}}]'  fa-rotate-x='home.angle.get()' fa-align="[0.1, 0]" fa-origin="[0, 0]")
        fa-modifier(fa-translate='[0,{{-$index*10}},0]' fa-size='[undefined,{{.5*hsm}}]')
          fa-surface(fa-pipe-to='handler')
            img.thumbnail(ng-src="{{home.image}}" style='width:{{.8*wsm}}px;height:{{hsm}}px')
