.header-container
  .container
    .row
      .col-md-1.col-sm-12.logo-content
        a(href="#" title="")
          img(ng-src="../images/header/REMAX1Logo.png" alt="Remax First Class Logo")
      .col-md-5.col-sm-12.slogan-text.text-center
        p YOU NEED ONLY ONE COMPANY
        p FOR ALL YOUR REAL ESTATE NEEDS
        ul.list-inline.ul-call-us
          li.callUsContent
            img( ng-src="../images/header/phone40.png" alt="Re/Max phone icon")
          li.left.call-us.has-tip-left(title="Call Our Agents for a Free Consultation")
            span (847) 674-9797
      .col-md-4.one-stop-service
        img(ng-src="../images/header/One-Stop-Service-Text.png")
      .col-md-2.social-div
        .cocial-media
          a(class="social-img" href="https://www.facebook.com/pages/Remax-1st-CLASS/177448822432081" target="_blank" data-toggle="tooltip" data-placement="left" title="Our Facebook Page")
            img(ng-src="../images/header/facebook.png" alt="Skokie Remax First Class Facebook Profile")
          a(class="social-img" href="https://twitter.com/RemaxFirstClass" target="_blank" data-toggle="tooltip" data-placement="left" title="Our Twitter Page")
            img(ng-src="../images/header/twitter.png" alt="Skokie Remax First Class Twitter Profile")
          a(class="social-img" href="http://www.linkedin.com/profile/view?id=271875691&trk=nav_responsive_tab_profile" target="_blank" data-toggle="tooltip" data-placement="left" title="Our LinkedIn Page")
            img(ng-src="../images/header/linkedin.png" alt="Skokie Remax First Class LinkedIn Profile")
          a(class="social-img" href="https://plus.google.com" target="_blank" data-toggle="tooltip" data-placement="left" title="Our GooglePlus Page")
            img(ng-src="../images/header/google.png" alt="Skokie Remax First Class GooglePlus Profile")
          a(class="social-img" href="http://www.yelp.com/biz/remax-first-class-skokie" target="_blank" data-toggle="tooltip" data-placement="left" title="Our Yelp Page")
            img(ng-src="../images/header/yelp.png" alt="Skokie Remax First Class Yelp Profile")
          a(class="social-img" href="https://www.youtube.com/" target="_blank" data-toggle="tooltip" data-placement="left" title="Our YouTube Page")
            img(ng-src="../images/header/you_tube.png" alt="Skokie Remax First Class YouTube Profile")
        .heager-icons.custom-aligns
          ul.list-inline.ul-icons
            li.li-icon
              a(href="#" target="_blank" data-toggle="tooltip" data-placement="left" title="Re/Max 1st Class Home Page")
                img(ng-src="../images/header/home_remax1.png" alt="Re/Max 1st Class Home Page")
            li.li-icon
              a(href="#" target="_blank" data-toggle="tooltip" data-placement="left" title="Contact Re/Max 1st Class")
                img(ng-src="../images/header/mail_remax1.png" alt="Contact Re/Max 1st Class")

