
.header-container
  .container
    .header-wrapper
      .row
        .col-md-1.col-sm-12.logo-content
          a(href="#" title="")
            img(ng-src="../images/header/remax-lg.png" alt="Remax First Class Logo")
        .col-md-5.col-sm-12.slogan-text.text-center
          p YOU NEED ONLY ONE COMPANY
          p FOR ALL YOUR REAL ESTATE NEEDS

          ul.list-inline.ul-call-us
            li.callUsContent
              img( ng-src="../images/header/red-phone.png" alt="Re/Max phone icon")
            li.left.call-us.has-tip-left(title="Call Our Agents for a Free Consultation")
              span (847) 674-9797
        .col-md-4.col-sm-12.one-stop-service
          img.img-responsive(ng-src="../images/header/one-stop.png")
        .col-md-2.col-sm-12.social-media
          .row
            .col-lg-12.col-sm-12.col-xs-8.social-div
              .row
                .col-sm-12.col-xs-6.media-wrap-a
                  ul.list-inline
                    li
                      a(class="social-img" href="https://www.facebook.com/pages/Remax-1st-CLASS/177448822432081" target="_blank" data-toggle="tooltip" data-placement="left" title="Our Facebook Page")
                        img.img-responsive(ng-src="../images/header/facebook.png" alt="Skokie Remax First Class Facebook Profile")
                    li
                      a(class="social-img" href="https://twitter.com/RemaxFirstClass" target="_blank" data-toggle="tooltip" data-placement="left" title="Our Twitter Page")
                        img.img-responsive(ng-src="../images/header/twitter.png" alt="Skokie Remax First Class Twitter Profile")
                    li
                      a(class="social-img" href="http://www.linkedin.com/profile/view?id=271875691&trk=nav_responsive_tab_profile" target="_blank" data-toggle="tooltip" data-placement="left" title="Our LinkedIn Page")
                        img.img-responsive(ng-src="../images/header/linkedin.png" alt="Skokie Remax First Class LinkedIn Profile")
                .col-sm-12.col-xs-6.media-wrap-b
                  ul.list-inline
                    li
                      a(class="social-img" href="https://plus.google.com" target="_blank" data-toggle="tooltip" data-placement="left" title="Our GooglePlus Page")
                        img.img-responsive(ng-src="../images/header/google.png" alt="Skokie Remax First Class GooglePlus Profile")
                    li
                      a(class="social-img" href="http://www.yelp.com/biz/remax-first-class-skokie" target="_blank" data-toggle="tooltip" data-placement="left" title="Our Yelp Page")
                        img.img-responsive(ng-src="../images/header/yelp.png" alt="Skokie Remax First Class Yelp Profile")
                    li
                      a(class="social-img" href="https://www.youtube.com/" target="_blank" data-toggle="tooltip" data-placement="left" title="Our YouTube Page")
                        img.img-responsive(ng-src="../images/header/youtube.png" alt="Skokie Remax First Class YouTube Profile")
            .col-lg-12.col-sm-12.col-xs-4.icons-wrapper
              ul.list-inline.ul-icons.text-right
                li.li-icon
                  a(href="#" target="_blank" data-toggle="tooltip" data-placement="left" title="Re/Max 1st Class Home Page")
                    img.img-responsive(ng-src="../images/header/home-icon.png" alt="Re/Max 1st Class Home Page")
                li.li-icon
                  a(href="#" target="_blank" data-toggle="tooltip" data-placement="left" title="Contact Re/Max 1st Class")
                    img.img-responsive(ng-src="../images/header/main-icon.png" alt="Contact Re/Max 1st Class")

