.well.listing-basic-info-wrap
  .row
    .col-sm-6.col-xs-12
      h5.prop-type.text-info {{home|showSectionProp:'propertyType'}}
    .col-sm-6.col-xs-12
      sv-sale-type(home='home')
  .alert.alert-address
    .row
      .col-sm-12
        ul.list-inline
          li
            a.text-app.address-basic(ui-sref='app.remax-home({mls:home.$id})')
              | {{home|showSectionProp:'street'}},
              | {{home|showSectionProp:'city'}},
              | {{home|showSectionProp:'state'}}
              | {{home|showSectionProp:'zip'}}
          li.pull-right
            a.price-style(ui-sref='app.remax-home')
              | {{home|showSectionProp:'price'|currency:"$":0}}
  .app-content-five
    .row
      .col-sm-7
        sv-home-inline-info(home='home')
      .col-sm-5
        li
          ul.list-inline.text-right.ul-basic-social
            li
              sv-watch-list-buttons(mls='{{home.$id}}')
            li
              sv-share-property(shared-url='{{sharedUrl}}' home = 'home')
  .row
    .col-sm-7
      div(ng-if="!isRent")
        a.thumbnail(ui-sref='app.remax-home({mls:home.$id})')
          sv-photo-thumb(img='../images/houses/1.jpg' height='270')
      div(ng-if="isRent")
        a.thumbnail(ui-sref='app.remax-home-rent({mls:home.$id})')
          sv-photo-thumb(img='../images/houses/1.jpg' height='270')
    .col-sm-5
      .panel.panel-default.panel-basic-info
        h4 Basic Information
        hr
        p.basic-info-short
          | {{home|showSectionProp:'propertyDescription'}}
          span
            em
              a(ui-sref='app.remax-home({mls:home.$id})').read-more  Read more...
  .row
    .col-sm-7
      p.alert.alert-info.text-center
        i.fa.fa-sign-in.fa-fw
        | Please Sign-in to Receive Alerts for this Property
    .col-sm-5
      .call-remax-sm.text-center CALL US FOR A FREE CONSULTATION
      .remax-phone-sm.text-center
        i.fa.fa-mobile.fa-fw
        | (847) 674-9797

