div
  fa-app(style="height: 900px; width: 620px; margin: 0;" fa-background-color="blue")
    fa-grid-layout(fa-options='myGridLayoutOptions')
        fa-modifier(fa-scale='home.scale.get()' ng-repeat='home in homes' style='margin:5;padding:10' fa-size = '[200, 100]' fa-animate-enter='cubeEnter(home,$done)' fa-translate="boxTransitionable.get()")
          fa-image-surface(fa-image-url='images/houses/{{$index+1}}.jpg' fa-click='animate()').cursor-p

