.row.form-group(ng-form="form_{{inputName}}" ng-class="{'has-error':form_{{inputName}}.{{inputName}}.$touched && form_{{inputName}}.{{inputName}}.$invalid}")
  div(class='{{labelClass}}')
    label.contro-label {{label}}
  div(class='{{inputClass}}')
    input.form-control(sv-input-numbers sv-http-prefix class='{{fieldClass}}' placeholder='{{inputName}}' type='text' name='{{inputName}}' id='{{inputName}}' ng-required='isRequired' ng-model='inputModel')
  div(ng-messages='form_{{inputName}}.{{inputName}}.$error', style='color:maroon')
    div(ng-message='required') You did not enter a field
    div(ng-message='email') It is not a valid email
    div(ng-message='url') It is not a valid url
