.row.form-group(ng-form="form_{{inputName}}" ng-class="{'has-error':form_{{inputName}}.{{inputName}}.$touched && form_{{inputName}}.{{inputName}}.$invalid}")
  div(class='{{labelClass}}')
    label.contro-label {{label}}
  div(class='{{inputClass}}')
    input.form-control(sv-input-numbers ng-if='inputType==="number" inputType==="tel"' class='{{fieldClass}}' placeholder='{{inputName}}' type='text' name='{{inputName}}' id='{{inputName}}' ng-required='isRequired' ng-model='inputModel')
    input.form-control(sv-http-prefix ng-if='inputType!=="number" inputType!=="tel"' class='{{fieldClass}}' placeholder='{{inputName}}' type='{{inputType}}' name='{{inputName}}' id='{{inputName}}' ng-required='isRequired' ng-model='inputModel')
