div
  .row.form-group(ng-form="form_{{inputName}}" ng-cloak ng-class="{'has-error':form_{{inputName}}.{{inputName}}.$touched && form_{{inputName}}.{{inputName}}.$invalid}")
    div(class='{{labelClass}}')
      label.contro-label {{label}}
        span(ng-if="isRequired") *
    div(class='{{inputClass}}')
      input.form-control(sv-input-numbers sv-http-prefix class='{{fieldClass}}' placeholder='{{inputName}}' type='text' name='{{inputName}}' id='{{inputName}}' ng-required='isRequired' ng-model='inputModel')
  .row.form-group
    .col-sm-12
      div.form-helper(ng-messages='form_{{inputName}}.{{inputName}}.$error' ng-show="form_{{inputName}}.{{inputName}}.$touched" style='color:#db3136')
        div(ng-message='required') {{label}} field is required
        div(ng-message='email') It is not a valid {{label}}
        div(ng-message='url') It is not a valid {{label}}
