div
  .head-panel.cursor-p(ng-click='toggleShow()')
    .row
      .col-xs-12
        ul.list-inline
          li
            h4.text-info {{title}}
          li
            i.fa.fa-save.fa-fw
          li.pull-right
            i.fa.fa-angle-double-down.fa-fw(ng-show='isVisible')
            i.fa.fa-angle-double-up.fa-fw(ng-hide='isVisible')
  .panel.panel-default.panel-listing.info-slider(ng-show='isVisible')
    div(ng-transclude)

