div
  .row
    .col-sm-6.col-xs-12
      h5.prop-type.text-info Single Family Home
    .col-sm-6.col-xs-12.sale-type
      ul.list-inline
        li(ng-show="house['01_generalInformation']['08_short_sale'].value")
          h5.label.label-danger Short Sale
        li(ng-show="house['01_generalInformation']['10_bank_owned'].value")
          h5.label.label-info Bank Owned
        li(ng-show="house['01_generalInformation']['09_foreclosure'].value")
          h5.label.label-success Foreclosure
  .alert.alert-address
    .row
      .col-md-9.col-xs-12
        .text-app.address-basic
          | Morton Grove IL 60053
      .col-md-3.col-xs-12
        .price-style
          | $100,000
  .row
    .col-sm-12
      ul.inline-info-style.list-inline
        li
          i.fa.fa-check-circle-o.fa-fw
          | 1 bd
        li
          i.fa.fa-check-circle-o.fa-fw
          | 1 full & 1 half bath
        li
          i.fa.fa-check-circle-o.fa-fw
          | 2,000 sq ft
  .gallery-wrapper
    .row
      .col-sm-4
        a.thumbnail(ui-sref='app.profile.one-listing')
          img.img-responsive(ng-src="../images/houses/9.jpg")

  ul.list-unstyled
    li(ng-repeat='(k,v) in house')
      sv-listing-display-slider(house='house' title='{{k}}' update-house='updateHouse(sectionTitle,sectionContent)')
