div
  .row(ng-if='isTemplate')
    .col-xs-10
      h3 New Listing for Sale
    .col-xs-2
      button.btn.btn-sm.btn-info(ng-click='saveTemplate()') Save Listing
  hr
  div(ng-if='!isTemplate')
    .row
      .col-sm-6.col-xs-12
        h5.prop-type.text-info {{(house['01_generalInformation']['09_propertyType']).value}}
      .col-sm-6.col-xs-12
        sv-sale-type(house='house')
    .alert.alert-address
      .row
        .col-md-9.col-xs-12
          .text-app.address-basic {{(house['01_generalInformation']['09_propertyType']).value}}
        .col-md-3.col-xs-12
          .price-style  ${{(house['01_generalInformation']['08_price']).value}}

    sv-listing-inline-info
