.well.listing-basic-info-wrap
  h5.prop-type.text-info
    | Single Family Home
  .alert.alert-address
    .row
      .col-md-9.col-xs-12
        a.text-app.address-basic(ui-sref='app.profile.one-listing({mls:12345678})')
          | Morton Grove IL 60053
      .col-md-3.col-xs-12
        a.price-style(ui-sref='app.profile.one-listing')
          | $100,000
  .app-content-five
    .row
      .col-sm-7
        ul.list-inline.ul-basic-info
          li
            | MLS#: 123456 &nbsp |
          li
            | Year: 1980 &nbsp |
          li
            | Bedrooms: 1 &nbsp |
          li
            | Bathrooms: 1 &nbsp |
      .col-sm-5
        ul.list-inline.text-right.ul-basic-social
          li
            a(href='#')
              i.fa.fa-plus.fa-fw
              | Add to watch list
          li
            a(href='#')
              i.fa.fa-share-alt.fa-fw
              | Share
  .row
    .col-sm-7
      a.thumbnail(ui-sref='app.profile.one-listing({mls:012345678})')
        sv-photo-thumb(img='../images/houses/9.jpg' height='270')
      //img.img-responsive(ng-src="../images/houses/1.jpg")
    .col-sm-5
      .panel.panel-default.panel-basic-info
        h4 Basic Information
        hr
        p.basic-info-short At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
          | quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
          | similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
          | Quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
          | similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. &nbsp
          span
            em
              a(ui-sref='app.profile.one-listing({mls:012345678})').read-more  Read more...
  .row
    .col-sm-7
      p.alert.alert-info.text-center
        i.fa.fa-sign-in.fa-fw
        | Please Sign-in to Receive Alerts for this Property
    .col-sm-5
      .call-remax-sm.text-center CALL US FOR A FREE CONSULTATION
      .remax-phone-sm.text-center
        i.fa.fa-mobile.fa-fw
        | (847) 674-9797

