div
  .row
    .col-sm-6.col-xs-12
      h5.prop-type.text-info Single Family Home
    .col-sm-6.col-xs-12.sale-type
      h5.label.label-danger Short Sale
  .alert.alert-address
    .row
      .col-md-10
        .text-app.address-basic(ui-sref='app.profile.one-listing')
          | 123 Main St. Morton Grove IL 60053
      .col-md-2
        .price-style(ui-sref='app.profile.one-listing')
          | $100,000
  .row
    .col-sm-12
      ul.inline-info-style.list-inline
        li
          i.fa.fa-check-circle-o.fa-fw
          | 1 bd
        li
          i.fa.fa-check-circle-o.fa-fw
          | 1 full & 1 half bath
        li
          i.fa.fa-check-circle-o.fa-fw
          | 2,000 sq ft
  .gallery-wrapper
    .row
      .col-sm-4
        a.thumbnail(ui-sref='app.profile.one-listing')
          img.img-responsive(ng-src="../images/houses/1.jpg")
  .head-panel
    .row
      .col-xs-12
        ul.list-inline
          li
            h4.text-info Property Description
          li.pull-right
            a.pull-right(href="")
              i.fa.fa-angle-double-down.fa-fw
  .panel.panel-default.panel-listing
    .row
      .col-md-12
        p At vero eos et accusamus et iusto odio dignissimos ducimus
          | At vero eos et accusamus et iusto odio dignissimos ducimus
          | qui blanditiis praesentium voluptatum deleniti atque corrupti
          | quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
          | similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
          | Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,
          | cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus,
          | omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis
          | aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
          | Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias
          | consequatur aut perferendis doloribus asperiores repella
    .row
      .col-sm-6.col-xs-12
        ul.ul-data-just.list-unstyled
          li
            span Beds
            span 1
          li
            span Baths
            span 1
          li
            span Property Type
            span Single Family Home
          li
            span Year Built
            span 1980
          li
            span House Size
            span 2,000 sq ft
          li
      .col-sm-6.col-xs-12
        ul.ul-data-just.list-unstyled
          li
            span Est. Month. Payment
            span $123
          li
            span House Size
            span 2,000 sq ft
          li
            span Price/sqft
            span $Lorem
          li
            span Property Status
            span Active
          li
            span MLS #
            span 123456
  sv-home-slider(title='Kitchen' map='map' info='kitchenProps')
  sv-home-slider(title='Bedrooms' map='map' info='bedroomsProps')
  //.head-pan
  //  .row
  //    .col-xs-12
  //      ul.list-inline
  //        li
  //          h4.text-info Bedrooms
  //        li.pull-right
  //          a.pull-right(href="")
  //            i.fa.fa-angle-double-down.fa-fw
  //.panel.panel-default.panel-listing
  //  .row
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Beds:
  //          span 1
  //        li
  //          span Bedroom 1 size:
  //          span 8x15
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Bedroom 1 flooring:
  //          span Carpet
  //.head-panel
  //  .row
  //    .col-xs-12
  //      ul.list-inline
  //        li
  //          h4.text-info Bathrooms
  //        li.pull-right
  //          a.pull-right(href="")
  //            i.fa.fa-angle-double-down.fa-fw
  //.panel.panel-default.panel-listing
  //  .row
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Baths:
  //          span 1
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Bathroom 1 size:
  //          span 8x15
  //.head-panel
  //  .row
  //    .col-xs-12
  //      ul.list-inline
  //        li
  //          h4.text-info Dining Room
  //        li.pull-right
  //          a.pull-right(href="")
  //            i.fa.fa-angle-double-down.fa-fw
  //.panel.panel-default.panel-listing
  //  .row
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Type:
  //          span Separate
  //        li
  //          span Size:
  //          span Lorem
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Flooring:
  //          span Hard Wood
  //        li
  //          span Additional Features:
  //          span Lorem
  //.head-panel
  //  .row
  //    .col-xs-12
  //      ul.list-inline
  //        li
  //          h4.text-info Kitchen
  //        li.pull-right
  //          a.pull-right(href="")
  //            i.fa.fa-angle-double-down.fa-fw
  //.panel.panel-default.panel-listing
  //  .row
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Type:
  //          span Separate
  //        li
  //          span Size:
  //          span Lorem
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Flooring:
  //          span Hard Wood
  //        li
  //          span Additional Features:
  //          span Lorem
  //.head-panel
  //  .row
  //    .col-xs-12
  //      ul.list-inline
  //        li
  //          h4.text-info Living Room
  //        li.pull-right
  //          a.pull-right(href="")
  //            i.fa.fa-angle-double-down.fa-fw
  //.panel.panel-default.panel-listing
  //  .row
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Type:
  //          span Separate
  //        li
  //          span Size:
  //          span Lorem
  //        li
  //          span Level:
  //          span Lorem
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Flooring:
  //          span Hard Wood
  //        li
  //          span Additional Features:
  //          span Lorem
  //.head-panel
  //  .row
  //    .col-xs-12
  //      ul.list-inline
  //        li
  //          h4.text-info Basement
  //        li.pull-right
  //          a.pull-right(href="")
  //            i.fa.fa-angle-double-down.fa-fw
  //.panel.panel-default.panel-listing
  //  .row
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Type:
  //          span Separate
  //        li
  //          span Size:
  //          span Lorem
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Flooring:
  //          span Hard Wood
  //        li
  //          span Additional Features:
  //          span Lorem
  //.head-panel
  //  .row
  //    .col-xs-12
  //      ul.list-inline
  //        li
  //          h4.text-info Other Rooms
  //        li.pull-right
  //          a.pull-right(href="")
  //            i.fa.fa-angle-double-down.fa-fw
  //.panel.panel-default.panel-listing
  //  .row
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Type:
  //          span Separate
  //        li
  //          span Size:
  //          span Lorem
  //        li
  //          span Level:
  //          span Lorem
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Flooring:
  //          span Hard Wood
  //        li
  //          span Additional Features:
  //          span Lorem
  //.head-panel
  //  .row
  //    .col-xs-12
  //      ul.list-inline
  //        li
  //          h4.text-info Parking
  //        li.pull-right
  //          a.pull-right(href="")
  //            i.fa.fa-angle-double-down.fa-fw
  //.panel.panel-default.panel-listing
  //  .row
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Type:
  //          span Garage
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Features:
  //          span Lorem
  //.head-panel
  //  .row
  //    .col-xs-12
  //      ul.list-inline
  //        li
  //          h4.text-info Kitchen
  //        li.pull-right
  //          a.pull-right(href="")
  //            i.fa.fa-angle-double-down.fa-fw
  //.panel.panel-default.panel-listing
  //  .row
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Heating Type:
  //          span Lorem
  //        li
  //          span Cooling Type:
  //          span Lorem
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Home Features:
  //          span Hard Wood
  //        li
  //          span Exterior and Lot Features
  //          span Lorem
  //.head-panel
  //  .row
  //    .col-xs-12
  //      ul.list-inline
  //        li
  //          h4.text-info Building and Construction
  //        li.pull-right
  //          a.pull-right(href="")
  //            i.fa.fa-angle-double-down.fa-fw
  //.panel.panel-default.panel-listing
  //  .row
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span House Style:
  //          span Separate
  //        li
  //          span Level or stories:
  //          span Lorem
  //        li
  //          span Roof Type:
  //          span Lorem
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Foundation:
  //          span Hard Wood
  //        li
  //          span Exterior Building Type:
  //          span Hard Wood
  //        li
  //          span Additional Features:
  //          span Lorem
  //.head-panel
  //  .row
  //    .col-xs-12
  //      ul.list-inline
  //        li
  //          h4.text-info Utilitiess
  //        li.pull-right
  //          a.pull-right(href="")
  //            i.fa.fa-angle-double-down.fa-fw
  //.panel.panel-default.panel-listing
  //  .row
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Water:
  //          span Separate
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Sewer:
  //          span Hard Wood
  //.head-panel
  //  .row
  //    .col-xs-12
  //      ul.list-inline
  //        li
  //          h4.text-info Amenities and Communities Features
  //        li.pull-right
  //          a.pull-right(href="")
  //            i.fa.fa-angle-double-down.fa-fw
  //.panel.panel-default.panel-listing
  //  .row
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Elevator:
  //          span Separate
  //        li
  //          span Storage:
  //          span Lorem
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Sundeck:
  //          span -
  //        li
  //          span Bike Room:
  //          span Lorem
  //.head-panel
  //  .row
  //    .col-xs-12
  //      ul.list-inline
  //        li
  //          h4.text-info Bike Room
  //        li.pull-right
  //          a.pull-right(href="")
  //            i.fa.fa-angle-double-down.fa-fw
  //.panel.panel-default.panel-listing
  //  .row
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Oven/Range:
  //          span Yes
  //        li
  //          span Dishwasher:
  //          span Yes
  //        li
  //          span Washer:
  //          span Yes
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Dryer:
  //          span Yes
  //        li
  //          span Microwave:
  //          span Yes
  //        li
  //          span Refrigerator:
  //          span Yes
  //.head-panel
  //  .row
  //    .col-xs-12
  //      ul.list-inline
  //        li
  //          h4.text-info School Information
  //        li.pull-right
  //          a.pull-right(href="")
  //            i.fa.fa-angle-double-down.fa-fw
  //.panel.panel-default.panel-listing
  //  .row
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Elem Sch Distric:
  //          span 229
  //        li
  //          span Jr High District
  //          span 229
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span High Sch District:
  //          span 229
  //.head-panel
  //  .row
  //    .col-xs-12
  //      ul.list-inline
  //        li
  //          h4.text-info Other Property Info
  //        li.pull-right
  //          a.pull-right(href="")
  //            i.fa.fa-angle-double-down.fa-fw
  //.panel.panel-default.panel-listing
  //  .row
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Township:
  //          span Lorem
  //        li
  //          span ILCounty:
  //          span Lorem
  //    .col-sm-6.col-xs-12
  //      ul.ul-data-just.list-unstyled
  //        li
  //          span Directions:
  //          span Lorem
  //        li
  //          span School Bus Service:
  //          span Lorem
  //.head-panel
  //  .row
  //    .col-xs-12
  //      ul.list-inline
  //        li
  //          h4.text-info Location
  //        li.pull-right
  //          a.pull-right(href="")
  //            i.fa.fa-angle-double-down.fa-fw
  //.panel.panel-default.panel-listing
  //  .row
  //    .col-xs-12
  //      img.thumbnail.img-responsive(ng-src="../images/listing/map-mock.png")

