div
  .row
    .col-sm-6.col-xs-12
      h5.prop-type.text-info Single Family Home
    .col-sm-6.col-xs-12.sale-type
      h5.label.label-danger Short Sale
  .alert.alert-address
    .row
      .col-md-10
        .text-app.address-basic(ui-sref='app.profile.one-listing')
          | 123 Main St. Morton Grove IL 60053
      .col-md-2
        .price-style(ui-sref='app.profile.one-listing')
          | $100,000
  .row
    .col-sm-12
      ul.inline-info-style.list-inline
        li
          i.fa.fa-check-circle-o.fa-fw
          | 1 bd
        li
          i.fa.fa-check-circle-o.fa-fw
          | 1 full & 1 half bath
        li
          i.fa.fa-check-circle-o.fa-fw
          | 2,000 sq ft
  .gallery-wrapper
    .row
      .col-sm-4
        a.thumbnail(ui-sref='app.profile.one-listing')
          img.img-responsive(ng-src="../images/houses/1.jpg")
  .head-panel
    .row
      .col-xs-12
        ul.list-inline
          li
            h4.text-info Property Description
          li.pull-right
            a.pull-right(href="")
              i.fa.fa-angle-double-down.fa-fw
  .panel.panel-default.panel-listing
    .row
      .col-md-12
        p At vero eos et accusamus et iusto odio dignissimos ducimus
          | At vero eos et accusamus et iusto odio dignissimos ducimus
          | qui blanditiis praesentium voluptatum deleniti atque corrupti
          | quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
          | similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
          | Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,
          | cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus,
          | omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis
          | aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
          | Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias
          | consequatur aut perferendis doloribus asperiores repella
    .row
      .col-sm-6.col-xs-12
        ul.ul-data-just.list-unstyled
          li
            span Beds
            span 1
          li
            span Baths
            span 1
          li
            span Property Type
            span Single Family Home
          li
            span Year Built
            span 1980
          li
            span House Size
            span 2,000 sq ft
          li
      .col-sm-6.col-xs-12
        ul.ul-data-just.list-unstyled
          li
            span Est. Month. Payment
            span $123
          li
            span House Size
            span 2,000 sq ft
          li
            span Price/sqft
            span $Lorem
          li
            span Property Status
            span Active
          li
            span MLS #
            span 123456
  sv-home-slider(title='Bedrooms' map='map' info='bedroomsProps')
  sv-home-slider(title='Bathrooms' map='map' info='bathroomsProps')
  sv-home-slider(title='Kitchen' map='map' info='kitchenProps')
  sv-home-slider(title='Dining Room' map='map' info='diningroomProps')
  sv-home-slider(title='Living Room' map='map' info='livingroomProps')
  sv-home-slider(title='Other Rooms' map='map' info='otherroomsProps')
  sv-home-slider(title='Basement' map='map' info='basementProps')
  sv-home-slider(title='Parking' map='map' info='parkingProps')
  sv-home-slider(title='Property Features' map='map' info='propertyFeaturesProps')
  sv-home-slider(title='Building and Construction' map='map' info='buildingConstructionProps')
  sv-home-slider(title='Amenities and Communities Features' map='map' info='amenitiesCommunitiesProps')
  sv-home-slider(title='School Information' map='map' info='schoolInfoProps')
  sv-home-slider(title='Other Info' map='map' info='otherInfoProps')
  .head-panel
    .row
      .col-xs-12
        ul.list-inline
          li
            h4.text-info Location
          li.pull-right
            a.pull-right(href="")
              i.fa.fa-angle-double-down.fa-fw
  .panel.panel-default.panel-listing
    .row
      .col-xs-12
        img.thumbnail.img-responsive(ng-src="../images/listing/map-mock.png")
