div
  .head-panel.cursor-p
    .row
      .col-xs-12
        ul.list-inline
          li
            h4.text-info {{title | keyConversion}}
          li(ng-show='isVisible')
            button.btn.btn-link(ng-show='!isEdit' ng-click='editListing()')
              i.fa.fa-edit.fa-fw
            button.btn.btn-link(ng-show='isEdit' ng-click='updateHouse({house:house}); isEdit=false')
              i.fa.fa-save.fa-fw
            button.btn.btn-link(ng-show='isEdit' ng-click="cancelEditListing()")
              i.fa.fa-remove.fa-fw
          li.pull-right(ng-click='toggleShow()')
            a.pull-right(href="")
              i.fa.fa-angle-double-up.fa-fw(ng-show='isVisible')
              i.fa.fa-angle-double-down.fa-fw(ng-hide='isVisible')
  .panel.panel-default.panel-listing.info-slider(ng-show='isVisible')
    .row(ng-if="isSingleProp===1")
      .col-sm-12
        ul.ul-data-just.list-unstyled
          li.row(ng-repeat='(id, p) in house[title] track by $index')
            .col-xs-12(ng-if='!isEdit') {{p.value | boolToBinery}}
            //  edit
            .col-xs-12(ng-switch='p.type' ng-if='isEdit')
              sv-txt(ng-switch-when='txt' house='house' title='{{title}}' label='{{id}}')
              sv-chbx(ng-switch-when='chbx' house='house' title='{{title}}' label='{{id}}')
              sv-area(ng-switch-when='area' house='house' title='{{title}}' label='{{id}}')


    .row(ng-if="isSingleProp>1")
      .col-sm-6.col-xs-12
        ul.ul-data-just.list-unstyled
          li.row(ng-repeat='(id, p) in house[title] track by $index' ng-show='$even')
            div.bold.col-sm-5.col-xs-6 {{id | keyConversion}}:
            div.col-sm-7.col-xs-6(ng-if='!isEdit') {{p.value | boolToBinery}}
            div.col-sm-7.col-xs-6(ng-switch='p.type' ng-if='isEdit')
              sv-txt(ng-switch-when='txt' house='house' title='{{title}}' label='{{id}}')
              sv-chbx(ng-switch-when='chbx' house='house' title='{{title}}' label='{{id}}')
              sv-area(ng-switch-when='area' house='house' title='{{title}}' label='{{id}}')
      .col-sm-6.col-xs-12
        ul.ul-data-just.list-unstyled
          li.row(ng-repeat='(id, p) in house[title] track by $index' ng-show='$odd')
            div.bold.col-sm-5.col-xs-6 {{id | keyConversion}}:
            div.col-sm-7.col-xs-6(ng-if='!isEdit') {{p.value | boolToBinery}}
            div.col-sm-7.col-xs-6(ng-switch='p.type' ng-if='isEdit')
              sv-txt(ng-switch-when='txt' house='house' title='{{title}}' label='{{id}}')
              sv-chbx(ng-switch-when='chbx' house='house' title='{{title}}' label='{{id}}')
              sv-area(ng-switch-when='area' house='house' title='{{title}}' label='{{id}}')

    sv-add-feature(house='house' title='{{title}}' ng-if='isEdit' is-area-hidden='isAreaHidden')

