div
  sv-listing-sale-header(house='house' is-template='isTemplate' )
  .gallery-wrapper
    .row
      .col-sm-4
        a.thumbnail(ui-sref='app.profile.one-listing')
          img.img-responsive(ng-src="../images/houses/9.jpg")
  ul.list-unstyled
    li(ng-repeat='(k,v) in house')
      sv-listing-display-slider(house='house' title='{{k}}' is-template='isTemplate' update-house='updateHouse(sectionTitle,sectionContent)')
