.well.listing-basic-info-wrap
  h5.prop-type.text-info
    | {{home.generalInformation.propertyType.value}}
  .alert.alert-address
    .row
      .col-sm-12
        ul.list-inline
          li
            a.text-app.address-basic(ui-sref='app.profile.one-listing({mls:home.generalInformation.mls.value})')
              | {{home.generalInformation.street.value}}
              | {{home.generalInformation.city.value}}
              | {{home.generalInformation.state.value}}
              | {{home.generalInformation.zip.value}}
          li.pull-right
            a.price-style(ui-sref='app.profile.one-listing')
              | ${{home.generalInformation.price.value}}
  .app-content-five
    .row
      .col-sm-7
        ul.ul-basic-info.list-inline
          li
            i.fa.fa-check-circle-o.fa-fw
            | MLS# {{home.generalInformation.mls.value}}
          li
            i.fa.fa-check-circle-o.fa-fw
            | {{home.bedrooms.bedrooms.value}} beds
          li
            i.fa.fa-check-circle-o.fa-fw
            | {{home.bathrooms.fullBathrooms.value}} full baths
          li
            i.fa.fa-check-circle-o.fa-fw
            | {{home.generalInformation.propertySize.value}} sq ft
      .col-sm-5
          li
            ul.list-inline.text-right.ul-basic-social
              li
                a(href='#')
                  i.fa.fa-plus.fa-fw
                  | Add to watch list
              li
                a(href='#')
                  i.fa.fa-share-alt.fa-fw
                  | Share
  .row
    .col-sm-7
      a.thumbnail(ui-sref='app.profile.one-listing({mls:$id})')
        sv-photo-thumb(img='../images/houses/1.jpg' height='270')
      //img.img-responsive(ng-src="../images/houses/1.jpg")
    .col-sm-5
      .panel.panel-default.panel-basic-info
        h4 Basic Information
        hr
        p.basic-info-short
          | {{home.propertyDescription.propertyDescription.value}}
          span
            em
              a(ui-sref='app.profile.one-listing({mls:$id})').read-more  Read more...
  .row
    .col-sm-7
      p.alert.alert-info.text-center
        i.fa.fa-sign-in.fa-fw
        | Please Sign-in to Receive Alerts for this Property
    .col-sm-5
      .call-remax-sm.text-center CALL US FOR A FREE CONSULTATION
      .remax-phone-sm.text-center
        i.fa.fa-mobile.fa-fw
        | (847) 674-9797

