div
  .head-panel.cursor-p
    .row
      .col-xs-12
        ul.list-inline
          li
            h4.text-info {{title | keyConversion}}
          li
            button.btn.btn-link(ng-show='!isEdit' ng-click='editListing()')
              i.fa.fa-edit.fa-fw
            button.btn.btn-link(ng-show='isEdit')(ng-click='updateHouse({house:house})')
              i.fa.fa-save.fa-fw
          li.pull-right(ng-click='toggleShow()')
            a.pull-right(href="")
              i.fa.fa-angle-double-up.fa-fw(ng-show='isVisible')
              i.fa.fa-angle-double-down.fa-fw(ng-hide='isVisible')
  .panel.panel-default.panel-listing.info-slider(ng-show='isVisible')
    .row(ng-if='title==="2_propertyDescription"')
      .col-md-12
        p(ng-if='!isEdit') {{house[title]}}
        sv-area(ng-if='isEdit' house='house' label='{{title}}' area='area')
    .row(ng-if='title!=="2_propertyDescription"')
      .col-sm-6.col-xs-12
        ul.ul-data-just.list-unstyled
          li(ng-repeat='(id, p) in info' ng-hide='$even')
            span {{id | keyConversion}} :
            span {{p | boolToBinery}}

      .col-sm-6.col-xs-12
        ul.ul-data-just.list-unstyled
          li(ng-repeat='(id, p) in info' ng-hide='$odd')
            span {{id | keyConversion}} :
            span {{p | boolToBinery}}

