div
  .row
    .col-sm-6.col-xs-12
      h5.prop-type.text-info Single Family Home
    .col-sm-6.col-xs-12.sale-type
      h5.label.label-danger Short Sale
  .alert.alert-address
    .row
      .col-md-10
        .text-app.address-basic(ui-sref='app.profile.one-listing')
          | 123 Main St. Morton Grove IL 60053
      .col-md-2
        .price-style(ui-sref='app.profile.one-listing')
          | $100,000
  .row
    .col-sm-12
      ul.inline-info-style.list-inline
        li
          i.fa.fa-check-circle-o.fa-fw
          | 1 bd
        li
          i.fa.fa-check-circle-o.fa-fw
          | 1 full & 1 half bath
        li
          i.fa.fa-check-circle-o.fa-fw
          | 2,000 sq ft
  .gallery-wrapper
    .row
      .col-sm-4
        a.thumbnail(ui-sref='app.profile.one-listing')
          img.img-responsive(ng-src="../images/houses/9.jpg")

  ul.list-unstyled
    li(ng-repeat='(k,v) in house')
      sv-listing-display-slider(title='{{k | keyConversion}}' info='v' description="{{house1.description.main}}")

  //sv-listing-display-slider(title='G' info='house1.description.prop' description="{{house1.description.main}}" initially-open='true')
  //
  //sv-listing-display-slider(title='Bedrooms' info='house1.rooms.bedrooms')
  //sv-listing-display-slider(title='Bathrooms' info='house1.rooms.bathrooms')
  //sv-listing-display-slider(title='Kitchen' info='house1.rooms.kitchen')
  //sv-listing-display-slider(title='Dining Room' info='house1.rooms.diningroom')
  //sv-listing-display-slider(title='Living Room' info='house1.rooms.livingroom')
  //sv-listing-display-slider(title='Other Rooms' info='house1.rooms.otherrooms')
  //sv-listing-display-slider(title='Basement' info='house1.rooms.basement')
  //sv-listing-display-slider(title='Parking' info='house1.rooms.parking')
  //sv-listing-display-slider(title='Property Features' info='house1.propertyFeatures')
  //sv-listing-display-slider(title='Building and Construction' info='house1.buildingConstruction')
  //sv-listing-display-slider(title='Amenities and Communities Features' info='house1.amenitiesCommunities')
  //sv-listing-display-slider(title='School Information' info='house1.schoolInfo')
  //sv-listing-display-slider(title='Other Info' info='house1.otherInfo')
  //.head-panel
  //  .row
  //    .col-xs-12
  //      ul.list-inline
  //        li
  //          h4.text-info Location
  //        li.pull-right
  //          a.pull-right(href="")
  //            i.fa.fa-angle-double-down.fa-fw
  //.panel.panel-default.panel-listing
  //  .row
  //    .col-xs-12
  //      img.thumbnail.img-responsive(ng-src="../images/listing/map-mock.png")
