.well
  .row
    .col-md-10
      h4.alert.alert-address  5506 Lincoln Ave Unit 512 Morton Grove IL 60053
    .col-md-2
      h4.price-style.text-info
        | $100,000
  .row
    .col-sm-12
      h5
        em
          | Property Type: Condo
  .row
    .col-sm-7
      a.thumbnail(href='#')
        img.img-responsive(ng-src="../images/houses/1.jpg")
    .col-sm-5
      .panel.panel-default.panel-basic-info
        h4 Basic Information
        hr
        p.basic-info-short At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
          | quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
          | similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
          | Quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
          | similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
          span
            em
              a(href='#').read-more
                | Read more...

