ul.ul-basic-info.list-inline
  li
    i.fa.fa-check-circle-o.fa-fw
    | MLS# {{house.$getRecord('generalInformation').mls.value}}
  li
    i.fa.fa-check-circle-o.fa-fw
    | {{house.$getRecord('bedrooms').bedrooms.value}} beds
  li
    i.fa.fa-check-circle-o.fa-fw
    | {{house.$getRecord('bathrooms').fullBathrooms.value}} full baths
  li
    i.fa.fa-check-circle-o.fa-fw
    | {{house.$getRecord('generalInformation').propertySize.value}} sq ft

