div
  .row
    .col-sm-6.col-xs-12
      h5.prop-type.text-info Single Family Home
    .col-sm-6.col-xs-12.sale-type
      h5.label.label-danger Short Sale
  .alert.alert-address
    .row
      .col-md-10
        .text-app.address-basic(ui-sref='app.profile.one-listing')
          | 123 Main St. Morton Grove IL 60053
      .col-md-2
        .price-style(ui-sref='app.profile.one-listing')
          | $100,000
  .row
    .col-sm-12
      ul.inline-info-style.list-inline
        li
          i.fa.fa-check-circle-o.fa-fw
          | 1 bd
        li
          i.fa.fa-check-circle-o.fa-fw
          | 1 full & 1 half bath
        li
          i.fa.fa-check-circle-o.fa-fw
          | 2,000 sq ft
  .gallery-wrapper
    .row
      .col-sm-4
        a.thumbnail(ui-sref='app.profile.one-listing')
          img.img-responsive(ng-src="../images/houses/9.jpg")

  ul.list-unstyled
    li(ng-repeat='(k,v) in house')
      sv-listing-display-slider(title='{{k}}' info='v' house='house' update-house='updateHouse(house)')
  .head-panel
    .row
      .col-xs-12
        ul.list-inline
          li
            h4.text-info Location
          li.pull-right
            a.pull-right(href="")
              i.fa.fa-angle-double-down.fa-fw
  .panel.panel-default.panel-listing
    .row
      .col-xs-12
        img.thumbnail.img-responsive(ng-src="../images/listing/map-mock.png")
