ul.ul-basic-info.list-inline
  li
    i.fa.fa-check-circle-o.fa-fw
    | MLS# 123456
  li
    i.fa.fa-check-circle-o.fa-fw
    | 1 bd
  li
    i.fa.fa-check-circle-o.fa-fw
    | 1 full & 1 half bath
  li
    i.fa.fa-check-circle-o.fa-fw
    | 2,000 sq ft

