
.selected-prop-info-container
  h5 Address
  table.table.table-condensed.table-bordered.table-responsive
    tbody.text-left
      tr
        td Sqaure
        td 145 feets
      tr
        td Bedrooms
        td 6
      tr
        td Price
        td {{144.000 | currency}}
  a.more-info-listiong(href='#')
    | More Information




