div
  h3.white More Information
  table.table.table-bordered
    thead
      tr
        th Feature
        th Value
    tbody.text-left
      tr
        td Sqaure
        td 100 feets
      tr
        td Bedrooms
        td 6
      tr
        td Bathrooms
        td 6
      tr
        td Dining Room
        td Separate
      tr.success
        td Price
        td {{144.000 | currency}}



