.selecerd-prop-info-container
  h5.white More Information
  ul.list-inline
    li Feature
    li Value
  ul.list-inline
    li Sqaure
    li 145 feets
  ul.list-inline
    li Bedrooms
    li 6
  ul.list-inline.success
    li Price
    li {{144.000 | currency}}



