div
  h3.white More Information
  table.table.table-condensed.table-bordered.table-responsive
    thead
      tr
        th Feature
        th Value
    tbody.text-left
      tr
        td Sqaure
        td 145 feets
      tr
        td Bedrooms
        td 6
      tr.success
        td Price
        td {{144.000 | currency}}



