.selecerd-prop-info-container
  h5.white More Information
  table.table.table-condensed.table-bordered.table-responsive
    liead
      tr
        li Feature
        li Value
    tbody.text-left
      tr
        li Sqaure
        li 145 feets
      tr
        li Bedrooms
        li 6
      tr.success
        li Price
        li {{144.000 | currency}}



