
.acc-wrapper
  .acc-title(ng-click='toggle()') 1234 Gold Rd, Skokie, 60676
  .acc-add-info(ng-show='isVisible').accord-house.ng-hide
    p More Info About House
    p More Info About House
    p More Info About House
    p More Info About House
    p More Info About House


