.row
  .col-sm-12
    h1 Photo Galery
    fa-app.slider-img-wrapper
      fa-modifier(fa-opacity='selectedImage.opacity.get()' fa-translate='[20,5,0]' )
        fa-surface(fa-size = '[680, 460]' fa-background-color="'blue'")
          .row
            img.thumbnail.col-xs-12(ng-src="{{selectedImage.url}}")
    fa-app.slider-container
      fa-surface.slider-surface
        fa-modifier(fa-translate='[0,0,0]')
          fa-surface(fa-click='slideLeft()' fa-size="[40, 120]" ).cursor-p
            a.btn.btn-link.btn-slide
              i.fa.fa-angle-left.fa-3x
        fa-modifier(fa-translate='[678,0,0]')
          fa-surface(fa-click='slideRight()' fa-size="[40, 120]").cursor-p
            a.btn.btn-link.btn-slide
              i.fa.fa-angle-right.fa-3x
        fa-app.slider-wrapper
          fa-scroll-view(fa-pipe-from='scrollHandler' id='imageScroll' fa-options='options.imageScroll')
            fa-view(ng-repeat='image in faImages track by $index')
              fa-modifier(fa-align="[5,0]" fa-size='[128,120]')
                fa-surface(fa-pipe-to='scrollHandler'  fa-click='setSelectedImage(image,$done)'  fa-background-color="'lightgoldenrodyellow'").cursor-p
                  img.thumbnail(ng-src="{{image.url}}").nav-image
