.row
  .col-sm-12
    h1 Photo Galery
    hr
    fa-app.img-gallery-wrapper
      fa-modifier(fa-translate='[10,10,0]' fa-opacity='selectedImage.opacity.get()' )
        fa-surface(fa-size="[700, 480]")
          img.thumbnail.main-gal-img(ng-src="{{selectedImage.url}}")


      fa-modifier(fa-translate='[40,500,0]')
        fa-scroll-view.slider-container(fa-pipe-from='scrollHandler' id='imageScroll' fa-options='options.imageScroll')
          fa-view(ng-repeat='image in faImages track by $index')
            fa-modifier(fa-align="[5,0]" fa-size='[128,120]')
              fa-surface(fa-pipe-to='scrollHandler'  fa-click='setSelectedImage(image,$done)'  fa-background-color="'white'").cursor-p
                img.thumbnail(ng-src="{{image.url}}").nav-image

      fa-modifier(fa-translate='[0,500,0]')
        fa-surface.cursor-p(fa-size="[40, 120]" fa-background-color="'white'" fa-click='slideLeft()')
          a.btn.btn-link.btn-slide
            i.fa.fa-angle-left.fa-3x

      fa-modifier(fa-translate='[680,500,0]')
        fa-surface(fa-size="[40, 120]" fa-background-color="'white'" fa-click="slideRight()")
          a.btn.btn-link.btn-slide
            i.fa.fa-angle-right.fa-3x
