.row
  .col-sm-12
    h1 Photo Galery
    hr
    fa-app(ng-style='galleryStyle' style='overflow:hidden')
      fa-modifier(fa-translate='[10,10,0]' fa-opacity='selectedImage.opacity.get()' )
        fa-surface
          img(ng-style='galleryStyle' ng-src="{{selectedImage.url}}")
      fa-modifier(fa-translate='[{{thumbSize/2}},{{verticalShift}},0]')
        fa-scroll-view(fa-pipe-from='scrollHandler' id='imageScroll' fa-options='options.imageScroll')
          fa-view(ng-repeat='image in faImages track by $index')
            fa-modifier(fa-size='[{{1.1*thumbSize}},{{1.1*thumbSize}}]')
              fa-surface(fa-pipe-to='scrollHandler'  fa-click='setSelectedImage(image,$done)'  fa-background-color="'white'").cursor-p
                sv-photo-thumb(height='{{thumbSize}}' width='{{thumbSize}}' img="{{image.url}}")

      fa-modifier(fa-translate='[0,{{verticalShift}},0]')
        fa-surface.cursor-p(fa-size='[{{thumbSize/2}},{{thumbSize}}]' fa-background-color="'white'" fa-click='slideLeft()')
          a.btn.btn-link.btn-slide
            i.fa.fa-angle-left(class='{{arrowClass}}')

      fa-modifier(fa-translate='[{{horizontalShift}},{{verticalShift}},0]')
        fa-surface(fa-size='[{{thumbSize/2}},{{thumbSize}}]' fa-background-color="'white'" fa-click="slideRight()")
          a.btn.btn-link.btn-slide
            i.fa.fa-angle-right(class='{{arrowClass}}')
