.row
  .col-sm-12
    h1 Photo Galery
    fa-app.slider-img-wrapper
      fa-sequential-layout(fa-options='sequentialOptions')
        fa-view(fa-size='[160,50]')
          fa-modifier(fa-translate='[0,0,1]')
            fa-surface Surface One
        fa-view(fa-size='[160,50]')
          fa-modifier(fa-translate='[0,0,1]')
            fa-surface Surface Two

