div(ng-switch="selected" ng-init="selected=1")
  .slider-wrapper
    .slider-content(ng-switch-when='1')
      .thumbnail
        sv-photo-thumb(img='../images/houses/1.jpg' height='480')
    .slider-content(ng-switch-when='2')
      .thumbnail
        sv-photo-thumb(img='../images/houses/2.jpg' height='480')
    .slider-content(ng-switch-when='3')
      .thumbnail
        sv-photo-thumb(img='../images/houses/3.jpg' height='480')
    .slider-content(ng-switch-when='4')
      .thumbnail
        sv-photo-thumb(img='../images/houses/4.jpg' height='480')
    .slider-nav-remax
      .pics-slider
        .pic-th
          sv-photo-thumb(img='../images/houses/1.jpg' height='70' ng-click='selected=1')
        .pic-th
          sv-photo-thumb(img='../images/houses/2.jpg' height='70' ng-click='selected=2')
        .pic-th
          sv-photo-thumb(img='../images/houses/3.jpg' height='70' ng-click='selected=3')
        .pic-th
          sv-photo-thumb(img='../images/houses/1.jpg' height='70' ng-click='selected=4')
