.row
  .col-xs-12
    h1 Photo Galery2
    hr
    div(ng-show="faImages.length")
      fa-app(ng-style='galleryStyle' )
        fa-modifier(fa-opacity='selectedImage.opacity.get()' )
          fa-surface
            img.thumbnail(ng-src="{{selectedImage.url}}" style="width:{{imageWidth}}px")
        fa-modifier(fa-translate='[{{thumbWidth/2.3}},{{verticalShift}},0]')
          fa-scroll-view(id='imageScroll' fa-options='options.imageScroll' fa-pipe-from='scrollHandler')
            fa-view(ng-repeat='image in faImages track by $index')
              fa-modifier(fa-size='[{{thumbWidth}},{{thumbHeight}}]')
                fa-modifier(fa-size='[{{thumbWidth*.9}},{{.64*thumbWidth}}]' fa-align="[0.5, 0.5]" fa-origin="[0.5, 0.5]")
                  fa-surface.cursor-p(fa-click='setSelectedImage(image,$done)' fa-pipe-to='scrollHandler' )
                    sv-photo-thumb(img="{{image.url}}" height='{{0.64*thumbWidth}}' width='{{.9*thumbWidth}}' )

        fa-modifier(fa-translate='[0,{{verticalShift}},0]' fa-size="[{{imageWidth}}, {{thumbHeight}}]")
          fa-modifier(fa-origin="[0, 0]" fa-align="[0, 0]" fa-size='[{{thumbWidth/2.3}},{{thumbHeight}}]' )
            fa-surface.slider-button(fa-click="slideLeft()" )
              a.btn.btn-link.btn-slide.text-center(style='height:{{thumbWidth/4}}px')
                i.fa.fa-angle-left(class='{{arrowClass}}')

          fa-modifier(fa-origin="[1, 0]" fa-align="[1, 0]"  fa-size='[{{thumbWidth/2.3}},{{thumbHeight}}]')
            fa-surface.slider-button(fa-click="slideRight()")
              a.btn.btn-link.btn-slide.text-center(style='height:{{thumbWidth/4}}px')
                i.fa.fa-angle-right(class='{{arrowClass}}')
