.row
  .col-sm-12
    h1 Photo Galery
    hr
    fa-app(ng-style='galleryStyle' style='overflow:hidden;background-color:green; ')
      fa-modifier(fa-opacity='selectedImage.opacity.get()' fa-size="[{{1*width}},{{height}}]")
        fa-modifier(fa-align="[0.5, 0.5]" fa-origin="[0.5, 0.5]" fa-size="[{{0.98*width}},{{0.98*height}}]")
          fa-surface(fa-background-color="'red'"  )

