.listing(id='home-listing' ng-if='home')
  sv-spinner(ng-show='isDataLoading')

  div(ng-hide='isDataLoading')
    sv-home-header(home='home' is-rent='isRent' is-template='isTemplate' save-template='saveTemplate()' is-draft='isDraft' del-draft='delDraft')
    .form-group(ng-if='isEditable')
      button.btn.btn-default-app(ng-click='showGalleryModal()')
        i.fa.fa-picture-o.fa-fw &nbsp
        | Add/Edit Images
    .gallery-wrapper(ng-if='!isTemplate')
      .row
        .col-sm-12
          sv-photo-gallery(images='images' ng-if='images')

  form(name="homeform" id="form" novalidate='novalidate')
    ul.list-unstyled
      li(ng-repeat='section in home|homeFilter:"brokers,images" |orderBy:"order"')
        sv-home-display-slider(section='section' is-template='istemplate' update-home-section='updateHomeSection(section)')
