h3.bg-info.bg-custom Our selected property
.elements-wrapper
  .row
    .col-md-3.col-sm-6.col-xs-12
      sv-selected-house(id='1' )
    .col-md-3.col-sm-6.col-xs-12
      sv-selected-house(id='2' )
    .col-md-3.col-sm-6.col-xs-12
      sv-selected-house(id='3' )
    .col-md-3.col-sm-6.col-xs-12
      sv-selected-house(id='5' )
