.sale-type
  ul.list-inline
    li(ng-show="home|showSectionProp:'shortSale'")
      h5.label.label-danger Short Sale
    li(ng-show="home|showSectionProp:'bankOwned'")
      h5.label.label-info Bank Owned
    li(ng-show="home|showSectionProp:'foreclosure'")
      h5.label.label-success Foreclosure
