.align-center
  fa-app(style='width:500px;height:100px;background-color:green')
    fa-modifier(fa-size='[100, 100]', fa-translate='myTransitionable.get()')
      fa-surface(fa-background-color='"red"', fa-properties="switchButtonStyle" fa-click='switchSaleRent()').cursor-p
        div
          h4.text-center Sale/Rent



