.align-center
  fa-app(style='width:{{w}};height:{{h}}px;background-color:green')
    fa-modifier(fa-size='[{{h}}, {{h}}]', fa-translate='myTransitionable.get()')
      fa-surface(fa-background-color='"red"', fa-click='switchSaleRent()').cursor-p
        div Sale/Rent


