button.btn.btn-default.text-right(placeholder='Sort Home Listings'
ng-model='sortBy.val'
data-html='1'
ng-options='sortType.value as sortType.label for sortType in sortTypes',
bs-select='types') Sort Home Listings &nbsp
  span.caret
