.align-center
  fa-app(style='width:{{w}};height:{{1.4*h}}px;background-color:inherit')
    fa-modifier(fa-size='[{{.3*w}}, {{h}}]'
    fa-translate='myTransitionable.get()')
      fa-surface(
      fa-properties="switcherStyle",
      fa-click='switchSaleRent()' fa-background-color="'red'").cursor-p


