h3.bg-info.bg-custom Our selected property
.elements-wrapper
  .row
    .col-md-3.col-sm-6.col-xs-12.elements-nav
      sv-selected-house(id='0' houses='houses')
    .col-md-3.col-sm-6.col-xs-12.elements-nav
      sv-selected-house(id='1' houses='houses')
    .col-md-3.col-sm-6.col-xs-12.elements-nav
      sv-selected-house(id='2' houses='houses')
    .col-md-3.col-sm-6.col-xs-12.elements-nav
      sv-selected-house(id='2' houses='houses')
