.search-tabs-wrapper
  ul.nav.nav-tabs(role="tablist")
    li.active
      a(href="#home" role="tab" data-toggle="tab") PROPERTY FOR SALE
    li
      a(href="#profile" role="tab" data-toggle="tab") PROPERTY FOR RENT
  .tab-content.search-tabs-content
    .tab-pane.active(id="home") At vero eos et accusamus et iusto odio dignissimos ducimus
    .tab-pane(id="profile") accusamus et iusto odio dignissimos ducimus

