.row
  .col-xs-12
    table.table.table-hover
      thead
        tr.row
          th.col-xs-3
            | Date Created
          th.col-xs-3
            | Search Name
          th.col-xs-5
            | Search Details
          th.col-xs-1
      tbody
        tr.row
          td.col-xs-3.saved-search-date
            span {{search.date|date:'short'}}
          td.col-xs-4
            a(href='#' editable-text='search.name' buttons="no" e-required e-placeholder="Enter name") {{search.name|keyConversion}} &nbsp
              i.fa.fa-edit.fa-fw
          td.col-xs-4
            ul.list-unstyled
              li(ng-repeat='(k,v) in search|property:"date"|property:"name"')
                span {{k}}: {{v}}
          td.col-xs-1
            button.btn.btn-primary.btn-sm(ng-click='runSearch()' data-toggle="tooltip" data-placement="top" title="Run this Search")
              | Run
          td.col-xs-1
            sv-btn-remove-search(key='{{search.$id}}')


