
.selected-house-wrapper.text-center
  a.thumbnail
    img.img-responsive(ng-src="../images/houses/{{id}}.jpg" sv-image-resize).selected-house
  .row
    .col-xs-12.info-wrapper(ng-if='isInfoVisible').prop-info
      .thumbnail(ng-style="{width:'{{imgWidth}}'}")
        .selected-house-info.text-center
          sv-more-info-animated(ng-style="{height:'{{imgHeight}}'}")
