div
  button.btn.btn-default.btn-sm(ng-if='!isRunFromSaved' ng-click='saveThisSearch()' ng-disabled='isQueryEmpty')
    i.fa.fa-save.fa-fw
    | Save this Search
  h4.text-info(ng-if='isRunFromSaved')
    i.fa.fa-check.fa-fw
    | {{searchSaved}}
