.search-tabs-wrapper
  ul.nav.nav-tabs(role="tablist")
    li.active
      a(href="#home" role="tab" data-toggle="tab") PROPERTY FOR SALE
    li
      a(href="#profile" role="tab" data-toggle="tab") PROPERTY FOR RENT

