.nav-container
  .navbar-auth
    .container
      span.real-estate-rc RESIDENTIAL, COMMERCIAL & INVESTMENT REAL ESTATE
      ul.list-inline.pull-right.nav-auth
        li(ng-if='user')
          sv-link-user-profile(user='user' user-name='{{user.first_name}}' logout-fb='logoutFb()')
        li(ng-if='user')
          sv-broker-dashboard
        li(ng-show='!user')
          a.btn-link-light(data-sv-login-popover='')
            i.fa.fa-sign-out.fa-lg
            span.auth-text Sign In
        li(ng-if='user')
          sv-btn-notifications
  .navbar.navbar-default.navbar-app(role="navigation")
    .container
      <!-- Brand and toggle get grouped for better mobile display -->
      .navbar-header
        button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.btn-link-light(ui-sref='app.home')
          h1.h-logo REMAX FIRST CLASS
      <!-- Collect the nav links, forms, and other content for toggling -->
      .collapse.navbar-collapse.navbar-remax(id="bs-example-navbar-collapse-1")
        ul.nav.navbar-nav.top-nav-menu
          li
            a.btn.btn-link.btn-link-light(ui-sref='app.home')
              span.text Home
          li.dropdown.drop-app.menu-link
            a.dropdown-toggle.btn-link-light(data-toggle="dropdown")
              span.text Listings
              i.fa.fa-angle-down
            ul.dropdown-menu(role="menu")
              li
                a(ui-sref='app.all-sale-homes') All listings
              li.divider
              li
                a Bensenville
              li.divider
              li
                a Des Plaines
              li.divider
              li
                a Evanston
              li.divider
              li
                a Glenview
              li.divider
              li
                a Highland Park
              li.divider
              li
                a Lake Forest
              li.divider
              li
                a Lincolnwood
              li.divider
              li
                a Morton Grove
              li.divider
              li
                a Niles
              li.divider
              li
                a North Chicago
              li.divider
              li
                a Northbrook
              li.divider
              li
                a Northfield
              li.divider
              li
                a Park Ridge
              li.divider
              li
                a Riverwoods
              li.divider
              li
                a Rosemont
              li.divider
              li
                a Skokie
              li.divider
              li
                a Wilmette
              li.divider
              li
                a Winnetka
          li.dropdown.drop-app.menu-link
            a.dropdown-toggle.btn-link-light(href="#" data-toggle="dropdown")
              span.text About
              i.fa.fa-angle-down
            ul.dropdown-menu(role="menu")
              li
                a(ui-sref='app.why-remax') Why Remax 1st Class?
              li
                a(ui-sref='app.agents') Our Agents
              li
              li
                a(ui-sref='app.personal-consultations') Become a Remax 1st Class Agent
          li
            a.btn.btn-link.btn-link-light(ui-sref='app.contact')
              span.text Contact

        //form.navbar-form.navbar-left(role="search")
        //  .form-group
        //    input.form-control(type="text" placeholder="Search")
        //  button.btn.btn-default.btn-search(type="submit") Submit
