div
  ul.nav.nav-tabs(role="tablist")
    li(ng-class='{active:$index===tabActive}' ng-repeat="tab in tabs")
      a.cursor-p(role="tab" ng-click='setActiveTab($index)') {{tab.title}}
  .tab-content
    .tab-pane.active
    //ng-include(src='tabs[tabActive].view')

  ul
    li(ng-repeat='t in tests')
      span(ng-class="{'bg-red':$middle}")   {{t}}

