div
  ul.nav.nav-tabs(role="tablist")
    li.active(ng-repeat="(k,v) in tabs2")
      a.cursor-p(role="tab")(ng-click='setActiveTab(k)') {{k}}
  .tab-content
    .tab-pane.active
      ng-include(src='tabs2[tabActive]')
