
<div class="navbar navbar-default">
  <div class="container navbar-custom">
    <div class="navbar-header">
      <h1 class="logo-text">Feng Shui Blog</h1>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a ui-sref="app.home" class="btn btn-link">Home</a></li>
      <li><a ui-sref="app.about" class="btn btn-link">About</a></li>
      <li><a ui-sref="app.contact" class="btn btn-link">Contact Us</a></li>
      <li ng-show="!auth.user"><a ui-sref="app.login" class="btn btn-link">Login</a></li>
      <li ng-show="auth.user"><a ng-click="fenLogout()" class="btn btn-link">Log Out</a></li>
    </ul>
  </div>
</div>