.navbar.navbar-default.navbar-app(role="navigation")
  .container
    <!-- Brand and toggle get grouped for better mobile display -->
    .navbar-header
      button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.btn-link-light(ui-sref='app.home')
        h1.h-logo REMAX FIRST CLASS
    <!-- Collect the nav links, forms, and other content for toggling -->
    .collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
      ul.nav.navbar-nav.top-nav-menu
        li
          a.btn.btn-link.btn-link-light(ui-sref='app.home')
            .i.fa.fa-home
            span.text Главная
        li.dropdown.drop-app.menu-link
          a.dropdown-toggle.btn-link-light(ui-sref="#" data-toggle="dropdown")
            .i.fa.fa-leaf
            span.text Наши услуги
            i.fa.fa-angle-down
          ul.dropdown-menu(role="menu")
            li
              a(ui-sref='app.residential-consultations') Фэн-шуй для Вашего Дома
            li.divider
            li
              a(ui-sref='app.business-consultations') Фэн-шуй для Вашего Бизнеca
            li.divider
            li
              a(ui-sref='app.personal-consultations') Персональные концультации
            li.divider

            li
              a(ui-sref="app.schedule-consultations") Запланировать концультацию
        li
          a.btn.btn-link.btn-link-light(ui-sref='app.contact')
            i.fa.fa-envelope
            span.text Обратная связь

      //form.navbar-form.navbar-left(role="search")
      //  .form-group
      //    input.form-control(type="text" placeholder="Search")
      //  button.btn.btn-default.btn-search(type="submit") Submit
      ul.nav.navbar-nav.pull-right.nav-auth
        li(ng-show='!auth.user')
          a.btn-link-light(data-sv-login-popover='')
            i.fa.fa-sign-out.fa-lg
            span.span-top-nav Войти
        li(ng-if='auth.user.provider==\'facebook\'')
          a.btn-link-light(ui-sref='{{userLink}}')
            span.span-top-nav {{userName}}
            img.img-fb(ng-src="{{userPic}}")
        li(ng-if='auth.user.provider==\'password\'')
          a.btn-link-light
            i.fa.fa-user.fa-lg
            span.fb-name Админ
        li(ng-show='auth.user')
          a.btn-link-light(ng-click='fenLogout()')
            i.fa.fa-sign-out.fa-lg
            span.span-top-nav Выйти
