/**********************
      =Variables
***********************/
/*Bootstrap classes*/
.form-group {
  margin-bottom: 10px;
}
label {
  margin-bottom: 0px;
}
/**********************
      =Mixins
***********************/
/*Remax*/
/*align to center img etc.*/
/*Template*/
/*comma-list*/
.table-elements {
  margin: 0 auto;
}
