.form-group {
  margin-bottom: 10px;
}
label {
  margin-bottom: 0px;
}
.table-elements {
  margin: 0 auto;
}
.app-background {
  background-color: #f00;
}
fa-app {
  overflow: hidden;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.slider-button {
  background-color: #fff;
}
.btn-slide {
  vertical-align: middle;
  display: block;
  line-height: 0.8em;
  position: relative !important;
  -webkit-transform: translateY(35%) !important;
  -ms-transform: translateY(35%);
  -webkit-transform: translateY(35%);
  -moz-transform: translateY(35%);
  -o-transform: translateY(35%);
  -ms-transform: translateY(35%);
  transform: translateY(35%);
  cursor: pointer;
}
.trans-origin {
  -webkit-backface-visibility: visible !important;
  -webkit-backface-visibility: visible !important;
  -moz-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
}
#rotation-sign {
  width: 408px;
  height: 108px;
}
/**********************
    =Upload Images Modal
***********************/
.my-drop-zone h3 {
  color: #9e9e9e;
}
.ul-temp-uploaded li {
  position: relative;
}
.btn-remove-uploaded {
  position: absolute;
  top: 5px;
  right: 20px;
}
