h1  Новости Фенгшуй
hr
.tr
  .col-lg-12
    .pull-right.btn-wrapper
      sv-add-post-modal(ng-show='isAdmin', posts="posts")
.tr
  .col-lg-12
    ul.slide-view.list-unstyled
      li(ng-repeat="(key,post) in posts | orderBy:'time':true")
        sv-article.pull-left
