ul.custom-list
	li vero
	li accusamus
	li iusto
table#users
	tr
		th 1
		th 2
		th 3
	tr
		td At vero eos
		td dignissimos ducimus
		td At vero eos
	tr
		td At vero eos
		td dignissimos ducimus
		td At vero eos
.custom-object
div
	.pull-right.btn-wrapper
		a.btn-add-article(href="")
			i.fa.fa-pencil Add New Post
	h4(ng-show="auth.user") Hello {{email}}
	sv-add-article
	sv-article
	hr
	sv-article

