br
.row
  .col-md-3
    .r:.el1
      .va ОГОНЬ
      .more.el1-more
        .va Info
  .col-md-3
    .r:.el2
      .va ТВЕРДОЕ ДЕРЕВО
      .more.el2-more
        .va Info
  .col-md-3
    .r:.el3
      .va МЯГКОЕ ДЕРЕВО
      .more.el3-more
        .va Info
  .col-md-3
    .r:.el4
      .va ВОДА
      .more.el4-more
        .va Info
br
.row
  .col-md-3
      .r:.el5
        .va ТВЕРДЫЙ МЕТАЛЛ
        .more.el5-more
          .va Info
  .col-md-3
      .r:.el6
        .va МЯГКИЙ МЕТАЛЛ
        .more.el6-more
          .va Info
  .col-md-3
      .r:.el7
        .va ГОРНАЯ ЗЕМЛЯ
        .more.el7-more
          .va Info
  .col-md-3
      .r:.el8
        .va МАТЬ ЗЕМЛЯ
        .more.el8-more
          .va Info

h1  Timeline
hr
.tr
  .col-lg-12
    .pull-right.btn-wrapper
      sv-add-post-modal(ng-show='isAdmin', posts="posts")
.tr
  .col-lg-12
    ul.slide-view.list-unstyled
      li(ng-repeat="(key,post) in posts | orderBy:'time':true")
        sv-article.pull-left
