h1  Новости Фэн-шуй
hr
.tr
  .pull-right.btn-wrapper
    sv-add-post-modal(ng-show='isAdmin', posts="posts")
.tr
  ul.slide-view.list-unstyled
    li(ng-repeat="(key,post) in posts | orderBy:'time':true")
      sv-article.pull-left

