h1  Timeline
hr
div
  .pull-right.btn-wrapper
    sv-add-post-modal(ng-show='isAdmin', posts="posts")
div
  ul.list-unstyled
    li(ng-repeat="(key,post) in posts | orderBy:'time':true")
      sv-article
