<div class="row">
	<div class="large-9 columns" role="content">
		<h4 ng-show="auth.user">Hello {{email}}</h4>
		<sv-article></sv-article>
		<hr/>
		<sv-article></sv-article>
	</div>
	<aside class="large-3 columns">
		<sv-aside-nav></sv-aside-nav>
		<sv-aside-panel></sv-aside-panel>
	</aside>
</div>
<footer class="row">
	<div class="large-12 columns">
		<hr/>
		<div class="row">
			<div class="large-6 columns">
				<p>© Copyright no one at all. Go to town.</p>
			</div>
			<div class="large-6 columns">
				<sv-footer-nav></sv-footer-nav>
			</div>
		</div>
	</div>
</footer>
    