.row
  aside.col-lg-3.left-sidebar
    sv-aside-nav
    .elements-nav-wrapper
      sv-elements-nav
    .sidebar-content
      sv-your-element
      sv-aside-panel
  .col-lg-9.content-wrapper
    div(ui-view='')


