.popover.broker-app-popover
  .arrow
  h3.popover-title Broker Application
  .popover-content
    form.editable-form.app-form(name='form', id='form' novalidate)
      .form-group
        input.form-control(type='text' name='fname' id='fname' ng-model='applicant.fname' placeholder="First Name" required)
      .form-group
        input.form-control(type='text' name='lname' id='lname' ng-model='applicant.lname' placeholder="Last Name" required)
      .form-group
        input.form-control(type='text' name='email' id='email' ng-model='applicant.email' placeholder="Email" required)
      .form-group
        button.btn.btn-primary.btn-sm.btn-save(ng-click='submitBrokerApp();$hide()' ng-disabled='form.$invalid' )
          i.fa.fa-check.fa-fw
          | Submit
        button.btn.btn-default.btn-sm.btn-cancel(ng-click='$hide()')
          i.fa.fa-times.fa-fw
          | Cancel
