.popover.broker-app-popover
  .arrow
  h3.popover-title Delete this broker account?
  .popover-content
    button.btn.btn-danger.btn-sm.btn-save(ng-click='deleteBroker(broker);$hide()')
      i.fa.fa-check.fa-fw
      | Delete
    button.btn.btn-default.btn-sm.btn-cancel(ng-click='$hide()')
      i.fa.fa-times.fa-fw
      | Cancel
