.popover
  .arrow
  .popover-content.notifications-popover
    ul.list-unstyled
      li
        a
          i.fa.fa-info-circle.fa-fw
          | New Listing 1
      li
        a
          i.fa.fa-info-circle.fa-fw
          | New Listing 2

