.popover.broker-app-popover
  .arrow
  h3.popover-title Share this Property
  .popover-content
    ul.list-inline
      li
        a.facebookShare(shares='shares' url='sharedUrl' facebook='') {{ shares }}
      li
        button.btn.btn-default.btn-sm(ng-click='$hide()')
          i.fa.fa-times.fa-fw
          | Cancel
