.popover.broker-app-popover
  .arrow
  h3.popover-title Share this Property
  .popover-content
    ul.list-inline
      li
        button.btn.btn-default.btn-sm(ng-click='shareHome();$hide')
          i.fa.fa-facebook.fa-fw
          | Share
      li
        button.btn.btn-default.btn-sm(ng-click='$hide()')
          i.fa.fa-times.fa-fw
          | Cancel
