.popover.broker-app-popover
  .arrow
  h3.popover-title Share this Property
  .popover-content
    button.btn.btn-default
      i.fa.fa-facebook.fa-fw
      | Share on Facebook
    button.btn.btn-default.btn-sm.btn-cancel(ng-click='$hide()')
      i.fa.fa-times
      | Cancel
