.popover.broker-app-popover
  .arrow
  h3.popover-title Share this Property
  .popover-content
    ul.list-inline
      li
        button.btn.btn-primary.btn-sm(data-shares='shares', data-url='http://google.com', facebook='') {{ shares }}
          i.fa.fa-facebook.fa-fw
          | Share
      li
        .facebookShare(data-shares='shares', data-url='http://google.com', facebook='') {{ shares }}
      li
        button.btn.btn-default.btn-sm(ng-click='$hide()')
          i.fa.fa-times.fa-fw
          | Cancel
