.popover
  .arrow
  .popover-content.notifications-popover
    ul.list-unstyled
      li
        a
          i.fa.fa-info-circle.fa-fw
          | New Listings
      li
        a
          i.fa.fa-info-circle.fa-fw
          | Price: Low to High
      li
        a
          i.fa.fa-info-circle.fa-fw
          | Price: High to Low
      li
        a
          i.fa.fa-info-circle.fa-fw
          | Price Reduced

