.popover
  .arrow
  .popover-content.user-profile-popover
    ul.list-unstyled
      li
        a(ui-sref='app.profile.user-profile')
          i-i.fa.fa-gear.fa-fw
          | Profile Settings
      li
        a(ng-click='logoutFb()')
          i.fa.fa-sign-out.fa-fw
          | Sign Out
