/********************************/
/*prop-info animation*/
/*********************************/

/*remax-house-y = 115px*/

/*.prop-info.ng-enter,*/
/*.prop-info.ng-hide-add,*/
/*.prop-info.ng-hide-remove,*/
/*.prop-info.ng-leave*/
/*position absolute*/
/*transition(1s)*/

/*.prop-info.ng-enter,*/
/*.prop-info.ng-hide-remove,*/
/*.prop-info.ng-hide-add.ng-hide-add-active,*/
/*.prop-info.ng-leave.ng-leave-active*/
/*opacity 0*/
/*top -(remax-house-y)*/
/*z-index 99*/

/*.prop-info.ng-enter.ng-enter-active,*/
/*.prop-info.ng-hide-add,*/
/*.prop-info.ng-hide-remove.ng-hide-remove-active,*/
/*.prop-info.ng-leave*/
/*opacity 1*/
/*top 0px*/
/*z-index 99*/

/***********************/
/*Selected House*/
/************************/

.selected-house-wrapper
  position relative
  cursor pointer

.info-wrapper
  top 0px
  position absolute
  .thumbnail
    background-color color-off-white
    opacity .85

.selected-house-info
  border 1px color-border-light solid
  border-radius 5px
  color color-skin
  padding-left 0px
  padding-right 0px
  position relative
  z-index 99

.selected-house
  cursor pointer !important

.selected-prop-info-container
  padding 5px
  table
    margin-bottom 0px
  tbody
    tr
      th
        color color-skin
        font-size 9px !important
      td
        font-size 9px !important
        padding-top 3px
        padding-bottom 3px
  h5
    color color-skin
    margin-top 0px
    margin-bottom 3px
    font-size 10px !important
    font-weight 700
  a

    font-size 10px
    color color-skin
    &:hover
    &:active
    &:focus
      text-decoration none

/*******************************
     svv animation
********************************/

.svv.ng-enter,
.svv.ng-hide-add,
.svv.ng-hide-remove,
.svv.ng-leave
  position relative
  transition(1s)

.svv.ng-enter,
.svv.ng-hide-remove,
.svv.ng-hide-add.ng-hide-add-active,
.svv.ng-leave.ng-leave-active
  opacity 0
  top -200px

.svv.ng-enter.ng-enter-active,
.svv.ng-hide-add,
.svv.ng-hide-remove.ng-hide-remove-active,
.svv.ng-leave
  opacity 1
  top 0px

//*******************************

/*******************************
     svv animation
********************************/

.svv.ng-enter,
.svv.ng-hide-add,
.svv.ng-hide-remove,
.svv.ng-leave
  position relative
  transition(1s)

.svv.ng-enter,
.svv.ng-hide-remove,
.svv.ng-hide-add.ng-hide-add-active,
.svv.ng-leave.ng-leave-active
  opacity 0
  left 200px

.svv.ng-enter.ng-enter-active,
.svv.ng-hide-add,
.svv.ng-hide-remove.ng-hide-remove-active,
.svv.ng-leave
  opacity 1
  left 0px

//*******************************

/*******************************
     svv animation
********************************/

.svv.ng-enter,
.svv.ng-hide-add,
.svv.ng-hide-remove,
.svv.ng-leave
  position relative
  transition(1s)

.svv.ng-enter,
.svv.ng-hide-remove,
.svv.ng-hide-add.ng-hide-add-active,
.svv.ng-leave.ng-leave-active
  opacity 0
  left 200px

.svv.ng-enter.ng-enter-active,
.svv.ng-hide-add,
.svv.ng-hide-remove.ng-hide-remove-active,
.svv.ng-leave
  opacity 1
  left 0px

//*******************************

/*******************************
     svv animation
********************************/

.svv.ng-enter,
.svv.ng-hide-add,
.svv.ng-hide-remove,
.svv.ng-leave
  position relative
  transition(1s)

.svv.ng-enter,
.svv.ng-hide-remove,
.svv.ng-hide-add.ng-hide-add-active,
.svv.ng-leave.ng-leave-active
  opacity 0
  left 200px

.svv.ng-enter.ng-enter-active,
.svv.ng-hide-add,
.svv.ng-hide-remove.ng-hide-remove-active,
.svv.ng-leave
  opacity 1
  left 0px

//*******************************
