
/*******************************
     notice animation
********************************/
@-webkit-keyframes myfirst {
  from {background: red;}
  to {background: yellow;}
}
@keyframes myfirst {
  from {background: red;}
  to {background: yellow;}
}
.notice.ng-hide-add,
.notice.ng-leave
  position relative
  animation: myfirst 5s;
  -webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */

.notice.ng-hide-remove,
.notice.ng-enter
  position relative
  animation: myfirst 5s;
  -webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */

@keyframes notice_animation_go
 0%
  opacity 1
 100%
  opacity 0

@keyframes notice_animation_come
 0%
  opacity 0
 100%
  opacity 1

//*******************************

/*******************************
     svv animation
********************************/

.svv.ng-hide-add,
.svv.ng-leave
  position relative
  animation 1s svv_animation_go

.svv.ng-hide-remove,
.svv.ng-enter
  position relative
  animation 1s svv_animation_come

@keyframes svv_animation_go
 0%
  opacity 1
  top 0px
 100%
  opacity 0
  top 200px

@keyframes svv_animation_come
 0%
  opacity 0
  top 200px
 100%
  opacity 1
  top 0px

//*******************************

/*******************************
     svv animation
********************************/

.svv.ng-hide-add,
.svv.ng-leave
  position relative
  animation 1s svv_animation_go

.svv.ng-hide-remove,
.svv.ng-enter
  position relative
  animation 1s svv_animation_come

@keyframes svv_animation_go
 0%
  opacity 1
 100%
  opacity 0

@keyframes svv_animation_come
 0%
  opacity 0
 100%
  opacity 1

//*******************************
