.modal
  .modal-dialog
    .modal-content.modal-dialog-wishlist
      .modal-header
        button.close(ng-click='$hide()') &times
        h3.modal-title(ng-bind='title')
      .modal-body.modal-wishlist
        sv-image-upload

