div
  h1 Admin Panel
  ul.list-inline
    li
      a(ui-sref='app.admin.broker-applications') Broker Applications
    li
    li
      a(ui-sref='app.admin.registered-brokers') Registered Brokers
hr
ui-view


