h1 Обратная связь
hr
.panel.panel-default.contact-address
	address
		h6.business-name Feng Shui Truth & Tips
		br
		abbr(title="Phone") P: (123)
		| 456-7890
	address
		a(href="mailto:#") info.fengshuitips.com
