h1 Обратная связь
button(ng-click='isDivShown=!isDivShown') Toggle
hr
.panel.panel-default.contact-address.my-special-animation(ng-if='isDivShown')
  address
    h6.business-name Feng Shui Truth & Tips
    br
    abbr(title="Phone") P: (123)
    | 456-7890
  address
    a(href="mailto:#") info.fengshuitips.com
