h1 Обратная связь
button(ng-click='isDivShown=!isDivShown') Toggle
hr
.panel.panel-default.contact-address
	address
		h6.business-name Элизабет Черний
	address
		a(href="mailto:elcherny1@gmail.com") elcherny1@gmail.com
