h1 Обратная связь
hr
.panel.panel-default.contact-address
  address
    h6.business-name Элизабет Черний
  address
    a(href="mailto:elcherny1@gmail.com") elcherny1@gmail.com
div
  button.btn.btn-sm.btn-warning(ng-init='isShown=true' ng-click='isShown=!isShown') Animate
  .animation-test(ng-show='isShown').tog
