h1 Contact Us
	hr
	.panel.panel-default.contact-address
		address
			span.business-name Your Business Name
			br
			| 795 Folsom Ave, Suite 600
			| Chicago IL 60630
			br
			abbr(title="Phone") P: (123)
			| 456-7890
		address
			strong Full Name
			br
			a(href="mailto:#") first.last@example.com