.row
  .col-sm-12
    h1 Contact Us
    hr
    fa-app(style='background-color:blue;height:640px')
      fa-modifier(fa-translate='[10,10,0]')
        fa-surface(fa-size="[700, 480]" fa-background-color="'white'")
      fa-modifier(fa-translate='[0,500,0]')
        fa-surface(fa-size="[720, 120]" fa-background-color="'green'")
      fa-modifier(fa-translate='[0,500,0]')
        fa-surface(fa-size="[40, 120]" fa-background-color="'gray'")
      fa-modifier(fa-translate='[680,500,0]')
        fa-surface(fa-size="[40, 120]" fa-background-color="'gray'")


