h3 My Home Listings
hr
sv-tabs(tabs2='tabs2' homes='brokerHomes')
//.drafts-container
//  ul.row.list-inline
//    li.col-sm-12(ng-repeat='(key, home) in brokerHomes')
//      sv-home-basic-info(home='home')
