.one-stop-service
  .container
    .row
      .col-sm-6
        sv-home-panel
      .col-sm-6
//.container.content-wrapper
//  .row
//    .col-sm-12
//      sv-home-info
//  .row
//    .col-sm-12
//      sv-selected-property
