.container
  .row
    .col-sm-12.content-wrapper
      h1 Welcome to Remax 1st Class Realty
      hr
      p Remax 1st Class Realty is a &nbsp;
        em Real Estate Company &nbsp;
        | located in &nbsp;
        em Skokie, IL. &nbsp;
        | We offer a comprehensive service in real estate.
        | We can help to buy, sell or manage residential property,
        | assist in finding the best mortgage conditions as well as find professional attorneys to get all paper prepared.
        | We have successful experience in short sales and always have a great investment opportunities.
        | Our main price range is from 35k till 500k,
        | though we also have experience and listings in luxury market.
      h3.bg-info.bg-custom Our first line districts are:
      .row
        .col-md-3.col-xs-6
          ul.list-unstyled.ul-first-line
            li
              a(ui-sref='app.residential-consultations') Bensenville
            li
              a(ui-sref='app.business-consultations') Des Plaines
            li
              a(ui-sref='app.personal-consultations') Evanston
            li
              a(ui-sref="app.schedule-consultations") Glenview
        .col-md-3.col-xs-6
          ul.list-unstyled.ul-first-line
            li
              a Highland Park
            li
              a Lake Forest
            li
              a Lincolnwood
            li
              a Morton Grove
        .col-md-3.col-xs-6
          ul.list-unstyled.ul-first-line
            li
              a Niles
            li
              a North Chicago
            li
              a Northbrook
            li
              a Northfield
        .col-md-3.col-xs-6
          ul.list-unstyled.ul-first-line
            li
              a Park Ridge
            li
              a Riverwoods
            li
              a Skokie
            li
              a Winnetka

      sv-selected-property

