.row
  .col-sm-12
    h3 My Listings
    hr
.drafts-container
  ul.row.list-inline
    li.col-sm-12(ng-repeat='(key, listing) in listings') {{key.listing}}
      sv-listing-basic-info(listing='listing')
