.row
  .col-sm-12
    h3 My Listings
    hr
.drafts-container
  ul.row.list-inline
    li.col-sm-6(ng-repeat='draft in listings')
      sv-listing-draft-sm(draft='draft' post-draft='postDraft(mls)' remove-draft='removeDraft(mls)')
