div
  sv-listing-basic-info
.row
  .col-sm-3
    a.thumbnail
      sv-photo-thumb(img='../images/houses/1.jpg' height='120')
  .col-sm-3
    a.thumbnail
      sv-photo-thumb(img='../images/houses/2.jpg' height='120')
  .col-sm-3
    a.thumbnail
      sv-photo-thumb(img='../images/houses/5.jpg' height='120')
  .col-sm-3
    a.thumbnail
      sv-photo-thumb(img='../images/houses/9.jpg' height='120')

