div
  ul.list-unstyled
    li(ng-repeat="broker in brokers")
      .row
        .col-sm-1
          div {{$index+1}}
        .col-sm-2
          div {{broker.profile.firstName}}
        .col-sm-2
          div {{broker.profile.lastName}}
        .col-sm-4
          div {{broker.profile.email}}
        .col-sm-2
          .form-group
            sv-delete-broker-info(delete-broker='deleteBroker(broker)')
