sv-spinner(ng-show='isDataLoading')
div(ng-hide='isDataLoading')
  .row
    .col-sm-12
      h5 Found {{homes.length}} homes
      hr
      sv-pagination(total-pages='totalPages' current-page='currentPage')
  .drafts-container
    ul.row.list-inline
      li.col-sm-12(ng-repeat='(key, home) in homes|startFrom:currentPage|limitTo:paging')
        sv-home-basic-info(home='home')

      sv-pagination(total-pages='totalPages' current-page='currentPage')
