div
  fa-app(ng-style='{"width":"300px"}')
    fa-flexible-layout(fa-options='flex')
      fa-grid-layout(fa-options='grid')
        fa-view
          fa-surface
            img(ng-src="/images/houses/10.jpg")
        fa-view
          fa-surface
            img(ng-src="/images/houses/9.jpg")



