div(ng-switch="user.profileType")
  div(ng-switch-when="broker")
    sv-broker-application(fname='firstName' lname='lastName' email='email')
  div(ng-switch-when="customer")
    sv-broker-application(fname='firstName' lname='lastName' email='email')


