h3 My Profile
hr
.row
  .col-sm-7
    sv-user-info-form
  .col-sm-5
    sv-broker-application(fname='firstName' lname='lastName' email='email')
    sv-email-alert-settings(fname='firstName' lname='lastName' email='email')

